<div class="weui_cells_title">
    账户充值
</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd">
            <label class="weui_label">金额</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="amount" type="tel" class="weui_input" name="amount" placeholder="请输入充值金额"/>
        </div>
    </div>
</div>
<div class="weui_btn_area">
    <a id="confirm" class="weui_btn weui_btn_primary">确认金额</a>
</div>
<div class="weui_dialog_confirm" id="bind_dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">您还没有绑定微信</strong></div>
        <div class="weui_dialog_bd" sytle="text-align:center;">微信支付</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">返回</a>
        	<a href="javascript:;" class="weui_btn_dialog primary">绑定</a>
        </div>
    </div>
</div>
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">加载中</p>
    </div>
</div>
<script type="text/javascript" src="${path.concat('/plugins/pingxx/pingpp_one.js')}"></script>
<script>
    document.addEventListener('pingpp_one_ready', function () {
        $("#confirm").click(function () {
        	if(!is_weixin()){
	    		alert("请在微信中打开");
	    		return;
	    	}
	    	var url = "${path.concat('/agent/checkbinding')}"
	    	$.get(url, function(result){
	    		if(result.responseCode == "RESPONSE_NULL"){
	    			$("#bind_dialog").show();
	    			return;
	    		}
	    		if(result.responseCode == "RESPONSE_ERROR"){
	    			window.location == "${path.concat('/agent/login')}";
	    		} else {
		            var amount = $("#amount").val();
		            var data = result.data;
	    			var open_id = data.wechat;
		            pingpp_one.init({
		                app_id: "app_K4evXLKq50O8CuL8",
		                amount: amount,
		                channel: ['alipay_wap', 'wx_pub'],
		                charge_url: "${path.concat('/account/deposit')}",
		                charge_param: {},
		                open_id: open_id,
		                debug: false
		            }, function (result) {
		                //debug 模式下获取 charge_url 的返回结果
		                if (result.debug && result.chargeUrlOutput) {
		                    console.log(result.chargeUrlOutput);
		                }
		                if (!result.status) {
		                    //处理错误
		                    alert(result.msg);
		                }
		                else {
		                    //debug 模式下调用 charge_url 后会暂停，可以调用 pingpp_one.resume 方法继续执行
		                    if (result.debug && !result.wxSuccess) {
		                        if (confirm('当前为 debug 模式，是否继续支付？')) {
		                            pingpp_one.resume();
		                        }
		                    }
		                    //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，
		                    //调用 pingpp_one.success 方法，你也可以自己定义回调函数
		                    //其他渠道的处理方法请见第 2 节
		                    else pingpp_one.success(function (result) {
		                        if (!result.status) {
		                            alert(result.msg);
		                        }
		                    }, function () {
		                        //这里处理支付成功页面点击“继续购物”按钮触发的方法，
		                        //例如：若你需要点击“继续购物”按钮跳转到你的购买页，
		                        //则在该方法内写入 window.location.href = "你的购买页面 url"
		                        window.location.href = 'http://www.yuncaogangmu.com/account/info';//示例
		                    });
		                }
		            });
		         }
	         });
        });
    });
    
     function is_weixin() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            return true;
        } else {
            return false;
        }
    }
</script>