body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #fbf9fe;
    line-height: 1.6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page_title{
	text-align: center;
    font-size: 2.125em;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

button.weui_btn{
	width:40%;
}
	
.weui_btn_default,.weui_btn_primary{
	margin-top:6%;
}