body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: #EFEFF4;
}

.head,main{
	width:100%;
	box-shadow:0 0 5px #ccc;
	padding-top:0.4em;
	padding-bottom:0.4em;
	background-color: #ffffff;
}

main{
	overflow:hidden;
}

.gap{
    width:100%;
    height:0.6em;
}

.head h4{
	position:relative;
    width:90%;
    margin:0 auto;
	color:#d0c080;
	font:bold 1.2em/2em Arial, sans-serif;
}

.list{
	width:100%;
}

.list .item:nth-child(odd){
	border-bottom:1px solid #EFEFF4;
	border-right:1px solid #EFEFF4;
}

.list .item:nth-child(even){
	border-bottom:1px solid #EFEFF4;
}

.list .item:nth-last-child(2){
	border-bottom:0;
}

.list .item:nth-child(2){
	border-bottom:1px solid #EFEFF4;
}

.list .item:last-child{
	border-bottom:0;
}

.item{
    width:50%;
    box-sizing:border-box;
    float:left;
    padding-top:0.8em;
    padding-bottom:0.8em;
}

.upper{
    position:relative;
    height:0;
    width:80%;
    padding-bottom:80%;
    margin:0 auto;
}

.upper img{
    position:absolute;
    width:100%;
    height:100%;
}

.middle,.down{
    position:relative;
    width:80%;
    margin:0 auto;
}

.middle p{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	font:normal 0.9em/2em Arial, sans-serif;
	margin-top:0.2em;
}

.down p{
	color:#d0c080;
	font:normal 1em/2em Arial, sans-serif;
}

.notice{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 1;
}
