body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #e6e6e6;
}

.unslider{
	position: relative;
	height:46%;
    background: #fff;
    color: #666;
    text-align: center;
    text-shadow: none;
    border-radius: 0.375em;
    overflow: visible;
}

.unslider-fade{
	position:absolute;
    top: 0;
    width:100%;
    height:100%;	
	z-index:1;
}

.unslider-fade img{
	width:100%;
	height:100%;
}


.unslider-nav{
    position: absolute;
    bottom: 0;
    width:100%;
    height:1.25em;
    z-index:2;
}


.unslider-nav ol {
    list-style: none;
    text-align: center;
}

.unslider-nav ol li {
    display: inline-block;
    float: none;
    width: 0.05em;
    height: 0.05em;
    margin: 0 0.25em;
    padding: 0.1875em;
    background: transparent;
    border-radius: 0.3125em;
    overflow: hidden;
    text-indent: -999em;
    border: 0.125em solid #666;
    cursor: pointer;
    opacity: .4;
}

.unslider-nav li {
    font-size:0.875em;
}

.unslider-nav ol li.unslider-active {
    background: #666;
	cursor: default;
	opacity: 1;
}

.goods_information{
    position:relative;
    height:12%;
    width:100%;
    background: #ffffff;
    border-bottom: 0.0625em solid #e1e1e1;
}

.goods_name{
	text-align:left;
	margin-left:0.8em;
	padding-top:0.2em;
}

.goods_name h2{
	font-size:1.1em;
	margin:0 auto;
	font-weight:normal;
}

.price{
	margin-left:0.5em;
}

.common_price{
	float:left;
    font-size:1.3em;
    color:#fe8181;
}
 
.pre_price{
	color:#808080;
    float:left;
    font-size:1.3em;
    text-decoration:line-through;
}

.now_price{
    float:left;
    margin-left:0.2em;
    font-size:1.3em;
    color:#fe8181;
}

.post{
	float:right;
	margin-top:1.7%;
	margin-right:0.8em;
}

.post p{
	font-size:0.9em;
	color:#808080;
}

.detail_area{
	height:21%;
	width:100%;
    margin-top:2%;
    background: #ffffff;
    border-top: 0.0625em solid #e1e1e1;
    border-bottom: 0.0625em solid #e1e1e1;
}

.detail_area p{
	margin-left:0.75em;
    margin-top:0.5em;
}

.id,.pay{
	height:8%;
	padding-top:1.4%;
}

.id{
	padding-left:0.88em;
	border-bottom: 0.0625em solid #e1e1e1;
}

.id:before,.pay:before{
	border-top:none;
}

.agent_id{
	width:100%;
}

.agent_id table{
	width:100%;
}

.hd{
	width:17.5%;
}

.bd{
	width:82.5%;
}

.id_label,.pay_label{
	font-weight:bold;
	font-size:1em;
}

.pay_way{
	font-size:1em;
}

.agent_id input{
	width:100%;
	height: 2em;
    outline: none;
    border: 0.0625em solid rgb(216, 216, 216);
    font-size:1em;
}

.buy_area{
    position:fixed;
    width:100%;
    height:10%;
    bottom:0;
    top:auto;
    right:0;
    left:0;
    text-align:center;
    background-color:#ffffff;
    border-top: 0.0625em solid #e1e1e1;
}
 
.btn_area{
    position:absolute;
    top:20%;
    bottom:20%;
    left:25%;
    right:25%;
    width:50%;
    height:60%;
    border:0;
    color:#ffffff;
    background-color:#ff8080;
    font: bold 1em/2em Arial, sans-serif;
     
    -webkit-border-radius: 1.875em;
    -moz-border-radius: 1.875em;
    border-radius: 1.875em;
 
    -webkit-box-shadow: 0.0625em 0.0625em 0.0625em rgba(0,0,0, .29), inset 0.0625em 0.0625em 0.0625em rgba(255,255,255, .44);
    -moz-box-shadow: 0.0625em 0.0625em 0.0625em rgba(0,0,0, .29), inset 0.0625em 0.0625em 0.0625em rgba(255,255,255, .44);
    box-shadow: 0.0625em 0.0625em 0.0625em rgba(0,0,0, .29), inset 0.0625em 0.0625em 0.0625em rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
 
.weui_actionsheet{
	height:25em;
	
}

.number_area{
	height:6%;
	width:100%;
    margin-top:2%;
    background: #ffffff;
    border-top: 0.0625em solid #e1e1e1;
    border-bottom: 0.0625em solid #e1e1e1;
	
}

.number_area p{
    display:inline-block;
    font-size:1em;
    padding-top:0.35em;
    margin-left:0.7em;
}
 
.number_choose{
    float:right;
    margin-right:0.2em;
}
 
.num_box{
    height:1.6em;
    width:1.2em;
    text-align:center;
    font-size:1.1em;
    border:0;
    padding-top:0.5em;
}
 
.min,.add{
    height:1.3em;
    width:1.3em;
    border:0;
    background-color:#ffffff;
    font-size:1em;
    color:#ff8080;
}

.btn_disabled{
	color:#D9D9D9;
}
 
.address_area{
	height:58%;
	text-align:left;
}

.address_information{
	height:100%;
}


.address_area h2{
    font-size:1em; 
    padding-top:0.32em;
    margin-left:0.9em; 
}

.weui_cells{
	margin-top:0;
}

.weui_label{
	width:4.5em;
	font-size:0.8em;
}

.weui_cell_bd input{
	font-size:0.8em;
}

.area_select select{
	width:28.5%;
	height:2em;
	font-size:0.7em;
	margin-right:3%;
    border: solid 0.0625em #000;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/arrow.png") no-repeat scroll right center transparent;
    select::-ms-expand { display: none; }
}

.confirm_area{
    position:fixed;
    width:100%;
    height:18%;
    bottom:0;
    top:auto;
    background-color:#ffffff;
    border-top: 0.0625em solid #e1e1e1;
}
 
.total_info{
    float:left;
    height:100%;
    margin-left:1em;
    margin-top:0;
}

.total_num{
    height:40%;
    font-size:1.1em;
    padding-top:0.2em;
    font-weight:bold;
}

.total_num p{
    display:inline-block;
    
}
 
.sum,.sum_price{
    display:inline-block;
    font-size:1.1em;
    font-weight:bold;
}

.sum_price{
	color:#ff8080;
}
 
.to_pay{
    float:right;
    width:30%;
    height:100%;
    text-align:center;
    margin-top:0.8em;
    margin-right:1em;
}
 
.weui_btn_primary{
    background-color:#ff8080;
}

.weui_btn_primary:not(.weui_btn_disabled):active {
    background-color: #ff8080;
}
.weui_dialog{
	z-index:3;
}
