body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #EFEFF4;
}

a{
	-webkit-touch-callout:none;
}

.unslider{
	position: relative;
	border-bottom: 0.0625em solid #EFEFF4;
}

.unslider-nav{
    position: absolute;
    bottom: 0;
    width:100%;
    height:1.25em;
    z-index:11;
}


.unslider-nav ol {
    list-style: none;
    text-align: center;
}

.unslider-nav ol li {
    display: inline-block;
    float: none;
    width: 0.05em;
    height: 0.05em;
    margin: 0 0.25em;
    padding: 0.1875em;
    background: transparent;
    border-radius: 0.3125em;
    overflow: hidden;
    text-indent: -999em;
    border: 0.125em solid #d0c080;
    cursor: pointer;
    opacity: .4;
}

.unslider-nav li {
    font-size:0.875em;
}

.unslider-nav ol li.unslider-active {
    background: #d0c080;
	cursor: default;
	opacity: 1;
}

.goods_information{
    position:relative;
    height:auto;
    width:100%;
    border-bottom: 0.0625em solid #EFEFF4;
}

.num_div{
    position:relative;
    height:3.5em;
    width:100%;
}

.under_div{
	position:relative;
    height:2.5em;
    width:100%;
}

.price{
	margin-left:3%;
}

.common_price{
	float:left;
    font-size:1.3em;
    color:#d0c080;
}
 
.pre_price{
	color:#808080;
    float:left;
    font-size:1.3em;
    text-decoration:line-through;
}

.now_price{
    float:left;
    margin-left:0.2em;
    font-size:1.3em;
    color:#d0c080;
}

.post{
	position:absolute;
	top:16%;
    bottom:4%;
    left:84%;
    right:6%;
    height:80%;
	width:10%;
}

.post p{
	font-size:0.9em;
	color:#808080;
	text-align:right;
}

.detail_area{
	height:auto;
	width:100%;
    border-bottom: 0.0625em solid #EFEFF4;
}

.id{
	height:2.5em;
	margin-bottom:0.4em;
	border-top: 0.0625em solid #EFEFF4;
	border-bottom: 0.0625em solid #EFEFF4;
	background-color: #ffffff;
	padding:0;
}

.id:before{
	border-top:none;
}

.id_icon{
	position:absolute;
	display:inline-block;
	top:12%;
	bottom:12%;
	left:3%;
	right:88%;
	height:76%;
	width:9%;
}

.agent_id{
	position:absolute;
	display:inline-block;
	top:5%;
	bottom:5%;
	left:13%;
	right:5%;
	height:90%;
	width:82%;
}

.agent_id table{
	width:100%;
	vertical-align:middle;
}

.hd{
	width:4em;
	vertical-align:middle;
}

.bd{
	width:auto;
	vertical-align:middle;
}

.id_label{
	font-weight:normal;
	font-size:1em;
}

.agent_id input{
	width:100%;
	height: 2em;
    outline: none;
    border: none;
    font-size:.95em;
    text-align:right;
    line-height:2em;
    color:#000040;
}

.buy_area{
    position:fixed;
    width:100%;
    height:6em;
    bottom:0;
    top:auto;
    right:0;
    left:0;
    text-align:center;
    background-color:#fdfdfd;
    border-top: 0.0625em solid #EFEFF4;
}
 
.btn_area{
    position:absolute;
    top:20%;
    bottom:20%;
    left:67%;
    right:5%;
    width:28%;
    height:60%;
    border:0;
    color:#ffffff;
    background-color:#d0c080;
    font: normal 1em/2em Arial, sans-serif;
     
    -webkit-border-radius: 1.875em;
    -moz-border-radius: 1.875em;
    border-radius: 1.875em;
 
    -webkit-box-shadow: 0.0625em 0.0625em 0.0625em rgba(0,0,0, .29), inset 0.0625em 0.0625em 0.0625em rgba(255,255,255, .44);
    -moz-box-shadow: 0.0625em 0.0625em 0.0625em rgba(0,0,0, .29), inset 0.0625em 0.0625em 0.0625em rgba(255,255,255, .44);
    box-shadow: 0.0625em 0.0625em 0.0625em rgba(0,0,0, .29), inset 0.0625em 0.0625em 0.0625em rgba(255,255,255, .44);
 
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
 
.weui_actionsheet{
	height:auto;
	z-index:13;
}

.number_area{
	position:absolute;
    top:15%;
    bottom:20%;
    left:5%;
    right:50%;
    height:65%;
	width:45%;
}

.number_area p{
	width:45%;
    display:inline-block;
    font-size:1em;
    padding-top:0.35em;
    float:left;
    color:#000040;
    text-align:left;
}
 
.number_choose{
	width:55%;
    float:right;
    text-align:left;
}
 
.num_box{
    height:1.6em;
    width:1.2em;
    text-align:center;
    font-size:1.1em;
    border:0;
    padding-top:0.5em;
    color:#000040;
    background-color:#fdfdfd;
}
 
.min,.add{
    height:1.3em;
    width:1.3em;
    border:0;
    background-color:#fdfdfd;
    font-size:1em;
    color:#d0c080;
}

.btn_disabled{
	color:#D9D9D9;
}

.weui_actionsheet_menu{
	background-color: #EFEFF4;
}

.menu_title{
	height:auto;
	text-align:center;
	background-color: #ffffff;
	border-bottom: 0.0625em solid #EFEFF4;
}

.menu_title h3{
	font-weight:normal;
	padding:1.5%;
}
 
.address_area{
	height:auto;
	text-align:left;
	background-color: #ffffff;
	margin-top:0.4em;
	margin-bottom:0.4em;
	border-top: 0.0625em solid #EFEFF4;
	border-bottom: 0.0625em solid #EFEFF4;
}

.address_information{
	height:auto;
}

.address_title{
	position:relative;
	height:2.2em;
}

.address_title p{
	position:absolute;
	display:inline-block;
	top:28%;
	bottom:0;
	left:13%;
	right:71%;
	height:72%;
	width:20%;
	font-size:1em;
}

.address_icon{
	position:absolute;
	display:inline-block;
	top:23%;
	bottom:9%;
	left:4%;
	right:89%;
	height:68%;
	width:7%;
}


.icon{
	width:100%;
	height:100%;
}

.weui_cells{
	margin-top:0;
}

.weui_label{
	width:6em;
	font-size:0.8em;
	color:#000040;
}

.weui_cell_bd input{
	font-size:0.8em;
	color:#000040;
}

.area_select select{
	color:#000040;
	width:28.5%;
	height:2em;
	font-size:0.7em;
	margin-right:3%;
    border: solid 0.0625em #c0c0c0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/arrow.png") no-repeat scroll right center transparent;
    select::-ms-expand { display: none; }
}

.confirm_area{
	position:relative;
    width:100%;
    height:4em;
    background-color:#ffffff;
    border-top: 0.0625em solid #EFEFF4;
}
 
.total_info{
    position:absolute;
	top:7%;
    bottom:7%;
    left:5%;
    right:35%;
    width:60%;
    height:86%;
    text-align:left;
}

.total_num{
    height:40%;
    font-size:1.05em;
}

.total_num p{
    display:inline-block;
}

#total_num{
	color:#d0c080;
	margin:auto 0.2em;
}
 
.sum,.sum_price{
    display:inline-block;
    font-size:1.05em;
}

.sum_price{
	color:#d0c080;
}
 
.to_pay{
	position:absolute;
	top:20%;
    bottom:20%;
    left:65%;
    right:5%;
    width:30%;
    height:60%;
    text-align:center;
    border:none;
}
 
.weui_btn_primary{
    background-color:#d0c080;
}

.weui_btn_primary:not(.weui_btn_disabled):active {
    background-color: #d0c080;
}

.weui_mask_transition {
    z-index: 12;
}

.weui_dialog{
	z-index:14;
}

.weui_cells:after {
    border-bottom:none;
}

.unslider_div,.detail,.product_parameters,.more{
	width:100%;
	height:auto;
}

.img{
	width:100%;
}

.gap{
    width:100%;
    height:0.5em;
    text-align:center;
}

.footer_div{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.below{
	padding-bottom:6em;
}

.ovfHiden{
	overflow-y: hidden;
	height: 100%;
}

.pinch-zoom-container{
	overflow:visible !important;
}

.options_div,.options_div table{
	width:100%;
}

.options_div{
	border-top: 0.05em solid #d2d2d2;
	border-bottom: 0.05em solid #d2d2d2;
	background-color:#f9f9f9;
}

.options_div table{
	text-align:center;
}

.option{
	width:100%;
	background:none;
	border:none;
	padding:5%;
	font-size:1em;
	color:#808080;
}

.product_parameters{
	background-color:#f9f9f9;
	
}

.p_table{
	width:100%;
	font-size:0.96em;
	padding:3%;
}

.p_hd{
	width:7em;
	color:#808080;
	vertical-align:top;
	padding:2% 0;
	border-bottom: 0.05em solid #d2d2d2;
}

.p_bd{
	width:auto;
	vertical-align:top;
	padding:2% 0;
	border-bottom: 0.05em solid #d2d2d2;
}

.more p{
	font-size:1.1em;
	padding:6%;
}

.normal{
	border-bottom: 0.18em solid #f9f9f9;
} 

.chosen{
	border-bottom: 0.18em solid #d0c080;
}

.chosen_btn{
	color:#d0c080;
}

