body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #fbf9fe
}

.hd{
	color:#04BE02;
	text-align:center;
	padding-top:5%;
}

.weui_cell_bd{
	width:20%;
}

.weui_cell_ft{
	width:80%;
	text-align:left;
	color:#000000;
}

.order_status{
	color:#04BE02;
	text-decoration:underline;
}