<div class="ui stackable padded grid" name="agent_check">
	<div class="row">
		<h1 class="ui header">
			<i class="home icon"></i>
			<div class="content">
				代理授权
				<div class="sub header">
					<div class="ui breadcrumb">
						<a class="section">代理管理</a>
                        <div class="divider">/</div>
                        <a class="section">代理审核</a>
						<div class="divider">/</div>
						<a class="active section">代理授权</a>
					</div>
				</div>
			</div>
		</h1>
	</div>
	<div class="row">
		<div class="eight wide column">
			<form id="confirm_check_form">
				<input type="hidden" name="agentId" value=${agent.agentId} />
			</form>
			<p>
				代理商姓名:&nbsp;&nbsp;
				<text>${agent.name}</text>
			</p>
			<p>
				联系方式:&nbsp;&nbsp;
				<text>${agent.phone}</text>
			</p>
			<p>
				联系地址:&nbsp;&nbsp;
				<text>${agent.address}</text>
			</p>
			<p>
				上级代理商:&nbsp;&nbsp; 
		    #if(!${agent.upperAgent})
				<select class="ui dropdown" id="select">
				   <option value="">选择一个代理商</option>
				   #foreach( $elem in ${agentList})
				      <option value="$elem.agentId">$elem.name</option>
				   #end
                </select>
			#else
			    <text>${agent.upperAgent.name}</text>
			#end
			</p>
			<p>
				群规模 :&nbsp;&nbsp; 
				#if(${agent.claimScale}=="")
				<text>未填</text>
				#else
				<text>${agent.claimScale}</text>
				#end
			</p>
			<p>
				当前状态:&nbsp;&nbsp;
				<text>未授权</text>
			</p>
		</div>
		#if(${credit})
		<div class="four wide column">
		    <div class="ui small image">
              <img src="${path}${credit.frontPath}">
            </div>
		</div>
		<div class="four wide column">
		     <div class="ui small image">
                 <img src="${path}${credit.backPath}">
             </div>
		</div>
		#else
		<div class="four wide column">
		    当前用户没有上传身份证正面照片
		</div>
		<div class="four wide column">
		    当前用户没有上传身份证反面照片
		</div>
		#end
</div>
<div class="row">
	<button class="ui positive basic button" id="check_confirm">确认授权</button>
	<button class="ui negative basic button" id="notPass">审核不通过</button>
</div>
    
<div class="ui modal" id="agent_grant_modal">
  <i class="close icon"></i>
  <div class="header">
    提示
  </div>
  <div class="image content">
    <div class="description">
        审核不通过的代理商在登陆我们的系统时，会提示他们去修改自己的注册资料，然后重新提交注册信息，等待审核通过后才能登录 我们的系统！
    </div>
  </div>
  <div class="actions">
    <div class="ui button" id="cancer">取消</div>
    <div class="ui button" id="confirm">确认</div>
  </div>
</div>

<div class="ui modal" id="set_upperAgent_modal">
  <i class="close icon"></i>
  <div class="header">
    提示
  </div>
  <div class="image content">
    <div class="description">
        确定将该代理商设置为代理商${agent.name}的上级代理商？
    </div>
  </div>
  <div class="actions">
    <div class="ui button" id="set_cancer">取消</div>
    <div class="ui button" id="set_confirm">确认</div>
  </div>
</div>
<script>
	   $('#agent_grant_modal').modal('hide');
	   $('#set_upperAgent_modal').modal('hide');
	   $("#notPass").on('click', function() {
		   $('#agent_grant_modal').modal('show');
		});
	   $("#cancer").on('click', function() {
		   $('#agent_grant_modal').modal('hide');
	   });
	   $("#confirm").on('click', function() {
		   $('#agent_grant_modal').modal('hide');
		   var url = "${path.concat('/agent/grantNotPass/')}${agent.agentId}";
		   window.location.href = url;
	   });
	   $("#check_confirm").click(function() {
					$("#confirm_check_form").attr("action",
							"${path.concat('/agent/grant')}");
					$("#confirm_check_form").attr("method", "post");
					$("#confirm_check_form").submit();
		});
	   var upperAgentId;
	   $("#select").change(function(){
		   upperAgentId = $("#select").val();
           if(upperAgentId!=""){
    		   $('#set_upperAgent_modal').modal('show');
           }
	   });
		
		$("#set_confirm").on('click',function() {
			$('#set_upperAgent_modal').modal('hide');
			var url = "${path.concat('/agent/modifyUpperAgent/')}${agent.agentId}/"+ upperAgentId;
	        $.post(url, function (result) {
	            if (result.responseCode == "RESPONSE_OK") {
	            	/* url="${path.concat('/agent/check/')}${agent.agentId}";
	    			window.location.href = url; */
	            } else if (result.description == "recursion") {
	               
	            } else {

	            }
	        });
		});
		$("#set_cancer").on('click', function() {
			   $('#set_upperAgent_modal').modal('hide');
		});
</script>