<div class="ui stackable padded grid" name="agent_overview">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">
                代理返现详情
                <div class="sub header">
                    <div class="ui breadcrumb">
                       <a class="section">代理管理</a>
					    <div class="divider">/</div>
						<a class="section">代理概览</a>
						<div class="divider">/</div>
						<a class="section">代理商个人详情</a>
                        <div class="divider">/</div>
                        <a class="active section">代理返现详情</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
		<h4>代理商：${agent.name}</h4>
	</div>
	<div class="row">
		<h4>累计返现：${agent.agentRefund}</h4>
	</div>
    <div class="row">
       <div class="sixteen wide column">
           <div class="ui green segments">
           #foreach($cashBackMonth in ${cashBacks.entrySet()})
               <div class="ui red segments month" id="${cashBackMonth.key}">
                   <div class="ui green segment">
                      ${cashBackMonth.key}
                   </div>
                   <div class="ui blue segments">
                   #foreach($cashBack in $cashBackMonth.value)
                   <div class="ui black segment">
                      <p>#if(${cashBack.level} == 0)
        			       自销获得${cashBack.amount}元
        			     #elseif(${cashBack.level} == 1)
        			       从直接代理获得${cashBack.amount}元
        			     #else
        			       从间接代理获得${cashBack.amount}元
        			     #end
        			   </p>
                   </div>
                   #end
                   </div>
               </div>
           #end
           </div>
        </div>
    </div>
</div>
<div class="ui modal" id="admin_cashback_detail_modal">
	<i class="close icon"></i>
	<div class="header" id="title"></div>
	<div class="image content">
		<div class="description" id="content" style="height:400px;overflow:auto">
			
		</div>
	</div>
	<div class="actions">
       <div class="ui button" id="confirm">确认</div>
   </div>
</div>
<script>
$('#admin_cashback_detail_modal').modal('hide'); 
$("#confirm").on('click', function() {
	$('#admin_cashback_detail_modal').modal('hide'); 
});
$(".month").on('click', function() {
	var id=$(this).attr("id");
	var year=id.substring(0,id.indexOf('年'));
	var month=id.substring(id.indexOf('年')+1,id.indexOf('月'));
 	var data_url = "${path.concat('/agent/cashback/detail/')}${agent.agentId}/"+year+"/"+month;
    $.get(data_url, function (result) {
        if (result.responseCode == 'RESPONSE_OK') {
           $('#title').html(id+"详情");
           $('#content').empty();
           var map=result.data; 
           var self=map.self;
           var direct=map.direct;
           var indirect=map.indirect;
           var node1="<p>返现来源：自销</p><table class='ui celled table'><thead><tr><th>商品名</th><th>代理商</th><th>销量(盒)</th><th>返现比例(元/盒)</th><th>返现金额(元)</th></tr></thead><tbody>";
           for(var i=0;i<self.length;i++){
        	   var item=self[i];
        	   node1+="<tr><td>"+item.orderPool.goods.name+"</td><td>"+item.orderPool.agent.name+"</td><td>"+item.orderPool.quantity+"</td><td>"+item.percent+"</td><td>"+item.amount+"</td></tr>";		
           }
           $('#content').append(node1);
           if(typeof direct != "undefined"){
               var node2="<p>返现来源：直接代理</p><table class='ui celled table'><thead><tr><th>商品名</th><th>代理商</th><th>销量(盒)</th><th>返现比例(元/盒)</th><th>返现金额(元)</th></tr></thead><tbody>";
        	   for(var i=0;i<direct.length;i++){
        		   var item=direct[i];
            	   node2+="<tr><td>"+item.orderPool.goods.name+"</td><td>"+item.orderPool.agent.name+"</td><td>"+item.orderPool.quantity+"</td><td>"+item.percent+"</td><td>"+item.amount+"</td></tr>";		
               }
           }
           $('#content').append(node2);
           if(typeof indirect != "undefined"){
               var node3="<p>返现来源：间接代理</p><table class='ui celled table'><thead><tr><th>商品名</th><th>代理商</th><th>销量(盒)</th><th>返现比例(元/盒)</th><th>返现金额(元)</th></tr></thead><tbody>";
        	   for(var i=0;i<indirect.length;i++){
        		   var item=indirect[i];
            	   node3+="<tr><td>"+item.orderPool.goods.name+"</td><td>"+item.orderPool.agent.name+"</td><td>"+item.orderPool.quantity+"</td><td>"+item.percent+"</td><td>"+item.amount+"</td></tr>";		
               }
           }  
           $('#content').append(node3);
           $('#admin_cashback_detail_modal').modal('show'); 
        } else {
           alert("error");
        }
    }); 
});
</script>