<div id="agent_overview" class="ui stackable padded grid">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">代理概览
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">代理管理</a>
                        <div class="divider">/</div>
                        <a class="active section">代理概览</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="four wide column">
            <div class="ui inverted tertiary teal center aligned segment">
                <h3 class="ui header">
                    当前未审核代理商
                </h3>
                <div class="ui huge horizontal statistic">
                    <div class="value">10</div>
                    <div class="label">人</div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui inverted secondary teal center aligned segment">
                <h3 class="ui header">
                    本月新注册代理商
                </h3>
                <div class="ui huge horizontal statistic">
                    <div class="value">5</div>
                    <div class="label">人</div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui inverted teal center aligned segment">
                <h3 class="ui header">
                    本月已购买代理商
                </h3>
                <div class="ui huge horizontal statistic">
                    <div class="value">20</div>
                    <div class="label">人</div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div id="agent_list" class="ui teal inverted center aligned segment">
                <h3 class="ui header">
                    当前代理商总人数
                </h3>
                <div class="ui huge horizontal statistic">
                    <div class="value">100</div>
                    <div class="label">人</div>
                </div>
            </div>
        </div>
    </div>
</div>