<div class="ui stackable padded grid" name="agent_overview">
	<div class="row">
		<h1 class="ui header">
			<i class="home icon"></i>

			<div class="content">
				贡献度因子配置
				<div class="sub header">
					<div class="ui breadcrumb">
						<a class="section">代理管理</a>
						<div class="divider">/</div>
						<a class="section">代理概览</a>
						<div class="divider">/</div>
						<a class="active section"> 贡献度因子配置 </a>
					</div>
				</div>
			</div>
		</h1>
	</div>
	<div class="row">
	     <form class="ui form" id="contributionFactor_update_form">
	           <div class="inline field">
                    <label>${quantity.factorName}所占比例</label>
                    <input type="text" name="quantityWeight" id="${quantity.factorId}" required="" autocomplete="off" value="${quantity.factorWeight}">
               </div>
               <div class="inline field">
                    <label>${quantity.factorName}所占比例</label>
                    <input type="text" name="priceWeight" id="${price.factorId}" required="" autocomplete="off" value="${price.factorWeight}">
               </div>
               <div class="inline field">
                    <label>${quantity.factorName}所占比例</label>
                    <input type="text" name="directAgentQuantityWeight" id="${directAgentQuantity.factorId}" required="" autocomplete="off" value="${directAgentQuantity.factorWeight}">
               </div>
                <div class="inline field">
                    <div class="ui message">各因子比例之和等于1，不填默认为0</div>
                </div>
                <div class="inline field">
                   	<div class="ui submit button" id="submit">提交</div>
                </div>
         </form>
	</div>
</div>
<script>
$("#submit").on('click', function () {
	$("#contributionFactor_update_form").attr("action", "${path.concat('/agent/contributionFactor/update')}");
    $("#contributionFactor_update_form").attr("method", "post");
    $("#contributionFactor_update_form").submit();
});
</script>