#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/customer/component/init.vm")
    <title>提示</title>
</head>
<body ontouchstart>
<div class="container">
    #parse("/customer/component/success_msg.vm")
</div>
</body>
</html>