#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="${path.concat('/plugins/bootstrap/css/bootstrap.min.css')}"/>
    <link rel="stylesheet" type="text/css"
          href="${path.concat('/plugins/Font-Awesome/css/font-awesome.css')}"/>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/jquery-1.12.3.min.js')}"></script>
    <script type="text/javascript" src="${path.concat('/plugins/bootstrap/js/bootstrap.min.js')}"></script>
    <title>操作指南</title>
</head>
<body>
<div class="container-fluid">
    <label>代理商移动端操作:</label>
    <a href="${path.concat('/agent/register')}" class="btn btn-info btn-lg btn-block">代理注册</a>
    <a href="${path.concat('/agent/order/place')}" class="btn btn-warning btn-lg btn-block">代客下单</a>
    <a href="${path.concat('/agent/customer/manage')}" class="btn btn-success btn-lg btn-block">客户管理</a>
    <a href="${path.concat('/agent/me/index')}" class="btn btn-info btn-lg btn-block">个人信息</a>
    <a href="${path.concat('/agent/order/manage')}" class="btn btn-warning btn-lg btn-block">订单管理</a>
    <a href="${path.concat('/agent/account/info')}" class="btn btn-success btn-lg btn-block">我的账户</a>
    <a href="${path.concat('/agent/statement')}" class="btn btn-info btn-lg btn-block">我的对账单</a>
    <hr>
    <label>平台后台操作</label>
    <a href="${path.concat('/')}" class="btn btn-info btn-lg btn-block">后台登录</a>
    <a href="${path.concat('/agent/check')}" class="btn btn-warning btn-lg btn-block">代理审核</a>
    <a href="${path.concat('/agent/overview')}" class="btn btn-success btn-lg btn-block">代理概览</a>
    <a href="${path.concat('/order/check')}" class="btn btn-info btn-lg btn-block">订单审核</a>
    <a href="${path.concat('/order/express')}" class="btn btn-warning btn-lg btn-block">打印快递单</a>
    <a href="${path.concat('/customer/overview')}" class="btn btn-success btn-lg btn-block">顾客查询</a>
</div>
</body>
</html>