<div class="modal fade" id="customer_order_item_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">订单详情</h4>
            </div>
            <div class="modal-body">
                <p class="text-info" id="customer_model_p"></p>
                <table class="table table-striped" id="customer_model_table">
                      
                </table>
                <p class="text-info" id="customer_model_total" ></p>
                <p class="text-info" id="customer_model_quantity"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消订单</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#customer_order_item_modal").modal({
            show: false,
            keyboard: true
        });
    });
    
    function expressDetail(obj){
         $.post("${path.concat('/express/detail/')}"+obj.id, function (result) {
            document.getElementById("expressNumber").innerHTML=result.data.express.expressNumber;
            document.getElementById("createAt").innerHTML=(new Date(result.data.express.createAt)).format("yyyy/MM/dd");
            document.getElementById("senderName").innerHTML=result.data.express.senderName;
            document.getElementById("senderPhone").innerHTML=result.data.express.senderPhone;
            document.getElementById("senderAddress").innerHTML=result.data.express.senderAddress;
            document.getElementById("receiverName").innerHTML=result.data.express.receiverName;
            document.getElementById("receiverPhone").innerHTML=result.data.express.receiverPhone;
             document.getElementById("receiverAddress").innerHTML=result.data.express.receiverAddress;
              document.getElementById("goodsName").innerHTML=result.data.express.goodsName;
            $("#express_detail_modal").modal('show');   
         
         });
    }
 
</script>