<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 生成快递单 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">生成快递单</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12"><button type="button" class="btn btn-success" id="print" onclick=print()>下载excel文件</button></div>
        <br>
        <div class="col-md-12 col-lg-12" id="main">
            #foreach($expressItem in ${expressList})
                <div class="" id="express-form">
                    <div id="basic-express-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">快递单号</div>
                            <div class="col-xs-5 col-md-5 col-lg-5"
                                 id=$expressItem.expressId>$expressItem.expressNumber</div>
                            <div class="col-xs-2 col-md-2 col-lg-2">日期</div>
                            <div class="col-xs-3 col-md-3 col-lg-3">$!date.format(
                                'yyyy-MM-dd',$!expressItem.createAt)</div>
                        </div>
                    </div>
                    <div id="basic-sender-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">寄件人</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.senderName</div>
                            <div class="col-xs-2 col-md-2 col-lg-2">联系方式</div>
                            <div class="col-xs-3 col-md-3 col-lg-3">$expressItem.senderPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">地址</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.senderAddress</div>
                        </div>
                    </div>
                    <div id="basic-receiver-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">收件人</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.receiverName</div>
                            <div class="col-xs-2 col-md-2 col-lg-2">联系方式</div>
                            <div class="col-xs-3 col-md-3 col-lg-3">$expressItem.receiverPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">地址</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.receiverAddress</div>
                        </div>
                    </div>
                    <div id="basic-goods-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 col-lg-3">品名</div>
                            <div class="col-xs-9 col-md-9 col-lg-9" style="height:50px;">$expressItem.goodsName</div>
                        </div>
                    </div>
                </div>
                <br>
            #end
            
        </div>
    </div>
</div>


<script>


    function print() {
      

        var data = {"expressItem":${expressList}, "expressNumber": $("#expressId").val()};
        $.ajax({
            type: "POST",
            url: "${path.concat('/order/expressData')}",
            data: JSON.stringify(data),
            processData: false,
            contentType: "application/json",
            success: function (data) {
                  window.location.href = "${path.concat('/order/exportExcel')}";
            },
            error: function (data, status) {
                alert(JSON.stringify(status));
            }
        });

    }

    function download() {
        window.location.href = "${path.concat('/order/exportExcel')}";
    }


</script>