<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 生成快递单 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">生成快递单</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12"><button type="button" class="btn btn-success" id="download" onclick=download()>下载excel文件</button></div>
        <br>
        <div class="col-md-12 col-lg-12" id="main">
            #foreach($expressItem in ${expressList})
                <div class="table bs-callout" id=$expressItem.expressId>
                    <div id="basic-express-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">快递单号</div>
                            <div class="col-xs-5 col-md-5 col-lg-5"
                                 id=$expressItem.expressId>
                                 $expressItem.expressNumber &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info" id=$expressItem.expressId onclick=delivery(this)>单独发货</button>
                            </div>
                            <div class="col-xs-2 col-md-2 col-lg-2">日期</div>
                            <div class="col-xs-3 col-md-3 col-lg-3">$!date.format(
                                'yyyy-MM-dd',$!expressItem.createAt)</div>
                        </div>
                    </div>
                    <div id="basic-sender-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">寄件人</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.senderName</div>
                            <div class="col-xs-2 col-md-2 col-lg-2">联系方式</div>
                            <div class="col-xs-3 col-md-3 col-lg-3">$expressItem.senderPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">地址</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.senderAddress</div>
                        </div>
                    </div>
                    <div id="basic-receiver-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">收件人</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.receiverName</div>
                            <div class="col-xs-2 col-md-2 col-lg-2">联系方式</div>
                            <div class="col-xs-3 col-md-3 col-lg-3">$expressItem.receiverPhone</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-2 col-lg-2">地址</div>
                            <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.receiverAddress</div>
                        </div>
                    </div>
                    <div id="basic-goods-info" class="table bs-callout">
                        <div class="row">
                            <div class="col-xs-3 col-md-3 col-lg-3">品名</div>
                            <div class="col-xs-9 col-md-9 col-lg-9" style="height:50px;">$expressItem.goodsName</div>
                        </div>
                    </div>
                </div>
                <br>
            #end
            
        </div>
    </div>
</div>
<div class="modal fade" id="express_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">设置起始快递单号</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="express_form">
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">快递单号:</label>&nbsp;&nbsp;
                        <input type="number" id="expressId" name="expressId" autocomplete="off" onkeyup="value=value.replace(/[^\d]/g,'')"/>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-12 col-md-12 col-lg-12">*输入快递单号后点击发货，就会单独把这一个订单项的状态修改为已发货</label>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="express_confirm">发货</button>
            </div>
        </div>
    </div>
</div>

<script>
    var data;
    var data2;
    function download() {
     
        $.ajax({
            type: "POST",
            url: "${path.concat('/order/expressData')}",
            data: JSON.stringify(data),
            processData: false,
            contentType: "application/json",
            success: function (data) {
                  window.location.href = "${path.concat('/order/exportExcel')}";
            },
            error: function (data, status) {
                alert(JSON.stringify(status));
            }
        });

    }
    var id;
    function delivery(obj){   	
    	id=obj.id;
    	$("#expressId").val("");
    	$("#express_modal").modal('show');    
    }
    
    $("#express_modal").find("#express_confirm").click(function(){
 	   
  	  var expressNumber=$("#expressId").val();
  	  if(expressNumber!=""){
  	         $("#express_modal").modal('hide'); 
  	         var removeId="#"+id;
  	         $(removeId).remove();  
  	         if(data2!=null){
  	        	 data=data2;
  	         }else{
  	        	 data = {"expressItem":${expressList}, "expressNumber": expressNumber};
  	         }	  	        
             $.ajax({
                 type: "POST",
                 url: "${path.concat('/order/expressOne/')}"+id,
                 data: JSON.stringify(data),
                 processData: false,
                 contentType: "application/json",
                 success: function (result) {
                	 data2 = {"expressItem":result.data, "expressNumber": expressNumber};
                	 if(result.data==""){
                		 $("#download").remove(); 
                	 }
                 }
             });
  	  }else{
  	    
  	  }
  });




</script>