<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 生成快递单 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">生成快递单</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12" id="main">
           <div class="">
               <button type="button" class="btn btn-success" id="setExpressNumber">设置快递单号</button>
           </div>
           <br>
            #foreach($expressItem in ${expressList})
              <div class="" id="express-form">
                 <div id="basic-express-info" class="table bs-callout">
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-lg-2">快递单号</div>
                        <div class="col-xs-5 col-md-5 col-lg-5" id=$expressItem.expressId>$expressItem.expressNumber</div>
                        <div class="col-xs-2 col-md-2 col-lg-2">日期</div>
                        <div class="col-xs-3 col-md-3 col-lg-3">$!date.format('yyyy-MM-dd',$!expressItem.createAt)</div>
                    </div>
                 </div>
                 <div id="basic-sender-info" class="table bs-callout">
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-lg-2">寄件人</div>
                        <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.senderName</div>
                        <div class="col-xs-2 col-md-2 col-lg-2">联系方式</div>
                        <div class="col-xs-3 col-md-3 col-lg-3">$expressItem.senderPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-lg-2">地址</div>
                        <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.senderAddress</div>
                    </div>
                </div>
                <div id="basic-receiver-info" class="table bs-callout">
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-lg-2">收件人</div>
                        <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.receiverName</div>
                        <div class="col-xs-2 col-md-2 col-lg-2">联系方式</div>
                        <div class="col-xs-3 col-md-3 col-lg-3">$expressItem.receiverPhone</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-2 col-lg-2">地址</div>
                        <div class="col-xs-5 col-md-5 col-lg-5">$expressItem.receiverAddress</div>
                    </div>
                </div>
                <div id="basic-goods-info" class="table bs-callout">
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-lg-3">品名</div>
                        <div class="col-xs-9 col-md-9 col-lg-9" style="height:50px;">$expressItem.goodsName</div>
                    </div>
                </div>
             </div>
             <br>
           #end
        </div>
    </div>
</div>
<div class="modal fade" id="express_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">设置起始快递单号</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="express_form">
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">起始快递单号:</label>&nbsp;&nbsp;
                        <input type="number" id="expressId" name="expressId" autocomplete="off" onkeyup="value=value.replace(/[^\d]/g,'')"/>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-12 col-md-12 col-lg-12">*说明文字</label>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="express_confirm">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
   var LODOP = getLodop();; //声明为全局变量  
   $("#setExpressNumber").click(function(){
    	 $("#express_modal").modal('show');          
    });
    
   $("#express_modal").find("#express_confirm").click(function(){
    	   
    	  var expressNumber=$("#expressId").val();
    	  if(expressNumber!=""){
    	         $("#express_modal").modal('hide');   	         
                 for(var i=0;i<${expressList}.length;i++){
                    document.getElementById("expressNumber"+i).innerHTML = (parseFloat(expressNumber)+i);
                 }
                 if(!document.getElementById("print")) {
                     var node="<div class=''><button type='button' class='btn btn-success' id='print' onclick=print()>打印</button></div>";
                     $("#main").append(node);
                 }   
    	  }else{
    	    
    	  }
    });
    
    function print(){
      
    	for(var i=0;i<${expressList}.length;i++){
    	    createPrintPage(document.getElementById("expressNumber"+i).innerHTML,${expressList}[i].createAt,${expressList}[i].senderName,${expressList}[i].senderPhone,${expressList}[i].senderAddress,${expressList}[i].receiverName,${expressList}[i].receiverPhone,${expressList}[i].receiverAddress,${expressList}[i].goodsName);
    	     	   
    	      #*
    	    LODOP.PREVIEW();
    	      *#
    	   LODOP.PRINT();
    	    
    	   
    	}


    	var data={"expressItem":${expressList},"expressNumber":$("#expressId").val()};
    	$.ajax({ 
            type:"POST", 
            url:"${path.concat('/order/expressData')}", 
            dataType:"json",      
            contentType:"application/json",               
            data:JSON.stringify(data), 
            success:function(data){ 
                 window.location.href = "${path.concat('/order/check')}";  
            } 
         });  
    }
    
    function createPrintPage(expressNumber,expressDate,senderName,senderPhone,senderAddress,receiverName,receiverPhone,receiverAddress,goodsName){
        
        LODOP.PRINT_INITA(0,0,387,725,"中通");
        LODOP.SET_PRINT_PAGESIZE(1,"100mm","180mm","");//设置纸张高度
        LODOP.ADD_PRINT_TEXT(58,7,183,25,expressNumber);
        LODOP.ADD_PRINT_TEXT(46,214,73,35,(new Date(expressDate)).format("yyyy/MM/dd"));
        LODOP.ADD_PRINT_TEXT(81,63,70,25,senderName);
        LODOP.ADD_PRINT_TEXT(85,157,127,25,senderPhone);
        LODOP.ADD_PRINT_TEXT(104,56,230,30,senderAddress);
        LODOP.ADD_PRINT_TEXT(138,66,65,20,receiverName);
        LODOP.ADD_PRINT_TEXT(139,167,130,25,receiverPhone);
        LODOP.ADD_PRINT_TEXT(160,53,328,30,receiverAddress);
        LODOP.ADD_PRINT_TEXT(191,55,154,35,goodsName);
    }
    
    
</script>