<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 订单审核 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">订单审核</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div id="container" style="min-width:700px;height:400px"></div>
        </div>
        <div class="col-md-12 col-lg-12" id="main">
            <p id="total" class="lead text-info"></p>

            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active" id="li1"><a id="1" href="javascript:void(0);" onclick="select(this)"><h4
                            id="order_class1" class="text-success">代理商订单</h4></a></li>
                    <li id="li2"><a id="2" href="javascript:void(0);" onclick="select(this)"><h4 id="order_class2"
                                                                                                 class="text-info">
                        顾客订单</h4></a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-12" id="check_order_table">

            </div>
        </div>

    </div>
</div>
#parse("/backend/order/component/order_item_modal.vm")
#parse("/backend/express/component/express_detail_modal.vm")
<script>



    var goods_quantity_list = new Object();
    var quantity_num_list = new Object();
    $(document).ready(function () {
        $.post("${path.concat('/order/statistics')}", function (result) {
            var orderNum = 0;

            if ((result.data.orderList != null) || (result.data.customerOrderList != null)) {
                if (result.data.orderList != null) {
                    orderNum += result.data.orderList.length;
                    for (var i = 0; i < result.data.orderList.length; i++) {
                        var order = result.data.orderList[i];
                        var orderItems = order.orderItems;
                        for (var j = 0; j < orderItems.length; j++) {
                            var name = orderItems[j].goods.name;
                            var goodsQuantity = orderItems[j].goodsQuantity;
                            if (goods_quantity_list[name] == undefined) {
                                goods_quantity_list[name] = new Object();
                                goods_quantity_list[name]['quantity'] = orderItems[j].goodsQuantity;
                            } else {
                                goods_quantity_list[name]['quantity'] += orderItems[j].goodsQuantity;
                            }

                            if (quantity_num_list[name] == undefined) {
                                quantity_num_list[name] = new Object();
                                if (quantity_num_list[name][goodsQuantity] == undefined) {
                                    quantity_num_list[name][goodsQuantity] = new Object();
                                    quantity_num_list[name][goodsQuantity]['num'] = 1;
                                } else {
                                    quantity_num_list[name][goodsQuantity]['num'] += 1;
                                }
                            } else {
                                if (quantity_num_list[name][goodsQuantity] == undefined) {
                                    quantity_num_list[name][goodsQuantity] = new Object();
                                    quantity_num_list[name][goodsQuantity]['num'] = 1;
                                } else {
                                    quantity_num_list[name][goodsQuantity]['num'] += 1;
                                }
                            }
                        }
                    }
                }
                if (result.data.customerOrderList != null) {
                    orderNum += result.data.customerOrderList.length;
                    for (var i = 0; i < result.data.customerOrderList.length; i++) {
                        var customerOrder = result.data.customerOrderList[i];
                        var name = customerOrder.goods.name;
                        var goodsQuantity = customerOrder.quantity;
                        if (goods_quantity_list[name] == undefined) {
                            goods_quantity_list[name] = new Object();
                            goods_quantity_list[name]['quantity'] = customerOrder.quantity;
                        } else {
                            goods_quantity_list[name]['quantity'] += customerOrder.quantity;
                        }

                        if (quantity_num_list[name] == undefined) {
                            quantity_num_list[name] = new Object();
                            if (quantity_num_list[name][goodsQuantity] == undefined) {
                                quantity_num_list[name][goodsQuantity] = new Object();
                                quantity_num_list[name][goodsQuantity]['num'] = 1;
                            } else {
                                quantity_num_list[name][goodsQuantity]['num'] += 1;
                            }
                        } else {
                            if (quantity_num_list[name][goodsQuantity] == undefined) {
                                quantity_num_list[name][goodsQuantity] = new Object();
                                quantity_num_list[name][goodsQuantity]['num'] = 1;
                            } else {
                                quantity_num_list[name][goodsQuantity]['num'] += 1;
                            }
                        }
                    }
                }

                document.getElementById("total").innerHTML = "待处理订单累计：<strong>" + orderNum + "笔</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type='button' class='btn btn-info' onclick=expressAll()>一键发货</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type='button' class='btn btn-info' onclick=downloadExcel()>一键下载Excel表格</button><br>";

                if (result.data.orderList != null) {
          var node="<table id='payed_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'></table>";
          $("#check_order_table").append(node);
          $("#payed_order_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": false,
            "bLengthChange": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/order/checkOrder')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#overview_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "订单号", "mData": "orderId"},
                {title: "代理商姓名", "mData": "agent.name"},
                {
                    title: "下单时间", "mRender": function (data, type, full) {
                      return ((new Date(full.createAt)).format("yyyy/MM/dd"));
                    }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                    var operation = "";
                    var detail_button = " <button type='button' id='" + full.orderId + "' class='btn btn-success' onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button> "; 
                    operation += detail_button;
                    var express_button = " <button type='button' id='" + full.orderId + "' class='btn btn-success' onclick=express(this)>发货</button> "; 
                    operation += express_button;
                    return operation;
                }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无代理商待审核订单",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
       }else{
        if (result.data.customerOrderList != null) {
        $("#li2").attr("class", "active");
        $("#li1").attr("class", "");
        $("#order_class2").attr("class", "text-success");
        $("#order_class1").attr("class", "text-info");
         var node="<table id='customer_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'></table>";
         $("#check_order_table").append(node);
         var status=1;
         $("#customer_order_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": false,
            "bLengthChange": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/order/customerOrder/overview/')}'+status,
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#overview_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "订单号", "mData": "orderId"},
                {title: "客户", "mData": "receiverName"},
                {title: "电话", "mData": "receiverPhone"},
                {title: "地址", "mData": "receiverAddress"},
                {
                    title: "代理商", "mRender": function (data, type, full) {
                      if(full.agent==null){
                          var agentName="无";
                      }else{
                          var agentName=full.agent.name;
                      }
                      return agentName;
                }
                },
                {title: "总计", "mData": "quantity"},
                {title: "总价", "mData": "totalPrice"},
                {
                    title: "下单时间", "mRender": function (data, type, full) {
                    return ((new Date(full.createAt)).format("yyyy/MM/dd"));
                }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                    var operation = "<button type='button' class='btn btn-info' id='" + full.orderId + "' onclick=expressCustomerOrder(this)>发货</button>";
                    return operation;
                }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无顾客待审核订单",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
     }
     }

            } else {
                document.getElementById("total").innerHTML = "当前没有待审核的订单！";
            }
        });

    });


</script>
<script>

    function select(obj) {
            var f = document.getElementById("check_order_table");
            var childs = f.childNodes;
            for (var i = childs.length - 1; i >= 0; i--) {
                f.removeChild(childs[i]);
            }
        switch (obj.id) {
            case "1":
                $("#li1").attr("class", "active");
                $("#li2").attr("class", "");
                $("#order_class1").attr("class", "text-success");
                $("#order_class2").attr("class", "text-info");
          var node="<table id='payed_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'></table>";
          $("#check_order_table").append(node);
          $("#payed_order_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": false,
            "bLengthChange": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/order/checkOrder')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#overview_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "订单号", "mData": "orderId"},
                {title: "代理商姓名", "mData": "agent.name"},
                {
                    title: "下单时间", "mRender": function (data, type, full) {
                      return ((new Date(full.createAt)).format("yyyy/MM/dd"));
                    }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                    var operation = "";
                    var detail_button = " <button type='button' id='" + full.orderId + "' class='btn btn-success' onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button> "; 
                    operation += detail_button;
                    var express_button = " <button type='button' id='" + full.orderId + "' class='btn btn-success' onclick=express(this)>发货</button> "; 
                    operation += express_button;
                    return operation;
                }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无代理商待审核订单",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
                break;
            case "2":
                $("#li2").attr("class", "active");
                $("#li1").attr("class", "");
                $("#order_class2").attr("class", "text-success");
                $("#order_class1").attr("class", "text-info");
         var node="<table id='customer_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'></table>";
         $("#check_order_table").append(node);
         var status=1;
         $("#customer_order_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": false,
            "bLengthChange": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/order/customerOrder/overview/')}'+status,
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#overview_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "订单号", "mData": "orderId"},
                {title: "客户", "mData": "receiverName"},
                {title: "电话", "mData": "receiverPhone"},
                {title: "地址", "mData": "receiverAddress"},
                {
                    title: "代理商", "mRender": function (data, type, full) {
                      if(full.agent==null){
                          var agentName="无";
                      }else{
                          var agentName=full.agent.name;
                      }
                      return agentName;
                }
                },
                {title: "总计", "mData": "quantity"},
                {title: "总价", "mData": "totalPrice"},
                {
                    title: "下单时间", "mRender": function (data, type, full) {
                    return ((new Date(full.createAt)).format("yyyy/MM/dd"));
                }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                      var operation = "<button type='button' class='btn btn-info' id='" + full.orderId + "' onclick=expressCustomerOrder(this)>发货</button>";
                      return operation;
                    }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无顾客待审核订单",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
                break;
            default:
                break;
        }
    }
    function detail(obj) {
        $.post("${path.concat('/order/orderItem/')}" + obj.id, function (result) {
        #*
        alert(result.data.totalPrices);
        alert(result.data.order);
        alert(result.data.goods_quantity_Map);
        *#
            document.getElementById("model_p").innerHTML = "代理商：" + result.data.order.agent.name;

            var f = document.getElementById("model_table");
            var childs = f.childNodes;
            for (var i = childs.length - 1; i >= 0; i--) {
                f.removeChild(childs[i]);
            }

            var node = "<tr><th>客户</th><th>产品</th><th>数量</th><th>价格</th><th>快递单</th></tr>";
            for (var i = 0; i < result.data.order.orderItems.length; i++) {
                var orderItem = result.data.order.orderItems[i];
                node += "<tr><td>" + orderItem.customer.name + "</td><td>" + orderItem.goods.name + "</td><td>" + orderItem.goodsQuantity + "</td><td>" + orderItem.orderItemPrice + "</td>";
                if (orderItem.status == "SHIPPED") {
                    node += "<td><button type='button' class='btn btn-success' id='" + orderItem.orderItemId + "' onclick=expressDetail(this)>快递单详情</button></td></tr>";
                } else {
                    node += "<td>无快递单</td></tr>";
                }
            }
            $("#model_table").append(node);
            document.getElementById("model_total").innerHTML = "总计:&nbsp;" + result.data.totalPrices + "元";
            var node1 = "";
            for (var key in result.data.goods_quantity_Map) {
                node1 += "商品:&nbsp;" + key + "&nbsp;&nbsp;&nbsp;&nbsp;总共:&nbsp;" + result.data.goods_quantity_Map[key] + "件<br>"
            }
            document.getElementById("model_quantity").innerHTML = node1;
        });
    }

    function express(obj) {
        var parentId = obj.id
        var turnForm = document.createElement("form");
        document.body.appendChild(turnForm);
        turnForm.method = 'post';
        turnForm.action = '${path.concat('/order/express')}';
        var newElement = document.createElement("input");
        newElement.setAttribute("name", "orderId");
        newElement.setAttribute("type", "hidden");
        newElement.setAttribute("value", parentId);
        turnForm.appendChild(newElement);
        turnForm.submit();
    }

    function expressCustomerOrder(obj) {
        var id = obj.id
        var turnForm = document.createElement("form");
        document.body.appendChild(turnForm);
        turnForm.method = 'post';
        turnForm.action = '${path.concat('/order/express')}';
        var newElement = document.createElement("input");
        newElement.setAttribute("name", "customerOrderId");
        newElement.setAttribute("type", "hidden");
        newElement.setAttribute("value", id);
        turnForm.appendChild(newElement);
        turnForm.submit();
    }


    function expressAll() {
        window.location.href = "${path.concat('/order/express')}";
    }
    
    function downloadExcel(){
       window.location.href = "${path.concat('/order/downloadOrderExcel')}";
    }

    function loadTable(obj) {
        $("#loadMore").remove();
        start += length;
        $.post(url, {
            start: start,
            length: length
        }, function (result) {
            var orderList = result.data;
            if (total < length) {
                length = total;
            }
            for (var i = 0; i < length; i++) {
                var order = orderList[i];
                var orderItems = order.orderItems;
                var totalPrice = 0;
                var goods_quantity_list = new Object();
                for (var j = 0; j < orderItems.length; j++) {
                    totalPrice = totalPrice + orderItems[j].orderItemPrice;
                }
                var node = "<tr id='" + order.orderId + "' onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'><td>" + order.orderId + "</td><td>" + order.agent.name + "</td><td>" + totalPrice + "元</td><td><button type='button' class='btn btn-info' onclick=express(this)>发货</button></td></tr>";
                $("#order_table").append(node);
            }


            total -= length;
            if (total > 0) {
                var node3 = "<button type='button' class='btn btn-success' id='loadMore' onclick=loadTable(this)>加载更多</button>";
                $("#check_order_table").append(node3);
            }

        });
    }

    function loadCustomerOrderTable(obj) {
        $("#loadCustomerOrderMore").remove();
        customerOrderStart += customerOrderLength;
        $.post("${path.concat('/order/customerOrder/check')}", {
            start: customerOrderStart,
            length: customerOrderLength
        }, function (result) {
            var customerOrderList = result.data;
            if (customerOrderTotal < customerOrderLength) {
                customerOrderLength = customerOrderTotal;
            }
            for (var i = 0; i < customerOrderLength; i++) {
                var customerOrder = customerOrderList[i];
                if (customerOrder.agent == null) {
                    var agentName = "无";
                } else {
                    var agentName = customerOrder.agent.name;
                }
                var node = "<tr><td>" + customerOrder.orderId + "</td><td>" + customerOrder.receiverName + "</td><td>" + customerOrder.receiverPhone + "</td><td>" + customerOrder.receiverAddress + "</td><td>" + agentName + "</td><td>"+customerOrder.goods.name+"</td><td>" + customerOrder.quantity + "</td><td>" + customerOrder.totalPrice + "元</td><td><button type='button' class='btn btn-info' id='" + customerOrder.orderId + "' onclick=expressCustomerOrder(this)>发货</button></td></tr>";
                $("#customer_order_table").append(node);
            }
            customerOrderTotal -= customerOrderLength;
            if (customerOrderTotal > 0) {
                var node3 = "<button type='button' class='btn btn-success' id='loadCustomerOrderMore' onclick=loadCustomerOrderTable(this)>加载更多</button>";
                $("#check_customerOrder_table").append(node3);
            }
        });
    }
    $(document).ready(function () {
        $.post(order_sum_url, function (result) {
            var category = result.category;
            var series = result.series;

            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '待处理订单信息汇总'
                },
                xAxis: {
                    categories: category
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '个数 (个)'
                    }
                },
                tooltip: {
                    headerFormat: '<span>{point.key}</span><br>',
                    pointFormat: '{series.name}' +
                    '&nbsp;{point.y} 件<br>',
                    footerFormat: '',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: series
            });
        });
    });
</script>