<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="config-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 账号授权 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#config-management">基本配置</a></li>
                <li class="active">账号授权</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
           <hr>
           <form id="register_admin_form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" >
                        管理员账号
                    </label>
                   <div class="form-group has-feedback col-sm-4 col-md-4 col-lg-4">
                      <label for="account_email" class="sr-only">
                           Email address
                      </label>
                      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      <input type="text" class="form-control" id="admin_username" name="username" placeholder="邮箱" required="" autocomplete="off">
                   </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label">
                        管理员密码
                    </label>
                   <div class="form-group has-feedback col-sm-4 col-md-4 col-lg-4">
                       <label for="account_password" class="sr-only">
                            Password
                       </label>
                       <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                       <input type="password" class="form-control" name="password" id="admin_password" placeholder="密码" required="" autocomplete="off">
                   </div>
               </div>
               <div class="form-group">
                   <button type="button" id="confirm_register_admin"
                        class="btn btn-primary">授权
                   </button>
                   <button type="button" id="clear_admin_info"
                        class="btn btn-warning">清空
                   </button>
               </div>
            </form>
             
        </div>
    </div>
</div>
<script>
    $("#clear_admin_info").click(function () {
        alert("test");
        $("#admin_username").val("");
        $("#admin_password").val("");
        $("#confirm_password").val("");
    });

    $("#confirm_register_admin").click(function () {
        $("#register_admin_form").attr("action", "${path.concat('/register')}");
        $("#register_admin_form").attr("method", "post");
        $("#register_admin_form").submit();
    })
   
</script>