<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="admin-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 账号授权 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#admin-management">管理员管理</a></li>
                <li class="active">账号授权</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <hr>
            <form id="register_admin_form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 col-lg-2 control-label">
                        账号用户名
                    </label>

                    <div class="has-feedback col-sm-8 col-md-10 col-lg-10">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <input type="text" class="form-control" id="admin_username" name="username" placeholder="用户名"
                               required="" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 col-lg-2 control-label">
                        账号密码
                    </label>

                    <div class="has-feedback col-sm-8 col-md-10 col-lg-10">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        <input type="password" class="form-control" name="password" id="admin_password" placeholder="密码"
                               required="" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 col-md-2 col-lg-2 control-label">
                        人员角色
                    </label>

                    <div class="has-feedback col-sm-8 col-md-10 col-lg-10">
                        #foreach($item in ${roles})
                            #if(${item.name} != "agent")
                                <label class="radio-inline">
                                    <input type="radio" class="role_option" name="role"
                                           id="${item.roleId}" value="${item.roleId}"> ${item.description}
                                </label>
                            #end
                        #end
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="confirm_register_admin"
                            class="btn btn-primary">创建账号
                    </button>
                    <button type="button" id="clear_admin_info"
                            class="btn btn-warning">清空
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    提示
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="dialogConfirm">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var role_option = $(".role_option").eq(0);
        role_option.attr("checked", "checked");
    });

    $("#clear_admin_info").click(function () {
        $("#admin_username").val("");
        $("#admin_password").val("");
        $("#confirm_password").val("");
    });

    $("#confirm_register_admin").click(function () {
        var name = $("#admin_username").val();
        var password = $("#admin_password").val();
        if ((typeof name == "undefined" || name == "") && (typeof password == "undefined" || password == "")) {
            $("#dialog").find(".modal-body").html("用户名和密码不能为空！");
            $("#dialog").modal('show');
        }
        else if (typeof name == "undefined" || name == "") {
            $("#dialog").find(".modal-body").html("用户名不能为空！");
            $("#dialog").modal('show');
        } else if (typeof password == "undefined" || password == "") {
            $("#dialog").find(".modal-body").html("密码不能为空！");
            $("#dialog").modal('show');
        } else {
            $("#register_admin_form").attr("action", "${path.concat('/register')}");
            $("#register_admin_form").attr("method", "post");
            $("#register_admin_form").submit();
        }
    });

    $("#dialog").find("#dialogConfirm").click(function () {
        $("#dialog").modal('hide');
    });

</script>