#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/customer/component/init.vm")
    <link rel="stylesheet" href="${path.concat('/material/css/customer/consult_order.css')}"/>
    <title>订单列表</title>
</head>
<body>
<div class="hd">
    <h1 class="page_title">所有订单</h1>
</div>
<div class="bd">
    #if(${orderFromAgent})
        #foreach( $order in ${orderFromAgent} )
            <div class="weui_panel weui_panel_access order_panel">
                <div class="weui_panel_hd col1">
                    <h4 class="order_id">订单号:${order.orderItemId}</h4>
                    #if(${order.order.agent.name})
                        <p class="agent">优惠码:${order.order.agent.agentId}</p>
                    #end
                </div>
                <div class="weui_panel_bd">
                    <div class="weui_media_box weui_media_text col2">
                        <h4 class="weui_media_title goods">商品名:${order.goods.name}</h4>

                        <p class="weui_media_title quantity">x${order.goodsQuantity}</p>
                    </div>
                    <div class="weui_media_box weui_media_text col3">
                        <h4 class="weui_media_title receiver">收件人:${order.customer.name}</h4>

                        <p class="weui_media_title phone">手机号:${order.customer.phone.phone}</p>

                        <p class="weui_media_desc address">地址:${order.receiveAddress}</p>
                    </div>
                    <div class="weui_media_box weui_media_text col4">
                        <p class="weui_media_title total_num">共${order.goodsQuantity}件商品</p>
                        <h4 class="weui_media_title total_money">合计：${order.orderItemPrice}元</h4>
                    </div>
                    <div class="weui_media_box weui_media_text col5">
                        #if(${order.status} == "SHIPPED" || ${order.status} == "RECEIVED")
						<div class="weui_cell_bd weui_cell_primary">已发货</div>
						<div class="express_btn">
						    <a class="weui_btn weui_btn_mini weui_btn_plain_primary">&nbsp物流信息&nbsp</a>
						</div>
						#elseif(${order.status} != "EXCHANGED")
						<div class="weui_cell_bd weui_cell_primary">未发货</div>
						#else
						<div class="weui_cell_bd weui_cell_primary">已退货</div>
						#end
                    </div>
                </div>
                <!--<a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>-->
            </div>
        #end
    #end

    #if(${orderFromCustomer})
        #foreach( $order in ${orderFromCustomer} )
            <div class="weui_panel weui_panel_access order_panel">
                <div class="weui_panel_hd col1">
                    <h4 class="order_id">订单号:${order.orderId}</h4>
                    #if(${order.agent.name})
                        <p class="agent">优惠码:${order.agent.agentId}</p>
                    #end
                </div>
                <div class="weui_panel_bd">
                    <div class="weui_media_box weui_media_text col2">
                        <h4 class="weui_media_title goods">商品名:${order.goods.name}</h4>

                        <p class="weui_media_title quantity">x${order.quantity}</p>
                    </div>
                    <div class="weui_media_box weui_media_text col3">
                        <h4 class="weui_media_title receiver">收件人:${order.receiverName}</h4>

                        <p class="weui_media_title phone">手机号:${order.receiverPhone}</p>

                        <p class="weui_media_desc address">地址:${order.receiverAddress}</p>
                    </div>
                    <div class="weui_media_box weui_media_text col4">
                        <p class="weui_media_title total_num">共${order.quantity}件商品</p>
                        <h4 class="weui_media_title total_money">合计：${order.totalPrice}元</h4>
                    </div>
                    <div class="weui_media_box weui_media_text col5">
                        #if(${order.status} == "SHIPPED" || ${order.status} == "RECEIVED")
						<div class="weui_cell_bd weui_cell_primary">已发货</div>
						<div class="express_btn">
						    <a class="weui_btn weui_btn_mini weui_btn_plain_primary">&nbsp物流信息&nbsp</a>
						</div>
						#elseif(${order.status} != "EXCHANGED")
						<div class="weui_cell_bd weui_cell_primary">未发货</div>
						#else
						<div class="weui_cell_bd weui_cell_primary">已退货</div>
						#end
                    </div>
                </div>
                <!--<a href="javascript:void(0);" class="weui_panel_ft">查看更多</a>-->
            </div>
        #end
    #end


    <div class="confirm_area weui_btn_area">
        <button class="weui_btn weui_btn_primary" id="confirm">确定</button>
    </div>
</div>

<!--
<div class="weui_dialog_alert" id="address_dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">消息</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
-->
</body>
<script>
    $(document).ready(function () {
        //将地址数据存入dom节点中,并添加显示函数，必须放在地址字符串截取前
        //var address_cell = $("#order_item_list").eq(0).find(".address").parent(".weui_cell");
        //address_cell.data("address", address_cell.find("#address").text());
        //address_cell.bind("click",$.showAddress);

        //地址字符串截取长度
        //$.addressBeautify();
    });

    //地址美化长度
    //$.addressBeautify = function(){
    //	var address = $("#address").html();
    //	$("#address").html($.utf8Substr(address,25));
    //}

    //$.showAddress = function(){
    //	$("#address_dialog").find(".weui_dialog_title").html($(this).data("address"));
    //	address_dom = this;
    //	$("#address_dialog").fadeIn();
    //}

    //$("#address_dialog").find(".weui_btn_dialog.primary").click(function(){
    //	$("#address_dialog").hide();
    //});
    
    $.each($(".express_btn"), function(i, val){
		$(val).on("click",function(){
			var orderItemId = $(this).parents(".order_panel").find(".order_id").html().substring(4);
			window.location = "${path.concat("/order/viewexpress/customer/")}" + orderItemId;
		})
    });

    $("#confirm").click(function () {
        WeixinJSBridge.call('closeWindow');
    });

</script>
</html>
