div {
  .info-box {
    display: block;
    min-height: 100px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 25px
  }

  div{
    .info-box:last-child{
      margin-bottom: 0;
    }
  }

  .info-box-icon {
    border-radius: 2px 0;
    display: block;
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    background: rgba(0, 0, 0, 0.2)
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 100px
  }

  .info-box-text {
    display: block;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase
  }

  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 20px
  }

  .alert {
    padding: 0;
  }

  span {
    .icon-item {
      text-align: center;
      box-sizing: border-box;
      line-height: 100px;
    }
  }

  .bg-green {
    background-color: #00a65a !important
  }

  .bg-yellow {
    background-color: #f39c12 !important
  }

  .bg-aqua {
    background-color: #00c0ef !important
  }

  .bg-red {
    background-color: #dd4b39 !important
  }

  .bg-macaron-red {
    background-color: #d87a80 !important;
  }

  .bg-macaron-yellow {
    background-color: #ffb980 !important;
  }

  .bg-macaron-blue {
    background-color: #5ab1ef !important;
  }
}