div {
  .info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px
  }

  .info-box-icon {
    border-radius: 2px 0;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2)
  }

  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px
  }

  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase
  }

  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px
  }

  .alert {
    padding: 0;
  }

  span {
    .icon-item {
      text-align: center;
      box-sizing: border-box;
      line-height: 90px;
    }
  }

  .bg-green {
    background-color: #00a65a !important
  }

  .bg-yellow {
    background-color: #f39c12 !important
  }

  .bg-aqua {
    background-color: #00c0ef !important
  }

  .bg-red {
    background-color: #dd4b39 !important
  }
}