#parse("/common/util.vm")
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    #parse("/backend/initialization/init.vm")
    #parse("/backend/initialization/init_datetimepicker.vm")
    <link rel="stylesheet" href="${path.concat('/material/css/backend/log.css')}"/>
    <title>日志查询</title>
</head>
<body id="dashboard" class="started pushable" ontouchstart>
    #parse("/backend/common/mobile_sidebar.vm")
    #parse("/backend/common/mobile_navigate_with_login.vm")
<div class="pusher">
    <div class="full height">
        <div class="constant">
            #parse("/backend/common/navigate_with_login.vm")
            #parse("/backend/common/sidebar.vm")
        </div>
        <div class="ui main container">
            #if(${logs})
                #parse("/backend/system/component/log_panel.vm")
            #else
                #parse("/backend/system/component/no_log.vm")
            #end
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="${path.concat('/material/js/backend/structure.js')}"></script>
</html>