<div id="month_distribution" class="ui segment" style="height: 450px;"></div>
<script>
    var month_distribution_url = "${path.concat('/statistic/order/summary')}";

    $.get(month_distribution_url, function (result) {
        if (result.responseCode == "RESPONSE_OK") {
            var data = eval(result.data);
            var month_distribution_chart = echarts.init(document.getElementById('month_distribution'), 'macarons');

            var month_list = [];
            var volume_list = [];

            var all = data.ALL;
            for (var i = 0; i < all.length; i++) {
                month_list.push(all[i].time);
                volume_list.push(all[i].quantity);
            }

            var ordinary_volume_list = [];
            var ordinary = data.ORDINARY;
            for (var i = 0; i < ordinary.length; i++) {
                ordinary_volume_list.push(ordinary[i].quantity);
            }

            var gift_volume_list = [];
            var gift = data.GIFT;
            for (var i = 0; i < gift.length; i++) {
                gift_volume_list.push(gift[i].quantity);
            }

            option = {
                title: {
                    text: '近一年订单笔数分析'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['订单笔数', '购买笔数', '赠送笔数']
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        boundaryGap: false,
                        data: month_list
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}'
                        }
                    }
                ],
                series: [
                    {
                        name: '订单笔数',
                        type: 'line',
                        data: volume_list
                    },
                    {
                        name: '购买笔数',
                        type: 'line',
                        data: ordinary_volume_list
                    },
                    {
                        name: '赠送笔数',
                        type: 'line',
                        data: gift_volume_list
                    }
                ]
            };
        } else {
            $("#month_distribution").hide();
        }

        month_distribution_chart.setOption(option);
    });
</script>