#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    #parse("/backend/initialization/echarts.lib.vm")
    #parse("/backend/component/init_highcharts.vm")
    #parse("/backend/component/init_dashboard.vm")
    <title>首页</title>
</head>
<body>
    #parse("/backend/component/navigate_with_login.vm")
<div class="container-fluid">
    #parse("/backend/component/sidebar.vm")
    #parse("/backend/component/dashboard_table.vm")
</div>
</body>
<script>

</script>
</html>