<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 代理概览 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#agent-management">代理管理</a></li>
                <li class="active">代理概览</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>代理商</th>
                    <th>本月</th>
                    <th>总数</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>代理商A</td>
                    <td>3</td>
                    <td>30</td>
                    <td>查看详情</td>
                </tr>
                <tr>
                    <td>代理商B</td>
                    <td>2</td>
                    <td>20</td>
                    <td>查看详情</td>
                </tr>
                <tr>
                    <td>代理商C</td>
                    <td>2</td>
                    <td>23</td>
                    <td>查看详情</td>
                </tr>
                <tr>
                    <td>代理商D</td>
                    <td>3</td>
                    <td>26</td>
                    <td>查看详情</td>
                </tr>
            </table>
        </div>
    </div>
</div>