<div class="modal fade" id="customer_detail_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">客户详情</h4>
            </div>
            <div class="modal-body">
               <p class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-3">客户个人信息:</label>&nbsp;&nbsp;
                    <br>
                    <p class="form-group">
                        <text id="personal"></text>
                    </p>
               </p>
               <hr>
               <p class="form-group">
                    <label class="col-sm-4 col-md-4 col-lg-3">客户订单信息:</label>&nbsp;&nbsp;
                    <br>
                    <p class="form-group">
                        <text></text>
                    </p>
               </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#customer_detail_modal").modal({
            show: false,
            keyboard: true
        });
    });
</script>