<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="customer-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 客户概览 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#customer-management">客户管理</a></li>
                <li class="active">客户概览</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table table-striped">
                <tr>
                    <th>客户</th>
                    <th>本月</th>
                    <th>总数</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>客户A</td>
                    <td>3</td>
                    <td>10</td>
                    <td>
                        <button type="button" class="btn btn-info">查看详情</button>
                    </td>
                </tr>
                <tr>
                    <td>客户B</td>
                    <td>3</td>
                    <td>8</td>
                    <td>
                        <button type="button" class="btn btn-info">查看详情</button>
                    </td>
                </tr>
                <tr>
                    <td>客户C</td>
                    <td>8</td>
                    <td>20</td>
                    <td>
                        <button type="button" class="btn btn-info">查看详情</button>
                    </td>
                </tr>
                <tr>
                    <td>客户D</td>
                    <td>5</td>
                    <td>35</td>
                    <td>
                        <button type="button" class="btn btn-info">查看详情</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
</script>