<link rel="stylesheet" href="${path.concat('/plugins/fileinput/css/fileinput.min.css')}"/>
<script type="text/javascript" src="${path.concat('/plugins/bootstrap/js/fileinput.min.js')}"></script>
<script type="text/javascript" src="${path.concat('/plugins/bootstrap/js/fileinput_locale_zh.js')}"></script>