<form class="form-signin" id="lg-form">
    <h2 class="form-signin-heading">
        登录
    </h2>

    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <input type="text" class="form-control" id="account_username" name="username"
               placeholder="用户名" required="" autocomplete="off">
    </div>
    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <input type="password" class="form-control" name="password"
               id="account_password" placeholder="密码" required="" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block btn-info" id="lgbtn" disabled="disabled">登录
    </button>
</form>
<script>
    $("#lgbtn").click(function () {
        $("#lg-form").attr("action", "${path.concat('/login')}");
        $("#lg-form").attr("method", "post");
        $("#lg-form").submit();
    });
</script>
<script>
    $(document).ready(function () {
        $("#account_username").bind("input propertychange", function () {
            if (login_validate()) {
                $("#lgbtn").removeAttr("disabled");
            } else {
                $("#lgbtn").attr("disabled", "disabled");
            }
        });
        $("#account_password").bind("input propertychange", function () {
            if (login_validate()) {
                $("#lgbtn").removeAttr("disabled");
            } else {
                $("#lgbtn").attr("disabled", "disabled");
            }
        });
    });
</script>
<script>
    function login_validate() {
        var username = $("#account_username").val();
        var password = $("#account_password").val();
        if (not_null(username) && not_null(password)) {
            return true;
        }
        return false;
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>