<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="true" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">云草纲目生物科技有限公司</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse in">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="${path.concat('/dashboard')}"><i class="fa fa-desktop"></i> 首页</a></li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-book"></i> 代理管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/agent/check')}"><i class="fa fa-edit"></i>
                            代理审核</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/agent/overview')}"><i class="fa fa-tasks"></i>
                            代理概览</a>
                        </li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-book"></i> 订单管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/order/check')}"><i class="fa fa-edit"></i>
                            订单审核</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/order/overview')}"><i class="fa fa-tasks"></i>
                            代理商订单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/order/customerOrder/overview')}"><i
                                class="fa fa-tasks"></i>
                            客户订单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/express/upload')}"><i class="fa fa-tasks"></i>
                            上传快递单</a>
                        </li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-book"></i> 商品管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/commodity/create')}"><i class="fa fa-edit"></i>
                            添加商品</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/commodity/overview')}"><i class="fa fa-tasks"></i>
                            商品概览</a>
                        </li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-book"></i> 返现管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/refund/record/month')}"><i class="fa fa-edit"></i>
                            当月返现</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/refund/record/overview')}"><i
                                class="fa fa-tasks"></i>
                            返现记录</a>
                        </li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-book"></i> 提现管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/withdraw/check')}"><i class="fa fa-edit"></i>
                            提现申请</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/withdraw/overview')}"><i class="fa fa-tasks"></i>
                            提现概览</a>
                        </li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-cog"></i> 基本配置<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/shipment/config')}"><i class="fa fa-cog"></i>
                            发货配置</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/refund/config')}"><i class="fa fa-cog"></i>
                            返现配置</a>
                        </li>
                    </ul>
                </li>
                <li><a class="dropdown-toggle" data-toggle="dropdown" data-parent="#accordion"><i
                        class="fa fa-book"></i> 管理员管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu nav nav-pills nav-stacked">
                        <li><a class="sub-nav" href="${path.concat('/register')}"><i class="fa fa-cog"></i>
                            账号授权</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/manage')}"><i class="fa fa-cog"></i>
                            账号管理</a>
                        </li>
                    </ul>
                </li>
                <li><a href="${path.concat('/logout')}">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
