<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 订单审核 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">订单审核</li>
            </ol>
        </div>
    </div>
    <div class="row">
         <div class="col-md-12 col-lg-12" id="main">   
             <p id="total" class="lead text-info"></p>    
             <div class="row">
                <ul class="nav nav-tabs">
                   <li class="active" id="li1"><a id="1" href="javascript:void(0);" onclick="select(this)"><h4 id="order_class1" class="text-success">代理商订单</h4></a></li>
                  <li id="li2"><a id="2" href="javascript:void(0);" onclick="select(this)"><h4 id="order_class2" class="text-info">顾客订单</h4></a></li>
                </ul>
             </div>    
             <div class="col-md-12 col-lg-12" id="check_order_table">          
             
            </div>
            <div class="col-md-12 col-lg-12" id="check_customerOrder_table">          
             
            </div>      
         </div>
       
    </div>
</div>
#parse("/backend/component/order_item_modal.vm")
#parse("/backend/express/component/express_detail_modal.vm")
<script>


    var url = "${path.concat('/order/check')}";
    var start = 0;
    var length= 5;
    var total=0;

    var goods_quantity_list = new Object();
    var quantity_num_list=new Object();
    $(document).ready(function () {
        $.post("${path.concat('/order/statistics')}", function (result) {
        
        var orderNum=0;
        
        if((result.data.orderList != null) || (result.data.customerOrderList != null)){
          if(result.data.orderList != null){
             orderNum+=result.data.orderList.length;
               for(var i=0; i<result.data.orderList.length; i++){
                  var order= result.data.orderList[i];  
                  var orderItems=order.orderItems;
                  for(var j=0; j<orderItems.length; j++){
                       var name=orderItems[j].goods.name;  
                       var goodsQuantity= orderItems[j].goodsQuantity;                   
                       if(goods_quantity_list[name] == undefined) {
        		          goods_quantity_list[name] = new Object();
        		          goods_quantity_list[name]['quantity'] = orderItems[j].goodsQuantity;        		       
        	           } else {
        		          goods_quantity_list[name]['quantity'] += orderItems[j].goodsQuantity;
        	           }
        	           
        	           if(quantity_num_list[name] == undefined){
        	               quantity_num_list[name] = new Object();
        	               if(quantity_num_list[name][goodsQuantity] == undefined){
        	                   quantity_num_list[name][goodsQuantity] = new Object();
        	                   quantity_num_list[name][goodsQuantity]['num'] = 1;     
        	               }else {
        		               quantity_num_list[name][goodsQuantity]['num'] += 1;
        	               }
        	           }else{
        	               if(quantity_num_list[name][goodsQuantity] == undefined){
        	                   quantity_num_list[name][goodsQuantity] = new Object();
        	                   quantity_num_list[name][goodsQuantity]['num'] = 1;     
        	               }else {
        		               quantity_num_list[name][goodsQuantity]['num'] += 1;
        	               }
        	           }
                  }                 
              }
          }
          if(result.data.customerOrderList != null){
                 orderNum+=result.data.customerOrderList.length;
                for(var i=0; i<result.data.customerOrderList.length; i++){
                    var customerOrder=result.data.customerOrderList[i];
                    var name=customerOrder.goods.name; 
                    var goodsQuantity=customerOrder.quantity;  
                    if(goods_quantity_list[name] == undefined) {
        		          goods_quantity_list[name] = new Object();
        		          goods_quantity_list[name]['quantity'] = customerOrder.quantity;        		       
        	        } else {
        		          goods_quantity_list[name]['quantity'] += customerOrder.quantity;
        	        }
        	               	               	           
        	        if(quantity_num_list[name] == undefined){
        	               quantity_num_list[name] = new Object();
        	               if(quantity_num_list[name][goodsQuantity] == undefined){
        	                   quantity_num_list[name][goodsQuantity] = new Object();
        	                   quantity_num_list[name][goodsQuantity]['num'] = 1;     
        	               }else {
        		               quantity_num_list[name][goodsQuantity]['num'] += 1;
        	               }
        	         }else{
        	               if(quantity_num_list[name][goodsQuantity] == undefined){
        	                   quantity_num_list[name][goodsQuantity] = new Object();
        	                   quantity_num_list[name][goodsQuantity]['num'] = 1;     
        	               }else {
        		               quantity_num_list[name][goodsQuantity]['num'] += 1;
        	               }
        	         }
                }
          }
            var node="";
            for(var goods_quantity in goods_quantity_list){             
                node=node+goods_quantity+"总计:&nbsp;"+goods_quantity_list[goods_quantity]['quantity']+"盒  &nbsp;";
            }
            node+="<br>"
            for(var name in quantity_num_list){  
               for(var quantity_num in quantity_num_list[name]){
                    node=node+name+quantity_num+"盒:&nbsp;"+quantity_num_list[name][quantity_num]['num']+"个  &nbsp;";
               }                         
            }
            document.getElementById("total").innerHTML="待处理订单累计：<strong>"+orderNum+"笔</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type='button' class='btn btn-info' onclick=expressAll()>一键发货</button><br>"+node;
        
       
       
        $.post(url, {
            start: start,
            length :length,
        }, function (result) {
        
        
         if(result.total>0){
            total=result.total;
            var orderList=result.data;            
            
            if(total<length){
               length=total;
            }
            var node1 = "<table class='table table-striped' style='margin-bottom: 0.2em' id='order_table'><colgroup><col width='25%'></col><col width='25%'></col><col width='25%'></col><col width='25%'></col></colgroup><tr><th>订单号</th><th>代理商</th><th>总计</th><td>操作</td></tr>";
                          
            for (var i = 0; i < length; i++) {  
                var order= orderList[i];                     
                var orderItems=order.orderItems;           
                var totalPrice=0;
                var goods_quantity_list = new Object();
                for(var j=0; j<orderItems.length; j++){	
                    totalPrice=totalPrice+orderItems[j].orderItemPrice;
                }
                var node2="<tr id='" + order.orderId + "' onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +totalPrice+ "元</td><td><button type='button' class='btn btn-info' onclick=express(this)>发货</button></td></tr>";          
                node1+=node2;
            }            
            node1=node1+"</table>";
            $("#check_order_table").append(node1);
                
            total-=length;
            if(total>0){
                 var node6="<button type='button' class='btn btn-success' id='loadMore' onclick=loadTable(this)>加载更多</button>";
                 $("#check_order_table").append(node6);
            }
            
            $("#check_order_table").fadeIn();
            
         }
            
         });
         
        $.post(url, {
            start: start,
            length :length,
        }, function (result) {
            
        });
    
        }else{
            document.getElementById("total").innerHTML="当前没有待审核的订单！";
        } 
        });
     
    });

    
</script>
<script>

    function select(obj){
       switch(obj.id){
            case "1": $("#li1").attr("class","active");$("#li2").attr("class","");$("#order_class1").attr("class","text-success");$("#order_class2").attr("class","text-info");
                      $("#check_order_table").fadeIn();
                     break;
            case "2": $("#li2").attr("class","active");$("#li1").attr("class","");$("#order_class2").attr("class","text-success");$("#order_class1").attr("class","text-info");
                     $("#check_order_table").fadeOut();
                     break;
            default:break;
       }
    }
    function detail(obj){
        $.post("${path.concat('/order/orderItem/')}"+obj.id, function (result) {
            #*
            alert(result.data.totalPrices);
            alert(result.data.order);
            alert(result.data.goods_quantity_Map);
            *#
            document.getElementById("model_p").innerHTML="代理商："+result.data.order.agent.name;
            
            var f = document.getElementById("model_table");            
            var childs = f.childNodes; 
            for(var i = childs.length - 1; i >= 0; i--) { 
               f.removeChild(childs[i]); 
            }

            var node="<tr><th>客户</th><th>产品</th><th>数量</th><th>价格</th><th>快递单</th></tr>";
            for(var i=0;i<result.data.order.orderItems.length;i++){
               var orderItem=result.data.order.orderItems[i];
               node+="<tr><td>"+orderItem.customer.name+"</td><td>"+orderItem.goods.name+"</td><td>"+orderItem.goodsQuantity+"</td><td>"+orderItem.orderItemPrice+"</td>";
               if(orderItem.status=="SHIPPED"){
                  node+="<td><button type='button' class='btn btn-success' id='" + orderItem.orderItemId + "' onclick=expressDetail(this)>快递单详情</button></td></tr>";
               }else{
                  node+="<td>无快递单</td></tr>";
               }
            }
            $("#model_table").append(node);
            document.getElementById("model_total").innerHTML="总计:&nbsp;"+result.data.totalPrices+"元";
            var node1="";
            for(var key in result.data.goods_quantity_Map){
                node1+="商品:&nbsp;"+key+"&nbsp;&nbsp;&nbsp;&nbsp;总共:&nbsp;"+result.data.goods_quantity_Map[key]+"件<br>"
            }
            document.getElementById("model_quantity").innerHTML=node1;
       });
    }
    
    function express(obj){
      var parentId= obj.parentElement.parentElement.id 
      var turnForm = document.createElement("form");       
      document.body.appendChild(turnForm);
      turnForm.method = 'post';
      turnForm.action = '${path.concat('/order/express')}';
      var newElement = document.createElement("input");
      newElement.setAttribute("name","orderId");
      newElement.setAttribute("type","hidden");
      newElement.setAttribute("value",parentId);
      turnForm.appendChild(newElement);
      turnForm.submit();
      #*
      window.location.href = "${path.concat('/order/express/')}"+id;
      *#
    }
    
    function expressAll(){
       window.location.href = "${path.concat('/order/express')}";
    }
    
    function loadTable(obj){
            $("#loadMore").remove();  
            start+=length; 
            $.post(url, {
               start: start,
               length :length,
            }, function (result) {
                 var orderList=result.data;   
                 if(total<length){	
                     length=total;		
                 }
            for (var i = 0; i < length; i++) {  
                var order= orderList[i];                     
                var orderItems=order.orderItems;           
                var totalPrice=0;
                var goods_quantity_list = new Object();
                for(var j=0; j<orderItems.length; j++){	
                    totalPrice=totalPrice+orderItems[j].orderItemPrice;
                }
                var node="<tr id='" + order.orderId + "' onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +totalPrice+ "元</td><td><button type='button' class='btn btn-info' onclick=express(this)>发货</button></td></tr>";          
                $("#order_table").append(node);
            }            
            
                
            total-=length;
            if(total>0){
                 var node6="<button type='button' class='btn btn-success' id='loadMore' onclick=loadTable(this)>加载更多</button>";
                 $("#check_order_table").append(node6);
            }
                 
         });   
      }
      
      
        

</script>