<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 订单概览 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">订单概览</li>
            </ol>
        </div>
    </div>


        <div class="row">
           <ul class="nav nav-tabs">
              <li class="active" id="li1"><a id="1" href="javascript:void(0);" onclick="select(this)"><h4 id="order_class1" class="text-success">已付款订单</h4></a></li>
              <li id="li2"><a id="2" href="javascript:void(0);" onclick="select(this)"><h4 id="order_class2" class="text-info">未付款订单</h4></a></li>
              <li id="li3"><a id="3" href="javascript:void(0);" onclick="select(this)"><h4 id="order_class3" class="text-info">已结束订单</h4></a></li>
           </ul>
        </div>

    <div class="row">
        <div class="col-md-12 col-lg-12" id="overview_order">

        </div>
    </div>

</div>
#parse("/backend/component/order_item_modal.vm")
<script>


    var url = "${path.concat('/order/overview')}";
    var payed_start = 0;
    var submited_start=0;
    var finish_start=0;
    var length= 5;
    var payed_params={"status":2};
    var submited_params={"status":1};
    var finish_params={"status":3};
    var payed_order_total=0;
    var submited_order_total=0;
    var finish_order_total=0;
    $(document).ready(function () {
        $.post(url, {
            start : payed_start,
            length :length,
            params :payed_params,
        }, function (result) {
            payed_order_total=result.total;
            var orderList=result.data;
            if(payed_order_total<length){
               length=payed_order_total;
            }
            var node1="<table id='payed_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'><tr><th>订单号</th><th>代理商姓名</th><th>生成时间</th><th>订单状态</th><th>操作</th></tr>";
            for (var i = 0; i < length; i++) {
                var order= orderList[i];
                if(order.status=="PAYED"){
                    var status="已付款未发货";
                }else if(order.status=="PATIAL_SHIPMENT"){
                    var status="部分发货";
                }else{
                    var status="完全发货";
                }
                var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                node1+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>" +status+ "</td><td><button type='button' id='" + order.orderId + "' class='btn btn-success' onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'	>详情</button></td></tr>";
            }
            $("#overview_order").append(node1);
            payed_order_total-=length;
            if(payed_order_total>0){
                 var node2="<button type='button' class='btn btn-success' id='loadPayedMore' onclick=loadPayedTable(this)>加载更多</button>";
                 $("#overview_order").append(node2);
            }
        });
    });


</script>
<script>
    function select(obj){
        if(document.getElementById("payed_order_table"))
        {
             $("#payed_order_table").remove();
             if(document.getElementById("loadPayedMore")) {
                   $("#loadPayedMore").remove();
             }
        }
        if(document.getElementById("submited_order_table"))
        {
             $("#submited_order_table").remove();
             if(document.getElementById("loadSubmitedMore")) {
                   $("#loadSubmitedMore").remove();
             }
        }
        if(document.getElementById("finish_order_table"))
        {
             $("#finish_order_table").remove();
             if(document.getElementById("loadFinishMore")) {
                   $("#loadFinishMore").remove();
             }
        }
        payed_start = 0;
        submited_start=0;
        finish_start=0;
       switch(obj.id){
           case "1":$("#li1").attr("class","active");$("#li2").attr("class","");$("#li3").attr("class","");$("#order_class1").attr("class","text-success");$("#order_class2").attr("class","text-info");$("#order_class3").attr("class","text-info");
                   length=5;
                   $.post(url, {
                        start : payed_start,
                        length :length,
                        params :payed_params,
                   }, function (result) {
                        payed_order_total=result.total;
                        var orderList=result.data;
                        if(payed_order_total<length){
                            length=payed_order_total;
                        }
                        var node1="<table id='payed_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'><tr><th>订单号</th><th>代理商姓名</th><th>生成时间</th><th>订单状态</th><th>操作</th></tr>";
                        for (var i = 0; i < length; i++) {
                            var order= orderList[i];
                            if(order.status=="PAYED"){
                               var status="已付款未发货";
                            }else if(order.status=="PATIAL_SHIPMENT"){
                               var status="部分发货";
                            }else{
                               var status="完全发货";
                            }
                            var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                           node1+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>" +status+ "</td><td><button type='button' class='btn btn-success' id='" + order.orderId + "'  onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button></td></tr>";
                       }
                       $("#overview_order").append(node1);
                       payed_order_total-=length;
                       if(payed_order_total>0){
                           var node2="<button type='button' class='btn btn-success' id='loadPayedMore' onclick=loadPayedTable(this)>加载更多</button>";
                           $("#overview_order").append(node2);
                       }
               });
                    break;
           case "2":$("#li2").attr("class","active");$("#li1").attr("class","");$("#li3").attr("class","");$("#order_class2").attr("class","text-success");$("#order_class1").attr("class","text-info");$("#order_class3").attr("class","text-info");
                     length=5;
                     $.post(url, {
                       start : submited_start,
                       length :length,
                       params :submited_params,
                     }, function (result) {
                       submited_order_total=result.total;
                       var orderList=result.data;
                       if(submited_order_total<length){
                          length=submited_order_total;
                       }
                       var node3="<table id='submited_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'><tr><th>订单号</th><th>代理商姓名</th><th>生成时间</th><th>订单状态</th><th>操作</th></tr>";
                       for (var i = 0; i < length; i++) {
                         var order= orderList[i];
                         if(order.status=="SAVED"){
                            var status="已保存未支付";
                         }else if(order.status=="SUBMITTED"){
                            var status="已提交未支付";
                         }else{
                            var status="未支付";
                         }
                         var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                         node3+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>" +status+ "</td><td><button type='button' class='btn btn-success' id='" + order.orderId + "'  onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button></td></tr>";
                       }
                       $("#overview_order").append(node3);
                       submited_order_total-=length;
                       if(submited_order_total>0){
                           var node4="<button type='button' class='btn btn-success' id='loadSubmitedMore' onclick=loadSubmitedTable(this)>加载更多</button>";
                           $("#overview_order").append(node4);
                       }
                    });

                    break;
           case "3":$("#li3").attr("class","active");$("#li1").attr("class","");$("#li2").attr("class","");$("#order_class3").attr("class","text-success");$("#order_class1").attr("class","text-info");$("#order_class2").attr("class","text-info");
                       length=5;
                       $.post(url, {
                          start : finish_start,
                          length :length,
                          params :finish_params,
                       }, function (result) {
                          finish_order_total=result.total;
                          var orderList=result.data;
                          if(finish_order_total<length){
                             length=finish_order_total;
                          }
                          var node5="<table id='finish_order_table' class='table table-striped table-bordered' cellspacing='0' width='100%'><tr><th>订单号</th><th>代理商姓名</th><th>生成时间</th><th>订单状态</th><th>操作</th></tr>";
                          for (var i = 0; i < length; i++) {
                             var order= orderList[i];
                             var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                             node5+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>已完成</td><td><button type='button' class='btn btn-success' id='" + order.orderId + "'  onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button></td></tr>";
                          }
                          $("#overview_order").append(node5);
                          finish_order_total-=length;
                          if(finish_order_total>0){
                             var node6="<button type='button' class='btn btn-success' id='loadFinishMore' onclick=loadFinishTable(this)>加载更多</button>";
                             $("#overview_order").append(node6);
                          }
                       });
                    break;
           default:break;
       }
    }

    function loadPayedTable(obj){
            $("#loadPayedMore").remove();
            payed_start+=length;
            $.post(url, {
               start: payed_start,
               length :length,
               params :payed_params,
            }, function (result) {
                 var orderList=result.data;
                 if(payed_order_total<length){
                    length=payed_order_total;
                 }
                var node1;
                for (var i = 0; i < length; i++) {
                   var order= orderList[i];
                   if(order.status=="PAYED"){
                      var status="已付款未发货";
                   }else if(order.status=="PATIAL_SHIPMENT"){
                      var status="部分发货";
                   }else{
                      var status="完全发货";
                   }
                   var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                   node1+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>" +status+ "</td><td><button type='button' class='btn btn-success' id='" + order.orderId + "'  onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button></td></tr>";
                }
                $("#payed_order_table").append(node1);
                payed_order_total-=length;
                if(payed_order_total>0){
                   var node2="<button type='button' class='btn btn-success' id='loadPayedMore' onclick=loadPayedTable(this)>加载更多</button>";
                   $("#overview_order").append(node2);
                }
         });
      }

      function loadSubmitedTable(obj){
            $("#loadSubmitedMore").remove();
            submited_start+=length;
            $.post(url, {
               start: submited_start,
               length :length,
               params :submited_params,
            }, function (result) {
                 var orderList=result.data;
                 if(submited_order_total<length){
                    length=submited_order_total;
                 }
                var node1;
                for (var i = 0; i < length; i++) {
                   var order= orderList[i];
                   if(order.status=="SAVED"){
                      var status="已保存未支付";
                   }else if(order.status=="SUBMITTED"){
                      var status="已提交未支付";
                   }else{
                      var status="未支付";
                   }
                   var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                   node1+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>" +status+ "</td><td><button type='button' class='btn btn-success' id='" + order.orderId + "'  onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button></td></tr>";
                }
                $("#submited_order_table").append(node1);
                submited_order_total-=length;
                if(submited_order_total>0){
                   var node2="<button type='button' class='btn btn-success' id='loadSubmitedMore' onclick=loadSubmitedTable(this)>加载更多</button>";
                   $("#overview_order").append(node2);
                }
         });
      }

       function loadFinishTable(obj){
            $("#loadFinishMore").remove();
            finish_start+=length;
            $.post(url, {
               start: finish_start,
               length :length,
               params :finish_params,
            }, function (result) {
                 var orderList=result.data;
                 if(finish_order_total<length){
                    length=finish_order_total;
                 }
                var node1;
                for (var i = 0; i < length; i++) {
                   var order= orderList[i];
                   var date=(new Date(order.createAt)).format("yyyy/MM/dd");
                   node1+="<tr><td>" +order.orderId+ "</td><td>" +order.agent.name+ "</td><td>" +date+ "</td><td>已完成</td><td><button type='button' class='btn btn-success' id='" + order.orderId + "'  onclick=detail(this) data-toggle='modal' data-target='#order_item_modal'>详情</button></td></tr>";
                }
                $("#finish_order_table").append(node1);
                finish_order_total-=length;
                if(finish_order_total>0){
                   var node2="<button type='button' class='btn btn-success' id='loadFinishMore' onclick=loadFinishTable(this)>加载更多</button>";
                   $("#overview_order").append(node2);
                }
         });
      }
      
      function detail(obj){
        $.post("${path.concat('/order/orderItem/')}"+obj.id, function (result) {
            #*
            alert(result.data.totalPrices);
            alert(result.data.order);
            alert(result.data.goods_quantity_Map);
            *#
            document.getElementById("model_p").innerHTML="代理商："+result.data.order.agent.name;

            var node="<tr><th>客户</th><th>产品</th><th>数量</th><th>价格</th><th>快递单</th></tr>";
            for(var i=0;i<result.data.order.orderItems.length;i++){
               var orderItem=result.data.order.orderItems[i];
               node+="<tr><td>"+orderItem.customer.name+"</td><td>"+orderItem.goods.name+"</td><td>"+orderItem.goodsQuantity+"</td><td>"+orderItem.orderItemPrice+"</td>";
               if(orderItem.status=="SHIPPED"){
                  node+="<td><button type='button' class='btn btn-success' id='" + orderItem.orderItemId + "' onclick=expressDetail(this)>快递单详情</button></td></tr>";
               }else{
                  node+="<td>无快递单</td></tr>";
               }
            }
            $("#model_table").append(node);
            document.getElementById("model_total").innerHTML="总计:&nbsp;"+result.data.totalPrices+"元";
            var node1="<p class='text-info'>";
            for(var key in result.data.goods_quantity_Map){
                node1+="商品:&nbsp;"+key+"&nbsp;&nbsp;&nbsp;&nbsp;总共:&nbsp;"+result.data.goods_quantity_Map[key]+"件<br>"
            }
            node1+="</p>";
            $(".modal-body").append(node1);
       });
    }
</script>