<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 订单审核 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">订单审核</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12" id="check_order_table">
            <p id="total"></p>       
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#agent-management").collapse('hide');
        $("#order-management").collapse('show');
        $("#customer-management").collapse('hide');
        $("#goods-management").collapse('hide');
        $("#statement-management").collapse('hide');
    });
    
    $(document).ready(function () {
        var url = "${path.concat('/order/check')}";
        var start = 0;
        var length= 5;
        $.post(url, {
            start: start,
            length :length,
        }, function (result) {
            var total=result.total;
            var orderList=result.data; 
    
            document.getElementById("total").innerHTML="待处理订单累计："+total+"笔";
            if(total<length){
               length=total;
            }
            for (var i = 0; i < length; i++) {  
                var order= orderList[i];        
                var node1 = "<div class='bs-callout' id='order" + i + "'><p>代理商"+ order.agent.name+ "订单</p></div>";
                $("#check_order_table").append(node1);
                var orderItems=order.orderItems;

                var node2 = "<table class='table table-striped' style='margin-bottom: 0.2em'><tr><th>客户</th><th>产品</th><th>数量</th><th>价格</th></tr>";
                var totalPrice=0;
                var goods_quantity_list = new Object();
                for(var j=0; j<orderItems.length; j++){
                    var node3="<tr><td>" +orderItems[j].customer.name+ "</td><td>" +orderItems[j].goods.name+ "</td><td>" +orderItems[j].goodsQuantity+ "</td><td>" +orderItems[j].orderItemPrice+ "</td></tr>";
                    node2=node2+node3;
                    totalPrice=totalPrice+orderItems[j].orderItemPrice;
                    var name=orderItems[j].goods.name;
                    
                    if(goods_quantity_list[name] == undefined) {
        		       goods_quantity_list[name] = new Object();
        		       goods_quantity_list[name]['quantity'] = orderItems[j].goodsQuantity;        		       
        	        } else {
        		       goods_quantity_list[name]['quantity'] += orderItems[j].goodsQuantity;
        	        }
                }
                node2=node2+"</table>";
                $("#order"+i).append(node2);
                
                var node4="<p>总计:&nbsp;"+ totalPrice+ "元,&nbsp;";
                for(var goods_quantity in goods_quantity_list){
                      node4=node4+goods_quantity+":&nbsp;"+goods_quantity_list[goods_quantity]['quantity']+"件  &nbsp;";
                }
                node4=node4+"</p>";
                $("#order"+i).append(node4);
                var node5="<button type='button' class='btn btn-info' onclick=express(this)>一键发货</button>";
                $("#order"+i).append(node5);
                
            }
           
            var node6="<button type='button' class='btn btn-success' onclick=express(this)>下一页</button>";
            $("#check_order_table").append(node6);
             
        });
     
    });

    
</script>
<script>
    $(".btn-info").click(function () {
        window.location.href = "${path.concat('/order/express')}";
    });
    
    function express(obj){
      window.location.href = "${path.concat('/order/express')}";
    }
</script>