#set($role = $session.getAttribute("role"))
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar" id="accordion" aria-multiselectable="true">
            #if($role == "admin")
                <li><a href="${path.concat('/dashboard')}"><i class="fa fa-desktop"></i> 首页</a></li>
            #end
            #if($role == "admin" || $role == "auditor")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#agent-management"><i
                        class="fa fa-book"></i> 代理管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="agent-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/agent/check')}"><i class="fa fa-edit"></i>
                            代理审核</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/agent/overview')}"><i class="fa fa-tasks"></i>
                            代理概览</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/gift/check')}"><i class="fa fa-edit"></i>
                            赠送申请</a></li>
                    </ul>
                </li>
            #end
            #if($role == "admin" || $role == "express")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#order-management"><i
                        class="fa fa-book"></i> 订单管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="order-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/order/check')}"><i class="fa fa-edit"></i>
                            订单审核</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/order/overview')}"><i class="fa fa-tasks"></i>
                            代理商订单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/order/customerOrder/overview')}"><i
                                class="fa fa-tasks"></i>
                            客户订单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/express/upload')}"><i
                                class="fa fa-tasks"></i>
                            上传快递单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/order/statistics')}"><i
                                class="fa fa-tasks"></i>
                            订单统计</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/order/indent')}"><i class="fa fa-tasks"></i>
                            订货单</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#goods-management"><i
                        class="fa fa-book"></i> 商品管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="goods-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/commodity/create')}"><i class="fa fa-edit"></i>
                            添加商品</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/commodity/overview')}"><i class="fa fa-tasks"></i>
                            商品概览</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#event-management"><i
                        class="fa fa-book"></i> 活动管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="event-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/event/create')}"><i class="fa fa-cog"></i>
                            发布活动</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/event/overview')}"><i class="fa fa-cog"></i>
                            活动列表</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/event/application')}"><i class="fa fa-cog"></i>
                            申请列表</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/event/present')}"><i class="fa fa-cog"></i>
                            赠送订单</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#statement-management"><i
                        class="fa fa-book"></i> 返现管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="statement-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/cashback/month')}"><i class="fa fa-tasks"></i>
                            当月返现</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/cashback/overview')}"><i class="fa fa-tasks"></i>
                            历史返现</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin"|| $role == "finance")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#withdraw-management"><i
                        class="fa fa-book"></i> 提现管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="withdraw-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/withdraw/check')}"><i class="fa fa-edit"></i>
                            提现申请</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/withdraw/overview')}"><i class="fa fa-tasks"></i>
                            提现概览</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin"|| $role == "finance")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#finance-management"><i
                        class="fa fa-book"> 报表下载</i><i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="finance-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat("/indent/overview")}"><i class="fa fa-tasks"></i> 订货单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat("/deliver/overview")}"><i class="fa fa-tasks"></i>
                            发货单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat("/gather/overview")}"><i class="fa fa-tasks"></i> 收款单</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat("/withdraw/overviewreport")}"><i class="fa fa-tasks"></i> 提现单</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#config-management"><i
                        class="fa fa-cog"></i> 基本配置<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="config-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/shipment/config')}"><i class="fa fa-cog"></i>
                            发货配置</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/refund/config')}"><i class="fa fa-cog"></i>
                            返现配置</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin")
                <li><a class="menu" data-toggle="collapse" data-parent="#accordion" href="#admin-management"><i
                        class="fa fa-book"></i> 管理员管理<i
                        class="pull-right fa fa-caret-down"></i></a>
                    <ul id="admin-management" class="nav nav-collapse collapse">
                        <li><a class="sub-nav" href="${path.concat('/register')}"><i class="fa fa-cog"></i>
                            账号授权</a>
                        </li>
                        <li><a class="sub-nav" href="${path.concat('/admin/overview')}"><i class="fa fa-cog"></i>
                            账号管理</a>
                        </li>
                    </ul>
                </li>
            #end
            #if($role == "admin")
                <li><a href="${path.concat('/log/overview')}"><i class="fa fa-book"></i> 系统日志</a></li>
            #end
        </ul>
    </div>
</div>
<script>
    $("#agent-management").collapse('hide');
    $("#order-management").collapse('hide');
    $("#goods-management").collapse('hide');
    $("#event-management").collapse('hide');
    $("#statement-management").collapse('hide');
    $("#withdraw-management").collapse('hide');
    $("#config-management").collapse('hide');
    $("#admin-management").collapse('hide');
    $("#finance-management").collapse('hide');
   
    $(function () {
        var target_id = $(".main").attr("id-target");
        $("#" + target_id).collapse('show');
    });

    var array = ["#agent-management", "#order-management", "#goods-management","#event-management", "#statement-management", "#withdraw-management", "#config-management", "#admin-management", "#finance-management"];
    $(".menu").click(function () {
        var menu_id = $(this).attr("href");
        $.each(array, function (i, value) {
            if (value != menu_id) {
                $(value).collapse('hide');
            }
        });
    });

</script>