<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar" id="accordion" aria-multiselectable="true">
            <li><a href="${path.concat('/dashboard')}"><i class="fa fa-desktop"></i> 首页</a></li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#agent-management"><i
                    class="fa fa-book"></i> 代理管理<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="agent-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/agent/check')}"><i class="fa fa-edit"></i>
                        代理审核</a>
                    </li>
                    <li><a class="sub-nav" href="${path.concat('/agent/overview')}"><i class="fa fa-tasks"></i>
                        代理概览</a>
                    </li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management"><i
                    class="fa fa-book"></i> 订单管理<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="order-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/order/check')}"><i class="fa fa-edit"></i>
                        订单审核</a>
                    </li>
                    <li><a class="sub-nav" href="${path.concat('/order/overview')}"><i class="fa fa-tasks"></i>
                        订单概览</a>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#customer-management"><i
                    class="fa fa-book"></i> 顾客管理<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="customer-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/customer/overview')}"><i class="fa fa-tasks"></i>
                        顾客概览</a>
                    </li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#goods-management"><i
                    class="fa fa-book"></i> 商品管理<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="goods-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/commodity/create')}"><i class="fa fa-edit"></i>
                        添加商品</a>
                    </li>
                    <li><a class="sub-nav" href="${path.concat('/commodity/overview')}"><i class="fa fa-tasks"></i>
                        商品概览</a>
                    </li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#statement-management"><i
                    class="fa fa-book"></i> 返现管理<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="statement-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/')}"><i class="fa fa-edit"></i>
                        当月返现</a>
                    </li>
                    <li><a class="sub-nav" href="${path.concat('/')}"><i class="fa fa-tasks"></i>
                        返现记录</a>
                    </li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#config-management"><i
                    class="fa fa-cog"></i> 基本配置<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="config-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/shipment/config')}"><i class="fa fa-cog"></i>
                        发货配置</a>
                    </li>
                    <li><a class="sub-nav" href="${path.concat('/refund/config')}"><i class="fa fa-cog"></i>
                        返现配置</a>
                    </li>
                </ul>
            </li>
            <li><a data-toggle="collapse" data-parent="#accordion" href="#admin-management"><i
                    class="fa fa-book"></i> 管理员管理<i
                    class="pull-right fa fa-caret-down"></i></a>
                <ul id="admin-management" class="nav nav-collapse collapse">
                    <li><a class="sub-nav" href="${path.concat('/register')}"><i class="fa fa-cog"></i>
                        账号授权</a>
                    </li>
                    <li><a class="sub-nav" href="${path.concat('/manage')}"><i class="fa fa-cog"></i>
                        账号管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    $("#agent-management").collapse('hide');
    $("#order-management").collapse('hide');
    $("#customer-management").collapse('hide');
    $("#goods-management").collapse('hide');
    $("#statement-management").collapse('hide');
    $("#config-management").collapse('hide');
    $("#admin-management").collapse('hide');
    $(function () {
        var target_id = $(".main").attr("id-target");
        $("#" + target_id).collapse('show');
    });
</script>