#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    <title>发布活动</title>
</head>
<body>
    #parse("/backend/component/navigate_with_login.vm")
    <div class="container-fluid">
        #parse("/backend/component/sidebar.vm")
        #parse("/backend/event/component/event_create_form.vm")
    </div>
</body>
</html>