<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="agent-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 赠送配置 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#agent-management">代理管理</a></li>
                <li class="active">赠送配置</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table id="gift_config_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            </table>

        </div>
    </div>
</div>
<div class="modal fade" id="config_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">商品赠送数量修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="config_form">
                    <input type="hidden" id="goods_id"/>

                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">代理商:</label>&nbsp;&nbsp;
                        <text id="agent_name"></text>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">选择的商品:</label>&nbsp;&nbsp;
                        <text id="goods_name"></text>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">当前可赠送数量:</label>&nbsp;&nbsp;
                        <input type="number" id="config_number" name="config_number" value="0" autocomplete="off"/>&nbsp;<span>件</span>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="config_confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#gift_config_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": false,
            "bLengthChange": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/commodity/overview')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#check_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {
                    title: "代理商", "mRender": function (data, type, full) {                  
                       return "${agentName}";
                    }
                },
                {title: "商品名称", "mData": "name"},
                {title: "代理价格", "mData": "agentPrice"},
                {
                    title: "描述", "mData": "description"
                },
                {
                    title: "当前可赠送数量(件)", "mRender": function (data, type, full) {
                    var url="${path.concat('/gift/')}${agentId}/"+full.goodsId;
                    var option = "";
                    $.ajax({
                        type: "get",
                        url: url,
                        async: false,
                        success: function (result) {
                            var data = result.data;
                            if (result.responseCode == "RESPONSE_OK") {
                                option += data[0].amount;
                            } else {
                                option += "暂未配置";
                            }
                        }
                    });
                    return option;
                }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                       var operation = "";
                       var update_button = "<button type='button' class='btn btn-success btn-group-sm' id='" + full.goodsId + "' data-toggle='modal' data-target='#config_modal'>修改</button>&nbsp;"
                       operation += update_button;
                    $("#" + full.goodsId).on('click', function () {
                        var goodsId = full.goodsId;
                        $("#goods_id").val(goodsId);
                        var goodsname = full.name;
                        $("#goods_name").text(goodsname);
                        $("#agent_name").text("${agentName}");
                        var url = "${path.concat('/gift/')}${agentId}/"+full.goodsId;
                        $.ajax({
                            type: "get",
                            url: url,
                            async: true,
                            success: function (result) {
                                var data = result.data;
                                if (result.responseCode == "RESPONSE_OK") {
                                    $("#config_number").val(data[0].amount);
                                }
                            }
                        });
                    });

                    return operation;
                    }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前没有需要配置的商品",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });

        $('#check_agent_table tbody tr').on('click', function () {
            alert("test");
            if ($(this).hasClass('selected')) {
                alert("test");
            }
        });
    });
    
    $(function () {
        $("#config_modal").modal({
            show: false,
            keyboard: true
        });
    });
    
    $("#config_confirm").on('click', function () {
        if ($("#goods_id").val() == "") {
            return;
        }
        var url = "${path.concat('/gift/config/')}${agentId}/"+ $("#goods_id").val()+"/"+$("#config_number").val();
        $.ajax({
           type: "get",
           url: url,
           async: true,
           success: function (result) {
                var giftCofigUrl="${path.concat('/agent/gift/')}${agentId}";
                window.location.href=giftCofigUrl;               
           }
        });
    });
</script>