<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="agent-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 下级代理商 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#agent-management">代理管理</a></li>
                <li class="active">下级代理商</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
           <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
           <div id="main" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>
#parse("/backend/agent/component/agent_detail_modal.vm")
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">
               提示
            </h4>
         </div>
         <div class="modal-body">
              
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
               确定
            </button>
         </div>
</div>
</div>
<script>
     var agent;
     var agentList;
     var agentMap;
     $(document).ready(function () {
        $.post("${path.concat('/agent/subordinateData/')}${agentId}", function (result) {
             agent=result.data.agent;
             agentList=result.data.agentList;
             var height=100;
             var node={name: agent.name,x: 300,y: 300};
             var dataList=new Array();
             var linkList=new Array();
             dataList[0]=node;
             
             for(var i=0;i<agentList.length;i++){    
               var node1={name: agentList[i].name,x: 550,y: height};
               var node2={source: agent.name,target: agentList[i].name}
               dataList[i+1]=node1; 
               linkList[i]=node2;
               height+=200;  
             }
             agentMap=result.data.agentMap;
             var height2=100; 
             var length=agentList.length;
             for(var i=0;i<agentList.length;i++){   
                 var agentId= agentList[i].agentId; 
                 for(var j=0;j<agentMap[agentId].length;j++){
                     var node3={name: agentMap[agentId][j].name,x: 800,y: height2};
                     var node4={source: agentList[i].name,target: agentMap[agentId][j].name}
                     dataList[length+1]=node3;  
                     linkList[length]=node4;
                     height2+=100;
                     length++;
                 }
                 
             }
             
             	// 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 指定图表的配置项和数据
    option = {
        title: {
               text: '代理商'+agent.name+'的下级代理商'
        },

        animationDurationUpdate: 1500,
        animationEasingUpdate: 'quinticInOut',
        series : [
        {
            type: 'graph',
            layout: 'none',
            symbolSize: 50,
            roam: true,
            label: {
                normal: {
                    show: true
                }
            },
            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [4, 10],
            edgeLabel: {
                normal: {
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            data: dataList,
            links: linkList,
            lineStyle: {
                normal: {
                    opacity: 0.9,
                    width: 2,
                    curveness: 0
                }
            }
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

       myChart.on('click', function (params) {  
           if(params.name.indexOf(">")<=0){       
               if(params.name==agent.name){
                  detail(agent.agentId);
               }else{
                   for(var i=0;i<agentList.length;i++){  
                      if(params.name==agentList[i].name){
                           detail(agentList[i].agentId);
                           break;
                      }else{
                         for(var j=0;i<agentMap[agentList[i].agentId].length;j++){                           
                                 if(params.name==agentMap[agentList[i].agentId][j].name){
                                      detail(agentMap[agentList[i].agentId][j].agentId);
                                      break;
                                 }                  
                         }
                      
                      }
                      
                   }
               }
               $("#agent_detail_modal").modal('show');    
          }
           
       });

       
    function detail(id){
        $.post("${path.concat('/agent/detail/')}"+id, function (result) {
           document.getElementById("personal").innerHTML="代理商姓名： "+result.data.agent.name;
       });
    }
});
     
});
  
</script>