<div class="modal fade" id="agent_detail_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">代理商详情</h4>
            </div>
            <div class="modal-body">
               <p class="form-group">
                    <label class="col-sm-6 col-md-6 col-lg-6">代理商个人详细信息:</label>&nbsp;&nbsp;
                    <br>
                    <p class="form-group">
                        <text id="agentAddress"></text>
                        <br>
                        <text id="agentWechat"></text>
                        <br>
                        <text id="upperAgent"></text>
                        <br>
                        <text id="agentclaimScale"></text>
                        <br>
                        <text id="agentCoffer"></text>
                        <br>
                        <text id="agentRefund"></text>
                        
                    </p>
               </p>
               <hr>
               <p class="form-group">
                    <label class="col-sm-8 col-md-8 col-lg-8">代理商订单信息(最近三个月):</label>&nbsp;&nbsp;
                    <br>
                    <p class="form-group" id="orderList">
                        
                    </p>
               </p>
               <hr>
               <p class="form-group">
                    <label class="col-sm-8 col-md-8 col-lg-8">代理商返现信息:</label>&nbsp;&nbsp;
                    <br>
                    <p class="form-group" id="refundRecordList">
                      
                    </p>
                    <br>
                    <div id="refundRecordContainer" style="display:none"></div>
               </p>
               <hr>
               <p class="form-group">
                    <label class="col-sm-8 col-md-8 col-lg-8">代理商提现信息:</label>&nbsp;&nbsp;
                    <br>
                    <p class="form-group" id="withdrawRecordList">
                       
                    </p>
                    <br>
                    <div id="withdrawRecordContainer" style="display:none"></div>
               </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#agent_detail_modal").modal({
            show: false,
            keyboard: true
        });
    });
</script>