<div class="ui stackable padded grid">
	<div class="row">
		<h1 class="ui header">
			<i class="home icon"></i>
			<div class="content">
				代理商个人详情
				<div class="sub header">
					<div class="ui breadcrumb">
						<a class="section">代理管理</a>

						<div class="divider">/</div>

						<a class="active section">代理商个人详情</a>
					</div>
				</div>
			</div>
		</h1>
	</div>
	<div class="row">
	       <a type="button" class="ui primary basic button" href="${path.concat('/agent/overview')}">返回</a>
	       <button type="button" class="ui negative basic button" id="fobid">禁用</button>
	       <a type="button" class="ui positive basic button" href="${path.concat('/gift/config/')}${agent.agentId}">赠送配置</a>
	       <a type="button" class="ui blue basic button" href="${path.concat('/agent/gift/')}${agent.agentId}">赠送申请</a>
	       <select class="ui dropdown" id="select">
				   <option value="">修改上级代理商</option>
				   #foreach( $elem in ${agentList})
				      <option value="$elem.agentId">$elem.name</option>
				   #end
           </select>	
    </div>
	<div class="row">
	</div>
</div>
<div class="ui modal" id="set_upperAgent_modal">
  <i class="close icon"></i>
  <div class="header">
    提示
  </div>
  <div class="image content">
    <div class="description">
        确定将该代理商设置为代理商${agent.name}的上级代理商？
    </div>
  </div>
  <div class="actions">
    <div class="ui button" id="set_cancer">取消</div>
    <div class="ui button" id="set_confirm">确认</div>
  </div>
</div>
<div class="ui modal" id="waring_modal">
  <i class="close icon"></i>
  <div class="header">
    警告
  </div>
  <div class="image content">
    <div class="description">
        一个代理商的上级代理商的上级代理商(或上上级代理商。。。)不能是他自己！！！
    </div>
  </div>
  <div class="actions">
    <div class="ui button" id="waring_confirm">确认</div>
  </div>
</div>
<div class="ui modal" id="fobid_modal">
  <i class="close icon"></i>
  <div class="header">
    警告
  </div>
  <div class="image content">
    <div class="description">
         禁用该代理商后，该代理商的信息将会被注销掉，该代理商的手机号码可以被重新注册！！！
    </div>
  </div>
  <div class="actions">
    <div class="ui button" id="fobid_cancer">取消</div>
    <div class="ui button" id="fobid_confirm">确认</div>
  </div>
</div>
<script>
    $('#set_upperAgent_modal').modal('hide');
    $('#waring_modal').modal('hide');
    $('#fobid_modal').modal('hide');
    var upperAgentId;
    $("#select").change(function(){
	   upperAgentId = $("#select").val();
       if(upperAgentId!=""){
		   $('#set_upperAgent_modal').modal('show');
       }
    });
	$("#set_confirm").on('click',function() {
		$('#set_upperAgent_modal').modal('hide');
		var url = "${path.concat('/agent/modifyUpperAgent/')}${agent.agentId}/"+ upperAgentId;
        $.post(url, function (result) {
            if (result.responseCode == "RESPONSE_OK") {
            	url="${path.concat('/agent/detail/')}${agent.agentId}";
    			window.location.href = url;
            } else if (result.description == "recursion") {
                $("#waring_modal").modal('show');
            } else {

            }
        });
	});
	$("#set_cancer").on('click', function() {
		   $('#set_upperAgent_modal').modal('hide');
	});
	$("#waring_confirm").on('click', function() {
		   $('#waring_modal').modal('hide');
		   url="${path.concat('/agent/detail/')}${agent.agentId}";
		   window.location.href = url;
	});
	$("#fobid").on('click', function() {
		   $('#fobid_modal').modal('show');
	});
	$("#fobid_confirm").on('click', function() {
		   $('#fobid_modal').modal('hide');
		   var url = "${path.concat('/agent/forbid/')}${agent.agentId}";
	        window.location.href = url;
	});
	$("#fobid_cancer").on('click', function() {
		   $('#fobid_modal').modal('hide');
	});
</script>