<div class="modal fade" id="config_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">活跃度配置修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="config_form">
                    <input type="hidden" id="agentVitalityId"/>

                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">月达标数量为:</label>&nbsp;&nbsp;
                        <input type="number" id="vitality_quantity" name="vitalityQuantity" value="0" 
                               autocomplete="off"/>&nbsp;<span>件</span>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">月达标金额为:</label>&nbsp;&nbsp;
                        <input type="number" id="vitality_qrice" name="vitalityPrice" value="0"
                               autocomplete="off"/>&nbsp;<span>元</span>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-12 col-md-12 col-lg-12">*只有当代理每月自身的销售数据达到规定的数量和金额才能获取下级代理商的返现</label>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="config_confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#config_modal").modal({
            show: false,
            keyboard: true
        });
    });

    $("#config_confirm").on('click', function () {
        var url = "${path.concat('/agent/vitality/config/')}" +$("#agentVitalityId").val();
        $("#config_form").attr("action", url);
        $("#config_form").attr("method", "post");
        $("#config_form").submit();
    });
</script>