#parse("/agent/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>首页</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="tabbar">
        <div class="weui_tab_bd">
            #parse("/agent/component/place_order_form.vm")
        </div>
        #parse("/agent/component/navigate.vm")
    </div>
</div>
</body>
</html>