#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>首页</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="tabbar">
        <div class="weui_tab_bd">
            #parse("/agent/component/place_order_form.vm")
            #parse("/agent/component/customer_list.vm")
            #parse("/agent/component/me.vm")
        </div>
        #parse("/agent/component/navigate.vm")
    </div>
</div>
</body>
<script>
    $("#customer_list_panel").hide();
    $("#self_info_panel").hide();
    $("#place_order_panel").show();
</script>
</html>