#parse("/agent/util.vm")
<html>
<head>
    #parse("/agent/component/init.vm")
    <title>代理注册</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
        <h1 class="page_title">注册</h1>

        <p class="page_desc">注册申请成为销售代理商</p>
    </div>
    <div class="bd">
        #parse("/agent/component/register_form.vm")
    </div>
</div>
</body>
</html>