#parse("/common/util.vm")
<html>
<head>
	<link rel="stylesheet"  media="all" href="${path.concat('/plugins/fileInput/css/fileinput.min.css')}"/>
    #parse("/agent/component/init.vm")
	<script type="text/javascript" src="${path.concat('/plugins/bootstrap/js/bootstrap.min.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/fileInput/js/fileinput.min.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/fileInput/js/fileinput_locale_zh.js')}"></script>
    <title>代理商注册</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
        <h1 class="page_title">注册</h1>

        <p class="page_desc">注册申请成为销售代理商</p>
    </div>
    <div class="bd">
        #parse("/agent/component/register_form.vm")
    </div>
</div>
</body>
<script>
    var title = "代理商注册";
    var description = "填写个人信息,提交代理商注册申请";
</script>
    #parse("/agent/wechat/component/validation.vm")
    
</html>