<div class="ui segment">
    <form class="ui form">
        <h4 class="ui dividing header">商品信息</h4>

        <div class="two fields">
            <div class="field">
                <label>商品名称</label>
                <input type="text" value="$!{goods.name}" placeholder="商品名称(全名)" autocomplete="off" required>
            </div>
            <div class="field">
                <label>商品别名</label>
                <input type="text" value="$!{goods.nickname}" placeholder="商品别名(缩略名)" autocomplete="off" required>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>商品原价</label>
                <input type="number" value="$!{goods.customerPrice}" placeholder="商品原价/顾客直接购买价格" autocomplete="off"
                       required>
            </div>
            <div class="field">
                <label>代理价格</label>
                <input type="number" value="$!{goods.agentPrice}" placeholder="代理商购买/分享价格" autocomplete="off" required>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>商品规格</label>
                <input type="text" value="$!{goods.standard}" placeholder="商品规格,如180g" autocomplete="off" required>
            </div>
            <div class="field">
                <label>计量单位</label>
                <input type="text" value="$!{goods.measure}" placeholder="商品计量单位,如:瓶,盒" autocomplete="off" required>
            </div>
        </div>
        <div class="field">
            <label>商品描述</label>
            <input type="text" value="$!{goods.description}" placeholder="商品描述" autocomplete="off" required>
        </div>
        <div class="two fields">
            <div class="field">
                <label>生产批号</label>
                <input type="text" value="$!{goods.produceNo}" placeholder="生产批号" autocomplete="off" required>
            </div>
            <div class="field">
                <label>生产日期</label>
                <input type="text" value="$!{goods.produceDate}" placeholder="生产日期" autocomplete="off" required>
            </div>
        </div>
        <div class="two fileds">
            <div class="field">
                <label>商品封面(请尽量上传正方形图片,图片不大于100k)</label>
                <input type="file" id="goods_cover" name="picture" accept="image/*" required>
            </div>
            <div class="field">
                <label>商品图片(图片不大于200k)</label>
                <input type="file" id="goods_pics" name="thumbnail" multiple>
            </div>
        </div>
        <div class="field">
            <input type="hidden" name="block" value="0">

            <div class="ui positive toggle checkbox">
                <input type="checkbox" checked="checked">
                <label>即时上架</label>
            </div>
        </div>
        <div class="ui green button">修改</div>
        <div class="ui button">关闭</div>
    </form>
</div>
<script src="${path.concat('/material/js/backend/util.js')}"></script>
<script>
    $("checkbox").checkbox();

    $(document).ready(function () {
        var thumbnail = eval(${goods.thumbnails});
        var cover = [];
        var slides = [];

        for (var i = 0; i < thumbnail.length; i++) {
            var item = thumbnail[i];
            if (item.type == 'cover') {
                cover.push({
                    name: item.thumbnailId,
                    size: 0,
                    type: "image/" + item.path.substring(item.path.length - 3),
                    file: item.path,
                    url: "${path}" + item.path
                })
            } else {
                slides.push({
                    name: item.thumbnailId,
                    size: 0,
                    type: "image/" + item.path.substring(item.path.length - 3),
                    file: item.path,
                    url: "${path}" + item.path
                });
            }
        }

        $('#goods_cover').filer({
            limit: 1,
            maxSize: null,
            extensions: null,
            changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>拖拽图片到这里</h3> <span style="display:inline-block; margin: 15px 0">或</span></div><a class="jFiler-input-choose-btn blue">选择图片</a></div></div>',
            showThumbs: true,
            theme: "dragdropbox",
            templates: {
                box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
                item: '<li class="jFiler-item">\
						<div class="jFiler-item-container">\
							<div class="jFiler-item-inner">\
								<div class="jFiler-item-thumb">\
									<div class="jFiler-item-status"></div>\
									<div class="jFiler-item-thumb-overlay">\
										<div class="jFiler-item-info">\
											<div style="display:table-cell;vertical-align: middle;">\
												<span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
												<span class="jFiler-item-others">{{fi-size2}}</span>\
											</div>\
										</div>\
									</div>\
									{{fi-image}}\
								</div>\
								<div class="jFiler-item-assets jFiler-row">\
									<ul class="list-inline pull-left">\
										<li>{{fi-progressBar}}</li>\
									</ul>\
									<ul class="list-inline pull-right">\
										<li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
									</ul>\
								</div>\
							</div>\
						</div>\
					</li>',
                itemAppend: '<li class="jFiler-item">\
							<div class="jFiler-item-container">\
								<div class="jFiler-item-inner">\
									<div class="jFiler-item-thumb">\
										<div class="jFiler-item-status"></div>\
										<div class="jFiler-item-thumb-overlay">\
											<div class="jFiler-item-info">\
												<div style="display:table-cell;vertical-align: middle;">\
													<span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
													<span class="jFiler-item-others">{{fi-size2}}</span>\
												</div>\
											</div>\
										</div>\
										{{fi-image}}\
									</div>\
									<div class="jFiler-item-assets jFiler-row">\
										<ul class="list-inline pull-left">\
											<li><span class="jFiler-item-others">{{fi-icon}}</span></li>\
										</ul>\
										<ul class="list-inline pull-right">\
											<li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
										</ul>\
									</div>\
								</div>\
							</div>\
						</li>',
                progressBar: '<div class="bar"></div>',
                itemAppendToEnd: false,
                canvasImage: true,
                removeConfirmation: true,
                _selectors: {
                    list: '.jFiler-items-list',
                    item: '.jFiler-item',
                    progressBar: '.bar',
                    remove: '.jFiler-item-trash-action'
                }
            },
            dragDrop: {
                dragEnter: null,
                dragLeave: null,
                drop: null,
                dragContainer: null,
            },
            uploadFile: {
                url: "${path.concat("/commodity/cover/upload")}",
                data: null,
                type: 'POST',
                enctype: 'multipart/form-data',
                synchron: true,
                beforeSend: function () {
                },
                success: function (data, itemEl, listEl, boxEl, newInputEl, inputEl, id) {
                    var parent = itemEl.find(".jFiler-jProgressBar").parent(),
                            new_file_name = data.data,
                            filerKit = inputEl.prop("jFiler");

                    filerKit.files_list[id].name = new_file_name;

                    itemEl.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow");
                    });
                },
                error: function (el) {
                    var parent = el.find(".jFiler-jProgressBar").parent();
                    el.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class=\"jFiler-item-others text-error\"><i class=\"icon-jfi-minus-circle\"></i> Error</div>").hide().appendTo(parent).fadeIn("slow");
                    });
                },
                statusCode: null,
                onProgress: null,
                onComplete: null
            },
            files: cover,
            addMore: false,
            allowDuplicates: true,
            clipBoardPaste: true,
            excludeName: null,
            beforeRender: null,
            afterRender: null,
            beforeShow: null,
            beforeSelect: null,
            onSelect: null,
            afterShow: null,
            onRemove: function (itemEl, file, id, listEl, boxEl, newInputEl, inputEl) {
                var filerKit = inputEl.prop("jFiler"),
                        file_name = filerKit.files_list[id].name;
                if (file_name == null) {
                    file_name = filerKit.files_list[id].file.name;
                }

                $.post('${path.concat('/commodity/delete/thumbnail/')}' + file_name);
            },
            onEmpty: null,
            options: null,
            dialogs: {
                alert: function (text) {
                    return alert(text);
                },
                confirm: function (text, callback) {
                    confirm(text) ? callback() : null;
                }
            },
            captions: {
                button: "选择图片",
                feedback: "选择图片上传",
                feedback2: "个图片已选择",
                drop: "将图片拖拽到该区域上传",
                removeConfirmation: "确认删除该图片吗?",
                errors: {
                    filesLimit: "只能上传{{fi-limit}}个文件.",
                    filesType: "只能上传图片.",
                    filesSize: "{{fi-name}} 超过限制,不能超过 {{fi-maxSize}} MB.",
                    filesSizeAll: "请选择大小不超过 {{fi-maxSize}} MB的文件."
                }
            }
        });

        $('#goods_pics').filer({
            maxSize: null,
            extensions: null,
            changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>拖拽图片到这里</h3> <span style="display:inline-block; margin: 15px 0">或</span></div><a class="jFiler-input-choose-btn blue">选择图片</a></div></div>',
            showThumbs: true,
            theme: "dragdropbox",
            templates: {
                box: '<ul class="jFiler-items-list jFiler-items-grid"></ul>',
                item: '<li class="jFiler-item">\
						<div class="jFiler-item-container">\
							<div class="jFiler-item-inner">\
								<div class="jFiler-item-thumb">\
									<div class="jFiler-item-status"></div>\
									<div class="jFiler-item-thumb-overlay">\
										<div class="jFiler-item-info">\
											<div style="display:table-cell;vertical-align: middle;">\
												<span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
												<span class="jFiler-item-others">{{fi-size2}}</span>\
											</div>\
										</div>\
									</div>\
									{{fi-image}}\
								</div>\
								<div class="jFiler-item-assets jFiler-row">\
									<ul class="list-inline pull-left">\
										<li>{{fi-progressBar}}</li>\
									</ul>\
									<ul class="list-inline pull-right">\
										<li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
									</ul>\
								</div>\
							</div>\
						</div>\
					</li>',
                itemAppend: '<li class="jFiler-item">\
							<div class="jFiler-item-container">\
								<div class="jFiler-item-inner">\
									<div class="jFiler-item-thumb">\
										<div class="jFiler-item-status"></div>\
										<div class="jFiler-item-thumb-overlay">\
											<div class="jFiler-item-info">\
												<div style="display:table-cell;vertical-align: middle;">\
													<span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name}}</b></span>\
													<span class="jFiler-item-others">{{fi-size2}}</span>\
												</div>\
											</div>\
										</div>\
										{{fi-image}}\
									</div>\
									<div class="jFiler-item-assets jFiler-row">\
										<ul class="list-inline pull-left">\
											<li><span class="jFiler-item-others">{{fi-icon}}</span></li>\
										</ul>\
										<ul class="list-inline pull-right">\
											<li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
										</ul>\
									</div>\
								</div>\
							</div>\
						</li>',
                progressBar: '<div class="bar"></div>',
                itemAppendToEnd: false,
                canvasImage: true,
                removeConfirmation: true,
                _selectors: {
                    list: '.jFiler-items-list',
                    item: '.jFiler-item',
                    progressBar: '.bar',
                    remove: '.jFiler-item-trash-action'
                }
            },
            dragDrop: {
                dragEnter: null,
                dragLeave: null,
                drop: null,
                dragContainer: null,
            },
            uploadFile: {
                url: "${path.concat('/commodity/thumbnail/upload')}",
                data: null,
                type: 'POST',
                enctype: 'multipart/form-data',
                synchron: true,
                beforeSend: function () {
                },
                success: function (data, itemEl, listEl, boxEl, newInputEl, inputEl, id) {
                    var parent = itemEl.find(".jFiler-jProgressBar").parent(),
                            new_file_name = data.data,
                            filerKit = inputEl.prop("jFiler");

                    filerKit.files_list[id].name = new_file_name;

                    itemEl.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i> Success</div>").hide().appendTo(parent).fadeIn("slow");
                    });
                },
                error: function (el) {
                    var parent = el.find(".jFiler-jProgressBar").parent();
                    el.find(".jFiler-jProgressBar").fadeOut("slow", function () {
                        $("<div class=\"jFiler-item-others text-error\"><i class=\"icon-jfi-minus-circle\"></i> Error</div>").hide().appendTo(parent).fadeIn("slow");
                    });
                },
                statusCode: null,
                onProgress: null,
                onComplete: null
            },
            files: slides,
            addMore: false,
            allowDuplicates: true,
            clipBoardPaste: true,
            excludeName: null,
            beforeRender: null,
            afterRender: null,
            beforeShow: null,
            beforeSelect: null,
            onSelect: null,
            afterShow: null,
            onRemove: function (itemEl, file, id, listEl, boxEl, newInputEl, inputEl) {
                var filerKit = inputEl.prop("jFiler"),
                        file_name = filerKit.files_list[id].name;

                $.post('${path.concat('/commodity/delete/thumbnail/')}' + file_name);
            },
            onEmpty: null,
            options: null,
            dialogs: {
                alert: function (text) {
                    return alert(text);
                },
                confirm: function (text, callback) {
                    confirm(text) ? callback() : null;
                }
            },
            captions: {
                button: "选择图片",
                feedback: "选择图片上传",
                feedback2: "个图片已选择",
                drop: "将图片拖拽到该区域上传",
                removeConfirmation: "确认删除该图片吗?",
                errors: {
                    filesLimit: "只能上传{{fi-limit}}个文件.",
                    filesType: "只能上传图片.",
                    filesSize: "{{fi-name}} 超过限制,不能超过 {{fi-maxSize}} MB.",
                    filesSizeAll: "请选择大小不超过 {{fi-maxSize}} MB的文件."
                }
            }
        });
    });
</script>