<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.bootcss.com/datatables/1.10.13/css/dataTables.semanticui.min.css"/>
<script type="text/javascript" src="https://cdn.bootcss.com/datatables/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
<script type="text/javascript"
        src="https://cdn.bootcss.com/datatables/1.10.13/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript" src="${path.concat('/material/js/backend/date.js')}"></script>
