<div class="ui form">
    <div class="inline fields">
        <div class="seven wide field datetime_field">
            <label class="dateLabel">开始时间</label>
            <div id="start_flatpickr" class="ui action input flatpickr" data-time_24hr=true data-wrap="true">
                <input id="start_time" type="text" name="start" placeholder="请选择开始时间" autocomplete="off" required="required" data-input>
                <button class="ui basic button" data-toggle><i class="calendar outline icon"></i></button>
                <button class="ui basic button" data-clear><i class="remove icon"></i></button>
            </div>
        </div>
        <div class="seven wide field datetime_field">
            <label class="dateLabel">结束时间</label>
            <div id="end_flatpickr" class="ui action input flatpickr" data-time_24hr=true data-wrap="true">
                <input id="end_time" type="text" name="end" placeholder="请选择结束时间" autocomplete="off" required="required" data-input>
                <button class="ui basic button" data-toggle><i class="calendar outline icon"></i></button>
                <button class="ui basic button" data-clear><i class="remove icon"></i></button>
            </div>
        </div>
        <div class="two wide field datetime_btn_field">
            <button id="datetime_btn" type="submit" class="ui teal submit button">查询</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".flatpickr").flatpickr({
            "locale": "zh"
        });
    });
</script>