<div class="ui form">
    <div class="inline fields">
        <div class="seven wide field datetime_field">
            <label>开始时间</label>
            <div class="ui action input flatpickr" data-time_24hr=true data-wrap="true">
                <input id="start_time" type="text" name="start" placeholder="请选择开始时间" autocomplete="false" required="required" data-input>
                <button class="ui basic button" data-toggle><i class="calendar outline icon"></i></button>
                <button class="ui basic button" data-clear><i class="remove icon"></i></button>
            </div>
        </div>
        <div class="seven wide field datetime_field">
            <label>结束时间</label>
            <div class="ui action input flatpickr" data-time_24hr=true data-wrap="true">
                <input id="end_time" type="text" name="end" placeholder="请选择结束时间" autocomplete="false" required="required" data-input>
                <button class="ui basic button" data-toggle><i class="calendar outline icon"></i></button>
                <button class="ui basic button" data-clear><i class="remove icon"></i></button>
            </div>
        </div>
        <div class="two wide field datetime_btn_field">
            <button id="datetime_btn" type="submit" class="ui teal submit disabled button" disabled="disabled">查询</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".flatpickr").flatpickr({
            "locale": "zh"
        });

        $("#start_time").on("input propertychange",function () {
            if (time_validate()) {
                active();
            } else {
                inactive();
            }
        });

        $("#end_time").on("input propertychange",function () {
            if (time_validate()) {
                active();
            } else {
                inactive();
            }
        });
    });

    function active() {
        $("#datetime_btn").removeAttr("disabled");
        $("#datetime_btn").removeClass("disabled");
    }

    function inactive() {
        $("#datetime_btn").attr("disabled", "disabled");
        $("#datetime_btn").addClass("disabled");
    }

    function time_validate() {
        var start = $("#start_time").val();
        var end = $("#end_time").val();
        if (not_null(start)&&not_null(end)) {
            return true;
        }
        return false;
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>