<link rel="stylesheet" href="${path.concat('/plugins/bootstrap/css/bootstrap.min.css')}"/>
<link rel="stylesheet" href="${path.concat('/plugins/fileinput/css/fileinput.min.css')}"/>
<link rel="stylesheet" href="${path.concat('/material/css/backend/fileinput.css')}">
<script type="text/javascript" src="${path.concat('/plugins/fileinput/js/fileinput.min.js')}"></script>
<script type="text/javascript" src="${path.concat('/plugins/fileinput/js/fileinput_locale_zh.js')}"></script>