#set($role = $session.getAttribute("role"))
<div id="mobileTopMenu" class="ui top fixed inverted menu">
    <div class="header item">
        <a id="menuIcon">
            <i class="sidebar icon"></i>
            <span id="mobileLogo">云草纲目</span>
        </a>
    </div>
    <div class="right menu">
        #if($role == "agent")
        <a href="${path.concat('/me')}" class="item">个人中心</a>
        #end
        <a href="${path.concat('/logout')}" class="item">退出</a>
    </div>
</div>