<div id="mobileTopMenu" class="ui top fixed inverted menu">
    <div class="header item">
        <a id="menuIcon">
            <i class="sidebar icon"></i>
            <span id="mobileLogo">云草纲目</span>
        </a>
    </div>
    <div class="right menu">
        <a href="#" class="item">个人中心</a>
        <a href="#" class="item">退出</a>
    </div>
</div>