#set($role = $session.getAttribute("role"))
<div id="mobileSidebar" class="ui thin left inverted sidebar vertical accordion menu">
    #if($role == "admin" || $role == "express" || $role == "auditor" || $role == "finance" || $role == "salesman")
        <a href="${path.concat('/dashboard')}" class="item">首页</a>
    #end
    #if($role == "admin" || $role == "auditor" || $role == "salesman")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>代理管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/agent/overview')}">代理概览</a>
                <a class="item" href="${path.concat('/agent/check')}">代理审核</a>
                <a class="item" href="${path.concat('/gift/check/total')}">赠送申请</a>
            </div>
        </div>
    #end
    #if($role == "admin" || $role == "agent" || $role == "salesman")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>顾客管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/customer/overview/total')}">顾客概览</a>
            </div>
        </div>
    #end
    #if($role == "admin" || $role == "express"||$role == "agent" || $role == "salesman")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>订单管理</a>

            <div class="content menu">
                #if($role == "admin" || $role == "express" || $role == "salesman")
                    <a class="item" href="${path.concat('/order/summary')}">订单概览</a>
                #end
                <a class="item" href="${path.concat('/order/overview')}">订单列表</a>
            </div>
        </div>
    #end
    #if($role == "admin" || $role == "finance")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>商品管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/commodity/summary')}">商品销售</a>
                <a class="item" href="${path.concat('/commodity/overview')}">商品列表</a>
            </div>
        </div>
    #end
    #if($role == "admin" || $role == "finance")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>返现管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/cashback/overview')}">返现概览</a>
            </div>
        </div>
    #end
    #if($role == "admin" || $role == "finance")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>提现管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/withdraw/overview')}">提现列表</a>
            </div>
        </div>
    #end
    #if($role == "admin" || $role == "express" || $role == "salesman")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>活动管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/event/overview')}">活动列表</a>
            </div>
        </div>
    #end
    #if($role == "admin"|| $role == "finance")
        <a class="item" href="${path.concat('/statement/download')}">报表专区</a>
    #end
    #if($role == "admin")
        <div class="item">
            <a class="title"><i class="dropdown icon"></i>账号管理</a>

            <div class="content menu">
                <a class="item" href="${path.concat('/admin/overview')}">账号列表</a>
            </div>
        </div>
    #end
    #if($role == "admin")
        <a class="item" href="${path.concat('/log/overview')}">日志查询</a>
    #end
</div>