<div id="topMenu" class="ui top fixed inverted menu">
    <div id="logo" class="header item">
        <img class="ui small image" src="${path.concat('/material/images/logo.png')}">
    </div>
    <div class="right menu">
        <a href="#" class="item">个人中心</a>
        <a href="${path.concat('/logout')}" class="item">退出</a>
    </div>
</div>