#set($role = $session.getAttribute("role"))
<div id="topMenu" class="ui top fixed inverted menu">
    <div id="logo" class="header item">
        <img class="ui small image" src="${path.concat('/material/images/logo.png')}">
    </div>
    <div class="right menu">
        #if($role == "agent")
        <a href="${path.concat('/me')}" class="item">个人中心</a>
        #end
        <a href="${path.concat('/logout')}" class="item">退出</a>
    </div>
</div>