#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    #parse("/backend/component/init_fileinput.vm")
    <title>修改商品</title>
</head>
<body>
    #parse("/backend/component/navigate_with_login.vm")
<div class="container-fluid">
    #parse("/backend/component/sidebar.vm")
    #parse("/backend/goods/component/update_goods_form.vm")
</div>
</body>
</html>