<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="statement-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i>
                本月返现详情
            </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#statement-management">返现管理</a></li>
                <li class="active">返现详情</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>代理商：${agent.name}</h4>

            <h4>返现月份：${month}</h4>

            <h4>返现总额：${cashback.amount}元</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>三级返现明细：</h4>
            #if(${self})
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">返现来源：自销</h4>
                        <h4>返现金额：${cashback.self}元</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">商品名</th>
                                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">销量(盒)</th>
                                    <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">返现比例(元/盒)</th>
                                    <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">返现金额(元)</th>
                                </tr>
                                #foreach($item in ${self})
                                    <tr>
                                        <td>${item.orderPool.goods.name}</td>
                                        <td>${item.orderPool.quantity}</td>
                                        <td>${item.percent}(元/盒)</td>
                                        <td>${item.amount}(元)</td>
                                    </tr>
                                #end
                            </table>
                        </div>
                    </div>
                </div>
            #end
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">返现来源：直接代理</h4>
                    <h4>返现金额：${cashback.direct}元</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">商品名</th>
                                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">代理商</th>
                                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">销量(盒)</th>
                                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">返现比例(元/盒)</th>
                                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">返现金额(元)</th>
                            </tr>
                            <tr>
                                <td rowspan="1">三七粉</td>
                                <td>刘嘉</td>
                                <td>10</td>
                                <td>20(元/盒)</td>
                                <td>200(元)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">返现来源：间接代理</h4>
                    <h4>返现金额：${cashback.indirect}元</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">商品名</th>
                                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">代理商</th>
                                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">销量(盒)</th>
                                <th class="col-xs-2 col-sm-3 col-md-3 col-lg-3">返现比例(元/盒)</th>
                                <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">返现金额(元)</th>
                            </tr>
                            <tr>
                                <td rowspan="1">三七粉</td>
                                <td>陈振宇</td>
                                <td>10</td>
                                <td>10(元/盒)</td>
                                <td>100(元)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>