<div class="modal fade" id="config_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">返现配置修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="config_form">
                    <input type="hidden" id="goods_id"/>

                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">选择的商品名称为:</label>&nbsp;&nbsp;
                        <text id="goods_name"></text>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">选择的商品单价为:</label>&nbsp;&nbsp;
                        <text id="goods_price"></text>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">返现标准数量为:</label>&nbsp;&nbsp;
                        <input type="number" id="config_trigger" name="amountTrigger" value="0" autocomplete="off"/>&nbsp;<span>件</span>
                    </p>

                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">自己返现:</label>&nbsp;&nbsp;
                        <input type="number" id="config_percent_1" name="level1Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">直接关联返现:</label>&nbsp;&nbsp;
                        <input type="number" id="config_percent_2" name="level2Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </p>
                     <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">间接关联返现:</label>&nbsp;&nbsp;
                        <input type="number" id="config_percent_3" name="level3Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </p>
                    <p class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">月份配置:</label>&nbsp;&nbsp;
                        <input type="number" id="month_config" name="monthConfig" value="1"
                               autocomplete="off"/>&nbsp;<span>个月</span>
                    </p>

                    <p class="form-group">
                        <label class="col-sm-12 col-md-12 col-lg-12">*只有当代理每批次达到返现标准数量时,才有资格获得返现机会</label>
                        <label class="col-sm-12 col-md-12 col-lg-12">*并且只有当代理按照月份配置的月数，连续每个月达到返现标准,才有资格获得返现机会</label>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="config_confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#config_modal").modal({
            show: false,
            keyboard: true
        });
    });

    $("#config_confirm").on('click', function () {
        if ($("#goods_id").val() == "") {
            return;
        }
        var url = "${path.concat('/refund/config/goods/')}" + $("#goods_id").val();
        $("#config_form").attr("action", url);
        $("#config_form").attr("method", "post");
        $("#config_form").submit();
    });
</script>