<div class="modal fade" id="create_config_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">新建返现配置</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="create_config_form">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-4 col-md-4 col-lg-3">适用情况:</label>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9">
                            <label class="radio-inline" style="padding-top:0;">
                                <input type="radio" name="apply_radio" id="partial_apply_radio"/>部分适用
                            </label>
                            <label class="radio-inline" style="padding-top:0;">
                                <input type="radio" name="apply_radio" id="apply_radio"/>普遍适用
                            </label>
                        </div>
                        <div id="set_month" class="col-xs-8 col-sm-8 col-md-8 col-lg-9" style="padding-top:10px;">
                            <span>前</span>
                            <select name="apply_months">
                                <option value="" selected="selected"></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                            </select>
                            <span>个月适用</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">返现标准数量为:</label>&nbsp;&nbsp;
                        <input type="number" id="config_trigger" name="amountTrigger" value="0" autocomplete="off"/>&nbsp;<span>件</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">自己返现:</label>&nbsp;&nbsp;
                        <input type="number" name="level1Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">直接关联返现:</label>&nbsp;&nbsp;
                        <input type="number" name="level2Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">间接关联返现:</label>&nbsp;&nbsp;
                        <input type="number" name="level3Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 col-lg-3">月份配置:</label>&nbsp;&nbsp;
                        <input type="number" name="monthConfig" value="1"
                               autocomplete="off"/>&nbsp;<span>个月</span>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-12 col-md-12 col-lg-12">*已经存在某类型的适用情况的返现配置了，则不允许添加同类型的适用情况的返现配置，只能修改</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="create_config_confirm">确认</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#create_config_modal").modal({
            show: false,
            keyboard: true
        });
        
        $("#set_month").hide();
    });
    
    $("#partial_apply_radio").click(function(){
        $("#set_month").show();
    });
    
    $("#apply_radio").click(function(){
        $("#set_month").hide();
    });

    $("#create_config_confirm").on('click', function () {
        var url = "${path.concat('/refund/config/create/')}${goodsId}";
    	$("#create_config_form").attr("action", url);
    	$("#create_config_form").attr("method", "post");
    	$("#create_config_form").submit(); 
    });
    
</script>