<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="event-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 活动管理 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#event-management">活动管理</a></li>
                <li class="active">申请列表</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
           #if(${size})
             <button type="button" class="btn btn-info" id="presentAll">一键赠送</button> 
           #end  
           <br>
            <table id="event_application_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            </table>

        </div>
    </div>
</div>
#parse("/backend/event/component/application_detail_modal.vm")
<script>
$(document).ready(function () {
	var event_id="${giftEvent.eventId}";
    if(event_id&&event_id.slice(-1)!="}"){
    	var url="${path.concat('/event/application/')}"+"${giftEvent.eventId}";
    }else{
    	var url="${path.concat('/event/application/')}"+"1";
    }
    $("#event_application_table").DataTable({
        searching: false,
        ordering: false,
        paging: true,
        "sPaginationType": "full_numbers",
        "bPaginate": true,
        "bLengthChange": true,
        "bAutoWidth": true,
        "bSort": false,
        "bDeferRender": true,
        "bProcessing": true,
        "bServerSide": true,
        "bInfoFiltered": false,
        "sAjaxSource": url,
        "infoFiltered": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $(nRow).removeClass('dataTable');
            $(nRow).css("text-align", "left");
        },
        "fnInitComplete": function () {
            $("#overview_agent_table").removeClass('no-footer');
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                "dataType": "json",
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            })
        },
        columns: [
            {title: "申请人", "mData": "donorName"},
            {title: "受赠人", "mData": "doneeName"},
            {title: "关系", "mData": "relation"},
            {
                title: "操作", "mRender": function (data, type, full) {
                var operation = "";
                var detail_button = "<button type='button' class='btn btn-success btn-group-sm' id='" + full.applicationId + "' onclick=detail(this) data-toggle='modal' data-target='#application_detail_modal'>详情</button>&nbsp;"
                operation += detail_button;
                return operation;
            }
            }
        ],
        "language": {
            "processing": "正在加载中",
            "lengthMenu": "每页显示 _MENU_ 条记录",
            "zeroRecords": "抱歉， 没有找到",
            "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
            "infoEmpty": "暂无数据",
            "infoFiltered": "数据表中共 _MAX_ 条记录)",
            "zeroRecords": "当前暂无申请人",
            "search": "搜索:",
            "paginate": {
                "first": "首页",
                "previous": "上一页",
                "next": "下一页",
                "last": "尾页"
            }
        }
    });
});

function detail(obj){
	$.post("${path.concat('/event/application/detail/')}"+obj.id,function (result) {
        
		var application=result.data[0];
		document.getElementById("donorName").innerHTML =application.donorName;
    	document.getElementById("donorPhone").innerHTML =application.donorPhone;
    	document.getElementById("doneeName").innerHTML =application.doneeName;
    	document.getElementById("doneePhone").innerHTML =application.doneePhone;
    	if(application.doneeGender=="M"){
    		document.getElementById("doneeGender").innerHTML ="男";
    	}else{
    		document.getElementById("doneeGender").innerHTML ="女";
    	}               	
    	document.getElementById("doneeAddress").innerHTML =application.doneeAddress;
    	document.getElementById("doneeAgeRange").innerHTML =application.doneeAgeRange;
    	document.getElementById("relation").innerHTML =application.relation;
    	if(application.wishes!=null){
    		document.getElementById("wishes").innerHTML =application.wishes;
    	}else{
    		document.getElementById("wishes").innerHTML ="无";
    	}
    	document.getElementById("applicationId").innerHTML =application.applicationId;
	});
		
	
}

$("#presentAll").click(function(){
	 window.location.href = "${path.concat('/event/presentAll')}";	 
});


</script>