<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="event-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 活动管理 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#event-management">活动管理</a></li>
                <li class="active">活动列表</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table id="event_overview_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            </table>

        </div>
    </div>
</div>
<div class="modal fade" id="dialog_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
              <text>点击赠送之后就会将申请人加入赠送名单中（无法修改），是否确定？</text>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"  id="dialog_confirm">确定</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#event_overview_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": true,
            "bLengthChange": true,
            "bAutoWidth": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/event/overview')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#overview_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "活动标题", "mData": "title"},
                {
                    title: "开始时间", "mRender": function (data, type, full) {
                    return ((new Date(full.start)).format("yyyy/MM/dd hh:mm"));
                }
                },
                {
                    title: "结束时间", "mRender": function (data, type, full) {
                    return ((new Date(full.end)).format("yyyy/MM/dd hh:mm"));
                }
                },
                {
                    title: "活动状态", "mRender": function (data, type, full) {
                       if(full.blockFlag){
                    	  return "已结束";
                       }else{
                    	   return "正在进行";
                       }
                }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                    var operation = "";
                    var detail_button = "<button type='button' class='btn btn-success btn-group-sm' id='" + full.eventId + "' onclick=detail(this) >详情</button>&nbsp;"
                    operation += detail_button;
                    if(full.blockFlag){
                    	 var send_button = "<button type='button' class='btn btn-success btn-group-sm' id='" + full.eventId + "' onclick=getId(this) data-toggle='modal' data-target='#dialog_modal'>发送短信</button>&nbsp;"
                         operation += send_button;
                    }
                    return operation;
                }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无发布的活动",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
    });
    
    function detail(obj) {
    	window.location.href="${path.concat('/event/')}"+obj.id;
    }
    
    var eventId;
    function getId(obj) {
    	eventId=obj.id;
    }
    
    $("#dialog_confirm").on('click', function () {
    	window.location.href="${path.concat('/event/sendMessage/')}"+eventId;   	
    });
    
    $("#dialog_modal").modal({
        show: false,
        keyboard: true
    });
 </script>