<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="selling/sunshine/mapper/admin.xml"/>
        <mapper resource="selling/sunshine/mapper/commodity.xml"/>
        <mapper resource="selling/sunshine/mapper/agent.xml"/>
        <mapper resource="selling/sunshine/mapper/user.xml"/>
        <mapper resource="selling/sunshine/mapper/order.xml"/>
        <mapper resource="selling/sunshine/mapper/orderitem.xml"/>
        <mapper resource="selling/sunshine/mapper/customer.xml"/>
        <mapper resource="selling/sunshine/mapper/customerphone.xml"/>
        <mapper resource="selling/sunshine/mapper/customeraddress.xml"/>
        <mapper resource="selling/sunshine/mapper/depositbill.xml"/>
        <mapper resource="selling/sunshine/mapper/shipmentconfig.xml"/>
        <mapper resource="selling/sunshine/mapper/refundconfig.xml"/>
    </mappers>
</configuration>