<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="selling/sunshine/mapper/admin.xml"/>
        <mapper resource="selling/sunshine/mapper/agentgift.xml"/>
        <mapper resource="selling/sunshine/mapper/backoperationlog.xml"/>
        <mapper resource="selling/sunshine/mapper/commodity.xml"/>
        <mapper resource="selling/sunshine/mapper/commoditythumbnail.xml"/>
        <mapper resource="selling/sunshine/mapper/agent.xml"/>
        <mapper resource="selling/sunshine/mapper/user.xml"/>
        <mapper resource="selling/sunshine/mapper/role.xml"/>
        <mapper resource="selling/sunshine/mapper/order.xml"/>
        <mapper resource="selling/sunshine/mapper/orderitem.xml"/>
        <mapper resource="selling/sunshine/mapper/customer.xml"/>
        <mapper resource="selling/sunshine/mapper/customerorder.xml"/>
        <mapper resource="selling/sunshine/mapper/customerorderbill.xml"/>
        <mapper resource="selling/sunshine/mapper/customerphone.xml"/>
        <mapper resource="selling/sunshine/mapper/customeraddress.xml"/>
        <mapper resource="selling/sunshine/mapper/depositbill.xml"/>
        <mapper resource="selling/sunshine/mapper/shipmentconfig.xml"/>
        <mapper resource="selling/sunshine/mapper/refundconfig.xml"/>
        <mapper resource="selling/sunshine/mapper/orderbill.xml"/>
        <mapper resource="selling/sunshine/mapper/orderpool.xml"/>
        <mapper resource="selling/sunshine/mapper/follower.xml"/>
        <mapper resource="selling/sunshine/mapper/cashbackrecord.xml"/>
        <mapper resource="selling/sunshine/mapper/express.xml"/>
        <mapper resource="selling/sunshine/mapper/credit.xml"/>
        <mapper resource="selling/sunshine/mapper/withdraw.xml"/>
        <mapper resource="selling/sunshine/mapper/sum.xml"/>
        <mapper resource="selling/sunshine/mapper/charge.xml"/>
        <mapper resource="selling/sunshine/mapper/agent/volume.xml"></mapper>
        <mapper resource="selling/sunshine/mapper/gift/apply.xml"></mapper>
        <mapper resource="selling/sunshine/mapper/cashback/summary.xml"></mapper>
    </mappers>
</configuration>