<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="poolSchedule" class="selling.sunshine.schedule.PoolSchedule"></bean>

    <bean id="refundSchedule" class="selling.sunshine.schedule.RefundSchedule"></bean>

    <bean id="wechatSchedule" class="selling.sunshine.schedule.WechatSchedule"></bean>

    <bean id="withdrawSchedule" class="selling.sunshine.schedule.WithdrawSchedule"></bean>

    <bean id="expressSchedule" class="selling.sunshine.schedule.ExpressSchedule"></bean>

    <bean id="poolDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="poolSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="refundDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="refundSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="wechatDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="wechatSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="withdrawDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="withdrawSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="expressDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="expressSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="poolTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="poolDetail"></property>
        <property name="cronExpression">
            <value>0 0 0 1 * ?</value>
        </property>
    </bean>

    <bean id="refundTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="refundDetail"></property>
        <property name="cronExpression">
            <value>0 0 0 15 * ?</value>
        </property>
    </bean>

    <bean id="wechatTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="wechatDetail"></property>
        <property name="cronExpression">
            <value>0 0 * * * ?</value>
        </property>
    </bean>

    <bean id="withdrawTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="withdrawDetail"></property>
        <property name="cronExpression">
            <value>0 0 11,17 * * ?</value>
        </property>
    </bean>

    <bean id="expressTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="expressDetail"></property>
        <property name="cronExpression">
            <value>0 0/30 * * * ?</value>
        </property>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="poolTrigger"></ref>
                <ref bean="wechatTrigger"></ref>
                <ref bean="refundTrigger"></ref>
                <ref bean="withdrawTrigger"></ref>
                <ref bean="expressTrigger"></ref>
            </list>
        </property>
    </bean>
</beans>