<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="poolSchedule" class="selling.sunshine.schedule.PoolSchedule"></bean>

    <bean id="wechatSchedule" class="selling.sunshine.schedule.WechatSchedule"></bean>

    <bean id="poolDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="poolSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="wechatDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="wechatSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="poolTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="poolDetail"></property>
        <property name="cronExpression">
            <value>0 0 0 1 * ?</value>
        </property>
    </bean>

    <bean id="wechatTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="wechatDetail"></property>
        <property name="cronExpression">
            <value>0 0 * * * ?</value>
        </property>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="poolTrigger"></ref>
                <ref bean="wechatTrigger"></ref>
            </list>
        </property>
    </bean>
</beans>