<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="poolSchedule" class="selling.sunshine.schedule.PoolSchedule"></bean>

    <bean id="refundSchedule" class="selling.sunshine.schedule.RefundSchedule"></bean>

    <bean id="wechatSchedule" class="selling.sunshine.schedule.WechatSchedule"></bean>

    <bean id="withdrawSchedule" class="selling.sunshine.schedule.WithdrawSchedule"></bean>

    <bean id="expressSchedule" class="selling.sunshine.schedule.ExpressSchedule"></bean>

    <bean id="customerOrderSchedule" class="selling.sunshine.schedule.CustomerOrderSchedule"></bean>

    <bean id="customerAddressSchedule" class="selling.sunshine.schedule.CustomerAddressSchedule"></bean>

    <bean id="agentKPISchedule" class="selling.sunshine.schedule.AgentKPISchedule"></bean>

    <bean id="promotionSchedule" class="selling.sunshine.schedule.PromotionSchedule"></bean>

    <bean id="customerSchedule" class="selling.sunshine.schedule.CustomerSchedule"></bean>

    <bean id="poolDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="poolSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="poolRefundDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="poolSchedule"></property>
        <property name="targetMethod" value="refundSchedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="refundDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="refundSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="checkOrderPoolDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="poolSchedule"></property>
        <property name="targetMethod" value="checkOrderPool"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="wechatDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="wechatSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="withdrawDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="withdrawSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="expressDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="expressSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="checkDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="customerOrderSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="customerAddressUpdateDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="customerAddressSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="agentKPIUpdateDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="agentKPISchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="promotionDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="promotionSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="customerDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="customerSchedule"></property>
        <property name="targetMethod" value="schedule"></property>
        <property name="concurrent" value="false"></property>
    </bean>

    <bean id="poolTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="poolDetail"></property>
        <property name="cronExpression">
            <value>0 10 0 1 * ?</value>
        </property>
    </bean>

    <bean id="poolRefundTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="poolRefundDetail"></property>
        <property name="cronExpression">
            <value>0 30 0 1 * ?</value>
        </property>
    </bean>

    <bean id="refundTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="refundDetail"></property>
        <property name="cronExpression">
            <value>0 10 0 8 * ?</value>
        </property>
    </bean>

    <bean id="checkOrderPoolTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="checkOrderPoolDetail"></property>
        <property name="cronExpression">
            <value>0 50 0 1 * ?</value>
        </property>
    </bean>

    <bean id="wechatTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="wechatDetail"></property>
        <property name="cronExpression">
            <value>0 0 * * * ?</value>
        </property>
    </bean>

    <bean id="withdrawTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="withdrawDetail"></property>
        <property name="cronExpression">
            <value>0 0 11,17 * * ?</value>
        </property>
    </bean>

    <bean id="expressTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="expressDetail"></property>
        <property name="cronExpression">
            <value>0 0 * * * ?</value>
        </property>
    </bean>

    <bean id="checkTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="checkDetail"></property>
        <property name="cronExpression">
            <value>0 0 0 * * ?</value>
        </property>
    </bean>

    <bean id="customerAddressUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="customerAddressUpdateDetail"></property>
        <property name="cronExpression">
            <value>0 0 1 * * ?</value>
        </property>
    </bean>

    <bean id="agentKPIUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="agentKPIUpdateDetail"></property>
        <property name="cronExpression">
            <value>0 20 1 * * ?</value>
        </property>
    </bean>

    <bean id="promotionTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="promotionDetail"></property>
        <property name="cronExpression">
            <value>0 0/30 * * * ?</value>
        </property>
    </bean>

    <bean id="customerTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="customerDetail"></property>
        <property name="cronExpression">
            <value>0 30 1 * * ?</value>
        </property>
    </bean>


    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="poolTrigger"></ref>
                <ref bean="poolRefundTrigger"></ref>
                <ref bean="wechatTrigger"></ref>
                <ref bean="refundTrigger"></ref>
                <ref bean="withdrawTrigger"></ref>
                <ref bean="expressTrigger"></ref>
                <ref bean="checkTrigger"></ref>
                <ref bean="checkOrderPoolTrigger"></ref>
                <ref bean="customerAddressUpdateTrigger"></ref>
                <ref bean="agentKPIUpdateTrigger"></ref>
                <ref bean="promotionTrigger"></ref>
                <ref bean="customerTrigger"></ref>
            </list>
        </property>
    </bean>
</beans>