<div id="add_customer_form" style="display: none;">
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    姓名
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="customer_name" class="weui_input" type="text" placeholder="请填写客户姓名"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">手机</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="customer_phone" class="weui_input" type="number" pattern="1[0-9]{10}" placeholder="请填写客户手机"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">地址</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="customer_address" class="weui_input" type="text" placeholder="请填写客户收货地址"/>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <button type="button" class="weui_btn weui_btn_primary" id="add_customer_confirm_btn">确认添加</button>
        <button type="button" class="weui_btn weui_btn_default" id="add_customer_cancel_btn">取消</button>
    </div>
</div>
<script>
    $("#add_customer_confirm_btn").click(function () {
        var url = "${path.concat('/customer/add')}";
        var name = $("#customer_name").val();
        var phone = $("#customer_phone").val();
        var address = $("#customer_address").val();
        $.post(url, {
            name: name,
            phone: phone,
            address: address,
        }, function (result) {
            if (result.responseCode == "RESPONSE_OK") {
                var item = result.data;
                var node = 
                	"<label class='weui_cell customer' id='" + item.customerId + "'>" +
					"<div class='weui_cell_bd weui_cell_primary'>" +
					"<span>" + item.name + "</span>" +
					"</div>" + 
					"<input id='customer_phone" + item.customerId + "' type='hidden' value='" + item.phone.phone  + "'/>" +
					"<div class='weui_cell_ft'>" + item.phone.phone + "</div>" +
					"<div style='display:none;' id='customer_address" + item.customerId + "'> " + item.address.address + "</div>" +
					"</label>";
                $("#customer_option").prepend(node);
                
                //新增node添加事件
                $("#customer_option").children().eq(0).click($.customer_choose_click);
                
                $("#add_customer_form").hide();
                $("#customer_option").fadeIn();
            }
        });
    });

    $("#add_customer_cancel_btn").click(function () {
        $("#add_customer_form").hide();
        $("#customer_option").fadeIn();
    });
</script>