<div id="add_customer_form" style="display: none;">
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">
                    姓名
                </label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="customer_name" class="weui_input" type="text" placeholder="请填写客户姓名"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">手机</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="customer_phone" class="weui_input" type="number" pattern="1[0-9]{10}" placeholder="请填写客户手机"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd">
                <label class="weui_label">地址</label>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="customer_address" class="weui_input" type="text" placeholder="请填写客户收货地址"/>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <button type="button" class="weui_btn weui_btn_primary" id="add_confirm_btn">确认添加</button>
        <button type="button" class="weui_btn weui_btn_default" id="add_cancel_btn">取消</button>
    </div>
</div>
<script>
    $("#add_confirm_btn").click(function () {
        $("#add_customer_form").hide();
        var url = "${path.concat('/customer/add')}";
        var name = $("#customer_name").val();
        var phone = $("#customer_phone").val();
        var address = $("#customer_address").val();
        $("#customer_panel").fadeIn();
         $.post(url, {
                    name: name,
                    phone: phone,
                    address: address,
                }, function (result) {                  
                     var customer=result.data;
                     var node = "<a class='weui_cell' onclick='updateCustomer(this)' id='" + customer.customerId + "'><div class='weui_cell_bd weui_cell_primary'><p>" + name + "</p></div><div class='weui_cell_ft'>" + phone + "</div></a>";
                     $("#customer_list").append(node);
                });
        $("#customer_panel").fadeIn();
        $.post(url, {
            name: name,
            phone: phone,
            address: address,
        }, function (result) {
            if (result.responseCode == "RESPONSE_OK") {
                var item = result.data;
                var node = "<a class='weui_cell customer' onclick='updateCustomer(this)' id='" + item.customerId + "' ><div class='weui_cell_bd weui_cell_primary'><p>" + item.name + "</p></div><div class='weui_cell_ft'>" + item.phone.phone + "</div></a>";
                $("#customer_list").append(node);
            }
        });
    });

    $("#add_cancel_btn").click(function () {
        $("#add_customer_form").hide();
        $("#customer_panel").fadeIn();
    });
</script>