<div id="customer_option" style="display: none;padding-bottom:55px;">
	<div class="weui_cells weui_cells_radio" >
	    #foreach($elem in $customer)
	    <label class="weui_cell customer" id="$!{elem.customerId}">
	        <div class="weui_cell_bd weui_cell_primary">
	            <span>$!{elem.name}</span>(<span>$!{elem.phone}</span>)
	        </div>
	        <div class="weui_cell_ft">
	        	<input type="radio" class="weui_check" >
	        	<span id="radio$!{elem.customerId}" class="weui_icon_checked"></span>
	        </div>
	        <input id="customer_phone$!{elem.customerId}" type="hidden" value="$!{elem.phone}"/>
	        <div style="display:none;" id="customer_address$!{elem.customerId}">$!{elem.address}</div>
	    </label>
	    #end
	</div>
	<div class="weui_btn_area">
	    <button type="button" class="weui_btn weui_btn_primary" id="add_customer">新增客户</a>
	    <button type="button" class="weui_btn weui_btn_default" id="return_customer">返回</a>
	</div>
</div>
#parse("/agent/component/add_customer_in_order.vm")
<script>
	$(document).ready(function(){
		$(".weui_cell.customer").find(".weui_check").click($.customer_choose_click);
	});
	
	//进入这个页面之前先初始化该页面
	$.init_customer_list = function(){
		$(".weui_check").next().removeClass("weui_icon_checked");
		if(typeof customer_id != "undefined" && customer_id != null){
			$("#radio" + customer_id).addClass("weui_icon_checked");
		}
	}
    
    $.customer_choose_click = function(){
    	if(isAdd){
		    var id_value = $(this).closest(".customer").attr("id");
		    customer_id = id_value;
		    customer_name = $(this).closest(".customer").find(".weui_cell_bd span").html();
		    customer_phone = $("#customer_phone"+customer_id).val();
		    customer_address = $("#customer_address" + customer_id).html();
	        $("#customer").find(".weui_cell_bd").html("<p>" + customer_name + "</p>");
	        $("#phone").find(".weui_cell_bd").html("<p>" + customer_phone + "</p>");
	        $("#customer_option").hide();
	        $.init_add_order_item();
        	$("#add_order_item").fadeIn();
        } else {
        	isAdd = true;
        	var pre_customer_id = customer_id;
        	var id_value = $(this).closest(".customer").attr("id");
        	customer_id = id_value;
		    customer_name = $(this).closest(".customer").find(".weui_cell_bd span").html();
		    customer_phone = $("#customer_phone"+customer_id).val();
		    customer_address = $("#customer_address" + customer_id).html();
        	$(current_modify_dom).find(".weui_cell_ft").html("<span>" + customer_name+ "</span>(<span>" + customer_phone + "</span>)");
        	$(current_modify_dom).parents(".weui_cells_access").find(".customer_id").val(customer_id);
        	$(current_modify_dom).parents(".weui_cells_access").find(".address").html($.utf8Substr(customer_address,25));
        	$(current_modify_dom).parents(".weui_cells_access").find(".order_item_address").val(customer_address);
        	$(current_modify_dom).parents(".weui_cells_access").children(".order_item_head").children(".weui_cell_bd").html(customer_name);
        	$("#customer_option").hide();
        	$("#place_order_panel").fadeIn();  
        }
    }
    $("#add_customer").click(function(){
    	$("#customer_option").hide();
    	$("#add_customer_form").fadeIn();
    });
    
    $("#return_customer").click(function(){
    	$("#customer_option").hide();
    	if(isAdd){
    		$("#add_order_item").fadeIn();
    	}else{
    		$("#place_order_panel").fadeIn();
    	}
    });
</script>