<div class="panel" id="self_info_panel">
    <div class="hd">
        <h1 class="page_title">个人信息</h1>
    </div>
    <div class="bd">
        <div class="weui_panel">
            <div class="list-cell">
                
            </div>
        </div>
    </div>
</div>