<form id="modify_order_form">
<div id="modify_order_panel">
    <div class="order_content">
        <div class="panel">
           <div class="hd">
                <h1 class="page_title">订单详情</h1>
            </div>
            <div class="bd">
                <div class="weui_panel">
                	#if (${status} == "SAVED")
                    <div class="weui_cells weui_cells_access clear-margin-top">
                        <a class="weui_cell" id="add_order_btn" style="display:none;">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>添加订货单</p>
                            </div>
                            <div class="weui_cell_ft"></div>
                        </a>
                    </div>
                    #end
                    <div class="list-cell" id="order_item_list">
                    	#foreach($orderItem in $orderItems)
                		<div class="weui_cells weui_cells_access">
			        		<a class="weui_cell">
				       			<div class="weui_cell_bd weui_cell_primary">
				        			<p>客户姓名</p>
				        		</div>
				        		<div class="weui_cell_ft"><span>${orderItem.customer.name}</span>(<span>${orderItem.customer.phone}</span>)</div>
				    		</a> 
				        	<a class="weui_cell"> 
				        		<div class="weui_cell_bd weui_cell_primary"> 
				        			<p>商品名称</p> 
				        		</div>
				     			<div class="weui_cell_ft">${orderItem.goods.name}</div> 
				    		</a>
				    		<a class="weui_cell"> 
				        		<div class="weui_cell_bd weui_cell_primary quantity"> 
				        			<p>数量</p> 
				        		</div> 
				        		<div class="weui_cell_ft quantity"></div>
				        "</a>" +
				    	"<div class='weui_cell weui_cells_tips clear-margin-top'>" + 
				        "金额:" + goods_price * $("#goods_quantity").val() + "元" + 
				    	"</div>" + 
				    	"<div class='weui_cells_tips delete'>删除</div>" + 
				    	"<input class='goods_quantity' type='hidden' name='goodsQuantity' value='" + $("#goods_quantity").val() + "'/>" + 
				    	"<input class='goods_id' type='hidden' name='goodsId' value='" + goods_id + "'/>" + 
				    	"<input class='order_item_price' type='hidden' name='orderItemPrice' value='" + goods_price + "'/>" + 
				    	"<input class='customer_id' type='hidden' name='customerId' value='" + customer_id + "'/>" + 
						"</div>";
                    	#end
                    </div>
                </div>
                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_plain_primary" id="save_order_btn">保存订单</a>
                    <a class="weui_btn weui_btn_primary" id="place_order_btn">确认下单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="order_summary">
        <div class="weui_panel">
            <div class="weui_panel_bd">
                <div id="total_goods" class="weui_media_box">
                    总计:
                    <p class="weui_media_text">共计0元</p>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
#parse("/agent/order/add_order_item.vm")
<script>
	//立了一个flag，判断是新增还是修改订单
	isAdd = true;
    $("#add_order_item").hide();
    $("#add_order_btn").click(function () {
    	isAdd = true;
        $("#add_order_item").fadeIn();
        $("#place_order_panel").hide();
    });
    $("#place_order_btn").click(function(){
    	if(!$.check_order()){
    		return;
    	}
    	$("#place_order_form").attr("action", "${path.concat('/agent/order/place')}");
    	$("#place_order_form").attr("method","post");
    	$("#place_order_form").submit();
    });

    
    $("#save_order_btn").click(function(){
    	if(!$.check_order()){
    		return;
    	}
    	$("#place_order_form").attr("action", "${path.concat('/agent/order/place')}");
    	$("#place_order_form").attr("method","post");
    	$("#place_order_form").submit();
    });
    $.check_order = function(){
    	if($("#order_item_list").children().size() == 0) {
    		$("#dialog").find(".weui_dialog_bd").html("还没有创建订单");
    		$("#dialog").fadeIn();
    		return false;
    	}
    	return true;
    }
</script>