<div class="weui_tabbar" id="bottom_tabbar">
    <a class="weui_tabbar_item" id="place_order">
        <div class="weui_tabbar_icon">
            <img src="${path.concat('/material/images/icon_nav_button.png')}" alt=""/>
        </div>
        <p class="weui_tabbar_label">下单</p>
    </a>
    <a class="weui_tabbar_item" id="order_view">
        <div class="weui_tabbar_icon">
            <img src="${path.concat('/material/images/icon_nav_article.png')}" alt=""/>
        </div>
        <p class="weui_tabbar_label">订单</p>
    </a>
    <a class="weui_tabbar_item" id="view_customer">
        <div class="weui_tabbar_icon">
            <img src="${path.concat('/material/images/icon_nav_msg.png')}" alt=""/>
        </div>
        <p class="weui_tabbar_label">客户</p>
    </a>
    <a class="weui_tabbar_item" id="info_me">
        <div class="weui_tabbar_icon">
            <img src="${path.concat('/material/images/icon_nav_cell.png')}" alt=""/>
        </div>
        <p class="weui_tabbar_label">我</p>
    </a>
</div>
<script>
    $(".weui_tabbar_item").click(function () {
        var current = $(".weui_tabbar").find(".weui_bar_item_on");
        var current_id = current.attr("id");
        var target_id = $(this).attr("id");
        if (current_id != target_id) {
            var URL = "";
            if (target_id == "place_order") {
                URL = "${path.concat('/agent/order/place')}";
            } else if (target_id == "order_view") {
            	URL = "${path.concat('/agent/order/manage/2')}";
            } else if (target_id == "view_customer") {
                URL = "${path.concat('/agent/customer/manage')}";
            } else if (target_id == "info_me") {
                URL = "${path.concat('/agent/me')}";
            }
            if (typeof $.check_order_leave == "function") {
                if ($.check_order_leave(URL)) {
                    window.location = URL;
                }
            } else {
                window.location = URL;
            }
        }
    });

</script>