<!--这个类已经不起作用，用作js动态添加的模板-->
<div class="weui_cells weui_cells_access">
    <a class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>客户姓名</p>
        </div>
        <div class="weui_cell_ft">xxx</div>
    </a>
    <a class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>商品名称</p>
        </div>
        <div class="weui_cell_ft">xxx</div>
    </a>
    <a class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <p>数量</p>
        </div>
        <div class="weui_cell_ft">1</div>
    </a>

    <div class="weui_cell weui_cells_tips clear-margin-top">
        金额:298元
    </div>
    <input class="goods_quantity" type="hidden" name="goodsQuantity" value="1"/>
    <input class="goods_id" type="hidden" name="goodsId" value="123456"/>
    <input class="order_item_price" type="hidden" name="orderItemPrice" value="234"/>
    <input type="hidden" name="customerId" value="12"/>
</div>
