<div id="agent_register_area">
    <div class="weui_cells">
        <form id="agent_register_form">
            <div id="information">
                <input type="hidden" name="wechat" value="${wechat}"
                       autocomplete="off"/>

                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">姓名</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input id="agent_name" name="name" class="weui_input" type="text" placeholder="请填写姓名"
                               autocomplete="off"/>
                    </div>
                </div>
                <a class="weui_cells_access weui_cell" id="gender_selection">
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>称谓</p>
                    </div>
                    <div class="weui_cell_ft">
                        <input type="hidden" id="gender" name="gender" value="M" autocomplete="off"/>
                    <span id="gender_description">

                    </span>
                    </div>
                </a>

                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">手机</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="agent_tel" name="phone" type="tel" placeholder="请填写手机号"
                               autocomplete="off"/>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">地址</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="agent_addr" name="address" type="text" placeholder="请填写联系地址"
                               autocomplete="off"/>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">密码</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="agent_password" name="password" type="password"
                               placeholder="请设置账户密码" autocomplete="off"/>
                    </div>
                </div>
                <div class="weui_cell">
                    <div class="weui_cell_hd">
                        <label class="weui_label">群规模</label>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <input class="weui_input" id="num_member" name="num_member" type="tel"
                               placeholder="请设置群人数" autocomplete="off"/>
                    </div>
                </div>
            </div>
            <div id="identity_verification" class="weui_uploader register_hide">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">上传身份证照片（正反面）</div>
                    <div id="photos" class="weui_cell_ft">0/2</div>
                </div>
                <div class="weui_uploader_bd">
                    <div id="wrp1" class="weui_uploader_input_wrp">
                        <input id="input_id1" class="file" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple data-max-file-count="2">
                    </div>
				    <div id="wrp2" class="weui_uploader_input_wrp">
                        <input id="input_id2" class="file" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple data-max-file-count="2">
                    </div>
                </div>
            </div> 
        </form>
        <div id="protocol" class="weui_cells weui_cells_checkbox protocol" >
            <label class="weui_cell weui_check_label">
                <div class="weui_cell_hd procheckbox">
                    <input id="checkbox" type="checkbox" class="weui_check" name="checkbox">
                    <i class="weui_icon_checked"></i>
                </div>
                <div class="weui_cell_bd weui_cell_primary problock">
                    <p>我同意</p><a id="read_pro" href="${path.concat('/material/protocol/protocol.pdf')}">《云草纲目公司销售协议》</a>
                </div>
            </label>
        </div>   
    </div>
    <div id="next_div" class="next_step">
        <button type="button" class="weui_btn weui_btn_disabled weui_btn_default" id="next_btn" disabled="disabled">下一步</a>
    </div>
    <div id="pre_div" class="weui_btn_area register_hide">
        <button type="button" class="weui_btn weui_btn_plain_primary" id="pre_btn">上一步</a>
    </div>
    <div id="register" class="weui_btn_area  register_hide">
        <button type="button" class="weui_btn weui_btn_disabled weui_btn_default" id="register_pay_btn" disabled="disabled">
            提交注册申请
        </button>
        <a href="${path.concat('/agent/login')}" class="weui_btn weui_btn_mini weui_btn_default">登录</a>
    </div>
</div>
#parse("/agent/component/gender_list.vm")
<script>

    $("#gender_selection").click(function () {
        $("#agent_register_area").hide();
        $("#gender_option").show();
    });
    
    $("#next_btn").click(function () {
        $("#information").hide();
        $("#protocol").hide();
        $("#identity_verification").show();
		$("#next_div").hide();
		$("#pre_div").show();
        $("#register").show();
    });
    
    $("#pre_btn").click(function () {
        $("#information").show();
        $("#protocol").show();
        $("#identity_verification").hide();
		$("#next_div").show();
		$("#pre_div").hide();
        $("#register").hide();
    });

    $("#register_pay_btn").click(function () {
        $("#agent_register_form").attr("action", "${path.concat('/agent/register')}");
        $("#agent_register_form").attr("method", "post");
        $("#agent_register_form").submit();
    });
</script>
<script>
    var photo_num=0;
	var checkbox_count=0;
    $(document).ready(function () {
        $("#agent_name").bind("input propertychange", function () {
            if (information_validate()) {
                first_active();
            } else {
                first_inactive();
            }
        });
        $("#gender").bind("input propertychange", function () {
            if (information_validate()) {
                first_active();
            } else {
                first_inactive();
            }
		});
        $("#agent_tel").bind("input propertychange", function () {
            if (information_validate()) {
                first_active();
            } else {
                first_inactive();
            }
        });
        $("#agent_addr").bind("input propertychange", function () {
            if (information_validate()) {
                first_active();
            } else {
                first_inactive();
            }
        });
        $("#agent_assword").bind("input propertychange", function () {
            if (information_validate()) {
                first_active();
            } else {
                first_inactive();
            }
        });
        $("#num_member").bind("input propertychange", function () {
            if (information_validate()) {
                first_active();
            } else {
                first_inactive();
            }
        });
		$("#checkbox").change(function(){
		    checkbox_count++;
			if(information_validate()){
			    first_active();
	        } else{
			    first_inactive();
		    }
		});
		$("#read_pro").click(function(){
		    $("#checkbox").removeAttr("checked");
		});
		
		$("#input_id1").change(function(){
		    photo_num++;
			$("#wrp1").removeClass("weui_uploader_input_wrp");
			$("#photos").text("1/2");
		    if(identity_validate()){
			    second_active();
			} else{
			    second_inactive();
			}
		    
		});
		$("#input_id2").change(function(){
		    photo_num++;
			$("#wrp2").removeClass("weui_uploader_input_wrp");
			$("#photos").text("2/2");
		    if(identity_validate()){
			    second_active();
			} else{
			    second_inactive();
			}
		});
		
    });

    function first_active() {
        $("#next_btn").removeAttr("disabled");
        $("#next_btn").removeClass("weui_btn_disabled");
        $("#next_btn").removeClass("weui_btn_default");
        $("#next_btn").addClass("weui_btn_primary");
    }

    function first_inactive() {
        $("#next_btn").attr("disabled", "disabled");
        $("#next_btn").removeClass("weui_btn_primary");
        $("#next_btn").addClass("weui_btn_disabled");
        $("#next_btn").addClass("weui_btn_default");
    }

    function information_validate() {
        var name = $("#agent_name").val();
        var gender = $("#gender").val();
        var phone = $("#agent_tel").val();
        var address = $("#agent_addr").val();
        var password = $("#agent_password").val();
        var number=$("#num_member").val();
        if (not_null(name) && not_null(gender) && not_null(phone) && not_null(address) && not_null(password)&& not_null(number)&&checkbox_count%2==1) {
            return true;
        }
        return false;
    }
	
	function second_active() {
        $("#register_pay_btn").removeAttr("disabled");
        $("#register_pay_btn").removeClass("weui_btn_disabled");
        $("#register_pay_btn").removeClass("weui_btn_default");
        $("#register_pay_btn").addClass("weui_btn_primary");
    }

    function second_inactive() {
        $("#register_pay_btn").attr("disabled", "disabled");
        $("#register_pay_btn").removeClass("weui_btn_primary");
        $("#register_pay_btn").addClass("weui_btn_disabled");
        $("#register_pay_btn").addClass("weui_btn_default");
    }

    function identity_validate() {
        if(photo_num==2)
		    return true;
	    return false;
    }
	
    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>
<script>
    $("#input_id1").fileinput({'language':'zh','showUpload':false,'showCaption': false,'showCancel':false,'maxFileCount': 1});
	$("#input_id2").fileinput({'language':'zh','showUpload':false,'showCaption': false,'showCancel':false,'maxFileCount': 1});
	
</script>
