<div class="msg">
    <div class="weui_msg">
        <div class="weui_icon_area">
            <i class="weui_icon_success weui_icon_msg"></i>
        </div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">
                #if(${prompt.code} == "SUCCESS")
                    操作成功
                #elseif(${prompt.code} == "WARNING")
                    操作提示
                #elseif(${prompt.code} == "DANGER")
                    操作失败
                #else
                    警告信息
                #end
            </h2>

            <p class="weui_msg_desc">
                #if(${prompt} && ${prompt.message})
                    ${prompt.message}
                #else
                    对不起,当前您没有任何消息
                #end</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a class="weui_btn weui_btn_primary">确定</a>
            </p>
        </div>
        <div class="weui_extra_area">
            <a>查看详情</a>
        </div>
    </div>
</div>