<div class="msg">
    <div class="weui_msg">
        <div class="weui_icon_area">
            <i class="weui_icon_success weui_icon_msg"></i>
        </div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">操作成功</h2>

            <p class="weui_msg_desc">您已成功提交申请,待审核后即可使用</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a class="weui_btn weui_btn_primary">确定</a>
            </p>
        </div>
        <div class="weui_extra_area">
            <a>查看详情</a>
        </div>
    </div>
</div>