#parse("/common/util.vm")
<html>
<head>
    #parse("/agent/component/init.vm")
    <title>代理商注册</title>
</head>
<body ontouchstart>
    <div id="wrp1" class="weui_uploader_input_wrp draw_border">
        <img id="img1" style="width:100%;height:100%"/>
    </div>
    <div id="wrp2" class="weui_uploader_input_wrp draw_border">
        <img id="img2" style="width:100%;height:100%"/>
    </div>
</body>
#parse("/agent/wechat/component/validation.vm")
<script>
    $("#wrp1").click(function(){
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                $.each(localIds, function(i,n) {
                    wx.uploadImage({
                        localId: n, // 需要上传的图片的本地ID，由chooseImage接口获得
                        isShowProgressTips: 1,// 默认为1，显示进度提示
                        success: function (res) {
                            var serverId = res.serverId; // 返回图片的服务器端ID
                            $("#wrp1").removeClass("weui_uploader_input_wrp");
                            $("#wrp1").addClass("new_weui_uploader_input_wrp");
                            $("#img1").attr("src",localIds);
                        }
                    });
                });
            }
        });
    });
    $("#wrp2").click(function(){
        wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            success: function (res) {
                var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                $.each(localIds, function(i,n) {
                    wx.uploadImage({
                        localId: n, // 需要上传的图片的本地ID，由chooseImage接口获得
                        isShowProgressTips: 1,// 默认为1，显示进度提示
                        success: function (res) {
                            var serverId = res.serverId; // 返回图片的服务器端ID
                            $("#wrp2").removeClass("weui_uploader_input_wrp");
                            $("#wrp2").addClass("new_weui_uploader_input_wrp");
                            $("#img2").attr("src",localIds);
                        }
                    });
                });
            }
        });
    });
</script>  
</html>