<div id="update_customer_form" style="display: none;">
    <div class="weui_cells weui_cells_access">
        <div class="weui_cell">
            <div class="weui_cell_hd weui_cell_primary">姓名</div>
            <div class="weui_cell_bd">
                <input id="customer_name_new" class="weui_input" type="text" disabled="disabled"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd weui_cell_primary">手机</div>
            <div class="weui_cell_bd ">
                <input id="customer_phone_new" class="weui_input" type="number" pattern="1[0-9]{10}"/>
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd weui_cell_primary">收货地址</div>
            <div class="weui_cell_bd">
                <input id="customer_address_new" class="weui_input" type="text"/>
            </div>
        </div>
    </div>
    <div class="weui_btn_area">
        <button type="button" class="weui_btn weui_btn_primary" id="update_confirm_btn">确认修改</button>
        <button type="button" class="weui_btn weui_btn_default" id="update_cancel_btn">取消</button>
    </div>
</div>
<script>
    $("#update_confirm_btn").click(function () {
        $("#update_customer_form").hide();

        var url = "${path.concat('/customer/modify/')}" + customerId;
        var name = $("#customer_name_new").val();
        var phone = $("#customer_phone_new").val();
        var address = $("#customer_address_new").val();

        $("#customer_panel").fadeIn();
        $.post(url, {customerId: customerId, name: name, phone: phone, address: address}, function (result) {
            var customer = result.data;
            var node = "<a class='weui_cell' onclick='updateCustomer(this)' id='" + customer.customerId + "'><div class='weui_cell_bd weui_cell_primary'><p>" + name + "</p></div><div class='weui_cell_ft'>" + phone + "</div></a>";
            $("#customer_list").append(node);
            $("#" + customerId).remove();
            
        });
       
    });

    $("#update_cancel_btn").click(function () {
        $("#update_customer_form").hide();
        $("#customer_panel").fadeIn();
    });

    var customerId;
    function updateCustomer(obj) {
        $("#update_customer_form").fadeIn();
        customerId = obj.id;
        
        var url = "${path.concat('/customer/" + customerId + "')}";
        $.post(url, function (result) {
            var customer = result.data;

            $("#customer_name_new").attr('value', customer.name);
            $("#customer_phone_new").attr('value', parseInt(customer.phone.phone));
            $("#customer_address_new").attr('value', customer.address.address);

        });
        $("#customer_panel").hide();
    }
</script>