#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/customer/event/component/init.vm")
    <title>提示</title>
</head>
<body ontouchstart>
<div class="container">
    #parse("/customer/event/component/success_msg.vm")
</div>
</body>
<script>
    var title = "云草健康";
    var description = "赶紧告诉亲朋好友，中秋有大事";
</script>
#parse("/customer/wechat/component/validation.vm")
</html>