<div class="modal fade" id="gift_detail_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">赠送申请详情</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <tr>
                            <td scope="row" class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border-top:none;">代理商</td>
                            <td id="agent_name" class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="border-top:none;"></td>
                        </tr>
                        <tr>
                            <td scope="row">赠送产品</td>
                            <td id="goods_name"></td>
                        </tr>
                        <tr>
                            <td scope="row">意向购买人数</td>
                            <td id="potential"></td>
                        </tr>
                        <tr>
                            <td scope="row">申请盒数</td>
                            <td id="line"></td>
                        </tr>
                        <tr>
                            <td scope="row">上月销量</td>
                            <td id="last_quantity"></td>
                        </tr>
                        <tr>
                            <td scope="row">累积销量</td>
                            <td id="total_quantity"></td>
                        </tr>
                        <tr>
                            <td scope="row">申请时间</td>
                            <td id="apply_time"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <form id="gift_quantity_form" class="form-horizontal">
                    <input type="hidden" id="apply_gift_id" name="applyId"></input>
                    <div class="form-group">
                        <label for="gift_quantity" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" style="text-align:left;">配置赠送盒数</label>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <input type="tel" class="form-control" id="gift_quantity" name="amount" placeholder="请输入赠送盒数">
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="present_btn" class="btn btn-disabled" disabled="disabled">赠送</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#gift_detail_modal").modal({
            show: false,
            keyboard: true
        });
        
        $("#gift_detail_modal").on('hidden.bs.modal',function(){
            $("#gift_quantity").val("");
            inactive();
        });
        
        $("#gift_quantity").on("input propertychange",function(){
            if(validate()){
                active();
            }else{
                inactive();    
            }
        });        
    });
    
    $("#present_btn").click(function(){
        $("#gift_quantity_form").attr("action","${path.concat('/gift/apply/handle')}");
        $("#gift_quantity_form").attr("method","post");
        $("#gift_quantity_form").submit();
    });
    
    function validate(){
        var num=$("#gift_quantity").val();
        if (not_null(num)&&isPositiveNum(num))
            return true;
        return false;
    }
    
    function active(){
        $("#present_btn").removeAttr("disabled");
        $("#present_btn").removeClass("btn-disabled");
        $("#present_btn").addClass("btn-primary");
    }
    
    function inactive(){
        $("#present_btn").removeClass("btn-primary");
        $("#present_btn").addClass("btn-disabled");
        $("#present_btn").attr("disabled","disabled");
    }
    
    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
    
    function isPositiveNum(item) {
        var g = /^[1-9]*[1-9][0-9]*$/;
        return g.test(item);
    }
    
</script>