<div class="ui stackable padded grid" name="goods_sales">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">商品销售
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">商品管理</a>

                        <div class="divider">/</div>
                        <a class="active section">商品销售</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row"></div>
</div>