<style>
    .file-preview-frame {
        float: left;
        position: relative;
    }

    .file-live-thumbs {
        width: 160px;
        height: 160px;
    }

    .kv-file-content {
        width: 160px;
        height: 160px;
    }

    .file-preview-image {
        width: 100%;
        height: 100%;
    }
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="goods-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 修改商品 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#goods-management">商品管理</a></li>
                <li class="active">修改商品</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <hr>
            <form id="update_goods_form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_name">
                        商品名称
                    </label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="goods_name" name="name" value=${goods.name}
                                required="" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_price">
                        商品原价
                    </label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input type="number" class="form-control" id="goods_price" name="price"
                               value=${goods.customerPrice} required="" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_price">
                        代理价格
                    </label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input type="number" class="form-control" id="agent_price" name="agentPrice"
                               value=${goods.agentPrice} required="" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_standard">
                        商品规格
                    </label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="goods_standard" name="standard"
                               placeholder="商品规格，例如：180克/瓶" required="" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_description">
                        商品描述
                    </label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input type="text" class="form-control" id="goods_description" name="description"
                               value=${goods.description} required="" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_picture">商品缩略图</label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input id="goods_picture" name="picture" type="file" accept="image/*"/>
                        <p class="help-block">要求：请尽量上传正方形图片，图片不大于100k</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_thumnail">商品图片</label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <input id="goods_thumnail" name="thumbnail" type="file" accept="image/*" multiple
                               class="file-loading"/>
                        <p class="help-block">要求：图片不大于200k</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-md-2 col-lg-2 control-label" for="goods_description">
                        是否上架
                    </label>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <label class="radio-inline">
                            <input type="radio" name="block" id="later" value="true"> 暂不上架
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="block" id="immediate" value="false" checked="checked"> 即时上架
                        </label>
                    </div>
                </div>
            </form>
            <hr>
            <div class="form-inline">
                <button type="button" id="confirm_update_goods"
                        class="btn btn-primary">修改
                </button>
                <button type="button" id="clear_goods_content"
                        class="btn btn-warning">清空
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">
               提示
            </h4>
         </div>
         <div class="modal-body">

         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="dialogConfirm">
               确定
            </button>
         </div>
   </div>
</div>
<script>
    $("#clear_goods_content").click(function () {
        $("#goods_name").val("");
        $("#goods_price").val("");
        $("#agent_price").val("");
        $("#goods_standard").val("");
        $("#goods_description").val("");
    });

    $("#confirm_update_goods").click(function () {
    
        var goods_name=$("#goods_name").val();
        var goods_price=$("#goods_price").val();
        var agent_price=$("#agent_price").val();
        var goods_standard=$("#goods_standard").val();
        var goods_description=$("#goods_description").val();
            
        if((typeof goods_name == "undefined" || goods_name == "")||(typeof goods_price == "undefined" || goods_price == "")||(typeof agent_price == "undefined" || agent_price == "")||(typeof goods_standard == "undefined" || goods_standard == "")||(typeof goods_description == "undefined" || goods_description == "")){
            $("#dialog").find(".modal-body").html("商品名称、原价、代理商价格、规格和描述任何一项都不能为空！");
    		$("#dialog").modal('show');    
        }else{
            $("#update_goods_form").attr("action", "${path.concat('/commodity/edit/')}${goods.goodsId}");
            $("#update_goods_form").attr("method", "post");
            $("#update_goods_form").submit();
        }
    });
    
    $("#dialog").find("#dialogConfirm").click(function(){
    	$("#dialog").modal('hide');
    });

    $(document).ready(function () {
        if (${goods.blockFlag}) {
            $("#later").attr("checked", "checked");
        } else {
            $("#immediate").attr("checked", "checked");
        }
        
       $.post("${path.concat('/commodity/thumbnails/')}${goods.goodsId}",function(result){
         var array=eval(result);
         $("#goods_thumnail").fileinput({
            uploadUrl: "${path.concat('/commodity/upload')}",
            browseClass: "btn btn-success",
            browseLabel: "选择图片",
            browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "全部删除",
            removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
            uploadClass: "btn btn-info",
            uploadLabel: "上传",
            uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
            initialPreview:array[0],
            initialPreviewConfig:array[1],
            removeFromPreviewOnError: true,
            showBrowse: false,
            showCaption: false,
            showCancel: false,
            showRemove: false,
            showUpload: true,
            showClose: false,
            initialPreviewAsData: true,
            overwriteInitial: false,
            dropZoneEnabled: false,
            maxFileSize: 200,
            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'],
        }).on('fileuploaded', function (event, result) {
            
        });
     });
       
       $.post("${path.concat('/commodity/picture/')}${goods.goodsId}",function(result){
           var array=eval(result);
           $("#goods_picture").fileinput({
              uploadUrl: "${path.concat('/commodity/uploadthumbnail')}",
              browseClass: "btn btn-success",
              browseLabel: "选择图片",
              browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
              removeClass: "btn btn-danger",
              removeLabel: "全部删除",
              removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
              uploadClass: "btn btn-info",
              uploadLabel: "上传",
              uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> ",
              initialPreview:array[0],
              initialPreviewConfig:array[1],
              removeFromPreviewOnError: true,
              showBrowse: false,
              showCaption: false,
              showCancel: false,
              showRemove: false,
              showUpload: true,
              showClose: false,
              initialPreviewAsData: true,
              overwriteInitial: false,
              dropZoneEnabled: false,
              maxFileCount:1,
              maxFileSize: 100,
              allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'],
          }).on('fileuploaded', function (event, result) {
              
          });
       });
        
       
   
    });
</script>