#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/customer/component/init.vm")
    <link rel="stylesheet" href="${path.concat('/material/css/customer/error_msg.css')}"/>
    <title>错误提示</title>
</head>
<body ontouchstart>
    <div class="mother" id="mother">
	    <div class="errorBox">
	        <div class="error_img">
	            <i class="weui_icon_warn"></i>
	        </div>
		    <div class="errorText">
			    <h1>订单不存在！</h1>
			</div>
			<div class="confirm_area">
				<button class="weui_btn weui_btn_default" id="confirm">确定</button>
			</div>
		</div>
	</div>
</body>
<script>
    $("#confirm").click(function(){
        WeixinJSBridge.call('closeWindow');
    });
</script>
</html>