#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    #parse("/agent/component/init_qrcode.vm")
    <title>客户商城</title>
    <script type="text/javascript" src="${path.concat('/plugins/clipboard/clipboard.min.js')}"></script>
</head>
<body ontouchstart>
<div class="container">
    <div class="panel weui_tab_bd" id="self_info_panel">
        <div class="hd">
            <h1 class="page_title">客户商城</h1>
            #set($str = ${agent.agentId})
            #set($end = $str.length() - 1)
            #set($str = $str.substring(3,$end))
            <p class="page_desc">我的优惠码：${str}</p>
        </div>
        #foreach($goods in $goodsList)
            <div class="bd page_title">
                #set($index = $velocityCount - 1)
                <div class="url" style="display:none;">${urls.get(${index})}</div>
                <div id="qrcode${goods.goodsId}" style="display:none;">
                </div>
                <div class="weui_cells_title" style="text-align:center;font-size:18px;">
                    ${goods.name}
                </div>
                <div class="weui_cells_tips linkClip" data-clipboard-action="copy"
                     data-clipboard-text="${urls.get(${index})}" style="text-align:center;">
                    点击此处复制链接
                </div>
                <div class="weui_cells_tips linkSent" style="text-align:center;">
                    请截屏二维码或发送链接给客户
                </div>
            </div>
        #end
    </div>
    <div id="toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <i class="weui_icon_toast"></i>

            <p class="weui_toast_content">已复制到剪切板</p>
        </div>
    </div>
    #parse("/agent/component/navigate.vm")
</div>
</body>
<script>
    $(document).ready(function () {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.indexOf('iphone') > 0) {
            $(".linkClip").hide();
            $(".linkSent").html("请把二维码发送给客户");
        }

        $.each($(".url"), function (i, val) {
            var size = $(val).parent().width() * 1;
            $(val).next().qrcode({width: size, height: size, text: $(val).text()});
            $.convertCanvasToImage($(val).next().children());
        });
        var cl = new Clipboard(".linkClip");
        cl.on('success', function (e) {
            $("#toast").show();
            setTimeout(function () {
                $("#toast").hide();
            }, 2000);
            e.clearSelection();
        });
    });
    $.convertCanvasToImage = function (canvas) {
        var image = new Image();
        image.src = canvas[0].toDataURL("image/png");
        $(image).insertAfter($(canvas).parent());
        return image;
    }
</script>
<script>
    var title = "商品分享";
    var description = "自助购买,让您买的更放心";
</script>
    #parse("/agent/wechat/component/validation.vm")
</html>