#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>客户商城</title>
    <script type="text/javascript" src="${path.concat('/plugins/clipboard/clipboard.min.js')}"></script>
</head>
<body ontouchstart>
<div class="container">
    <div class="panel weui_tab_bd" id="self_info_panel">
        <div class="hd">
            <h1 class="page_title">客户商城</h1>
            #set($str = ${agent.agentId})
            #set($end = $str.length() - 1)
            #set($str = $str.substring(3,$end))
            <p class="page_desc">我的优惠码：${str}</p>
        </div>
        <div class="bd">
            <div class="weui-cells">
                #foreach($goods in $goodsList)
                <a class="weui-cell weui-cell_access" href="${path.concat('/agent/personalsale/${goods.goodsId}')}">
                    <div class="weui-cell__bd">
                        <p>${goods.name}(${goods.price})</p>
                    </div>
                    <div class="weui-cell__ft"></div>
                </a>
                #end
            </div>
        </div>
    </div>
    #parse("/agent/component/navigate.vm")
</div>
</body>
<script>
    
</script>
<script>
    var title = "商品分享";
    var description = "自助购买,让您买的更放心";
</script>
    #parse("/agent/wechat/component/validation.vm")
</html>