#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>客户商城</title>
    <script type="text/javascript" src="${path.concat('/plugins/clipboard/clipboard.min.js')}"></script>
</head>
<body ontouchstart>
<div class="container">
    <div class="panel weui_tab_bd" id="self_info_panel">
        <div class="hd">
            <h1 class="page_title">客户商城</h1>
            #set($str = ${agent.agentId})
            #set($str = $str.substring(3))
            <p class="page_desc">我的优惠码：${str}</p>
        </div>
        <div class="bd">
            #foreach($goods in $goodsList)
                <div class="weui_form_preview" style="margin-bottom: 1em">
                    <div class="weui_form_preview_bd">
                        <div class="weui_form_preview_item">
                            <label class="weui_form_preview_label">商品名称</label>
                            <span class="weui_form_preview_value">${goods.name}</span>
                        </div>
                        <div class="weui_form_preview_item">
                            <label class="weui_form_preview_label">商品价格</label>
                            <span class="weui_form_preview_value">${goods.agentPrice}</span>
                        </div>
                    </div>
                    <div class="weui_form_preview_ft">
                        <a id="${goods.goodsId}" class="weui_form_preview_btn weui_form_preview_btn_primary goods"
                           href="javascript:;">查看商品分享码</a>
                    </div>
                </div>
            #end
        </div>
    </div>
    #parse("/agent/component/navigate.vm")
</div>
</body>
<script>
    $(".goods").each(function(){
        $(this).click(function(){
            window.location.href="${path.concat('/agent/personalsale/')}"+$(this).attr("id");
        })
    });
</script>
<script>
    var title = "商品分享";
    var description = "自助购买,让您买的更放心";
</script>
    #parse("/agent/wechat/component/validation.vm")
</html>