#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    #parse("/backend/component/init_datatable.vm")
    <title>赠送申请</title>
</head>
<body>
    #parse("/backend/component/navigate_with_login.vm")
<div class="container-fluid">
    #parse("/backend/component/sidebar.vm")
    #parse("/backend/agent/gift/component/gift_check_table.vm")
</div>
</body>
</html>