#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>我的账户</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
        <h1 class="page_title">我的账户</h1>
    </div>
    <div class="bd">
        #parse("/agent/account/rebate.vm")
    </div>
    #parse("/agent/component/navigate.vm")
</div>
</body>
</html>