#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>我的账户</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
        <h1 class="page_title">我的账户</h1>
    </div>
    <div style="text-align:center;">
	    <h1 style="font-weight:normal">￥${agent.coffer}</h1>
	</div>
	<div class="weui_btn_area">
		<a href="${path.concat('/account/deposit')}" class="weui_btn weui_btn_primary operation">充值</a>
	    <a class="weui_btn weui_btn_plain_primary operation">提现</a>
	</div>
    <div class="weui_panel weui_panel_access">
	    <a class="weui_panel_ft" href="${path.concat('/agent/statement')}">
	        查看返现记录
	    </a>
    </div>
    #parse("/agent/component/navigate.vm")
</div>
</body>
</html>