<div class="weui_panel weui_panel_access">
    <div class="weui_cells">
        <div class="weui_cells_title">我的账户</div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                账户余额:${agent.coffer}元
            </div>
            <div class="weui_cell_ft">
                <a href="${path.concat('/account/deposit')}"
                   class="weui_btn weui_btn_mini weui_btn_plain_primary operation">充值</a>
                <a class="weui_btn weui_btn_mini weui_btn_plain_primary operation">提现</a>
            </div>
        </div>
    </div>
    <a class="weui_panel_ft" href="${path.concat('/agent/statement')}">
        查看对账单
    </a>
</div>