#parse("/common/util.vm")
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>账户充值</title>
</head>
<body>
<div class="container">
    <div class="hd">
        <h1 class="page_title">账户充值</h1>

        <p class="page_desc">给您的账户充值,下单更快捷</p>
    </div>
    <div class="bd">
        #parse("/agent/account/component/recharge_form.vm")
    </div>
</div>
</body>
</html>