#foreach($refundRecord in $refundRecords)
<div class="weui_panel">
    <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">${refundRecord.title}</h4>
            <p class="weui_media_desc">${refundRecord.description}</p>
            <ul class="weui_media_info">
                <li class="weui_media_info_meta createAt">${refundRecord.createAt}</li>
                <li class="weui_media_info_meta">返现</li>
            </ul>
        </div>
    </div>
</div>
#end
<script>
	$(document).ready(function(){
		$.each($(".createAt"), function(i, val){
			$(val).html(($(val).html().split(" "))[0]);
		});
	});
</script>