#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>电子对账单</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
        <h1 class="page_title">
            电子对账单
        </h1>
        <p class="page_desc">查看每月的返现概览及详情</p>
    </div>
    <div class="bd">
        <div class="weui_cells">
            #parse("/agent/account/statement_item.vm")
        </div>
    </div>
</div>
</body>
</html>