#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>我的返现</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
        <h1 class="page_title">
            我的返现
        </h1>
    </div>
    <div style="text-align:center;">
    	<p class="page_desc">累计返现</p>
	    <h1 style="font-weight:normal">￥${agent.agentRefund}</h1>
	</div>
    <div class="bd weui_tab_bd">
        <div class="weui_cells">
            #parse("/agent/account/statement_item.vm")
        </div>
    </div>
      #parse("/agent/component/navigate.vm")
</div>
</body>
</html>