<div class="ui stackable padded grid" name="order_summary">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">
                订单审核
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">订单管理</a>

                        <div class="divider">/</div>

                        <a class="section">订单概览</a>

                        <div class="divider">/</div>

                        <a class="active section">订单审核</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="column">
            #parse("/backend/charts/order/check_charts.vm")
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a class="ui green button" href="${path.concat('/order/download/PAYED')}">一键发货</a>

            <div class="ui green button" id="upload_btn">上传快递单</div>
            <a class="ui green button" href="${path.concat('/order/overview')}">订单列表</a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui segment">
                #parse("/backend/order/component/overview_table.vm")
            </div>
        </div>
    </div>
</div>
#parse("/backend/order/component/order_item_modal.vm")
#parse("/backend/order/component/upload_express_modal.vm")
<script>
    var value = "PAYED";

    $("#upload_btn").on('click', function () {
        $("#upload_express_modal").modal('show');
    });
</script>