<div class="ui segment">
    <div class="ui header">
        订单详情
    </div>
    <div class="ui list">
        <div class="item">
            <i class="browser icon"></i>
            订单编号:
            #if(${order} && ${order.orderId})
                ${order.orderId}
            #else
                ${order.orderItemId}
            #end
        </div>
        <div class="item">
            <i class="user icon"></i>
            顾客姓名:
            #if(${order} && ${order.receiverName})
                ${order.receiverName}
            #else
                ${order.customer.name}
            #end
        </div>
        <div class="item">
            <i class="location arrow icon"></i>
            收货地址:
            #if(${order} && ${order.receiverName})
                ${order.receiverAddress}
            #else
                ${order.receiveAddress}
            #end
        </div>
        <div class="item">
            <i class="in cart icon"></i>
            商品信息:
            #if(${order} && ${order.quantity})
                ${order.goods.name} x ${order.quantity}
            #else
                ${order.goods.name} x ${order.goodsQuantity}
            #end
        </div>
        #if(${order.agent} || ${order.order.agent})
            <div class="item">
                <i class="spy icon"></i>
                代理商:
                #if(${order.agent})
                    ${order.agent.name}
                #else
                    ${order.order.agent.name}
                #end
            </div>
        #end
        <div class="item">
            <i class="calendar icon"></i>
            创建时间:
            ${order.createAt}
        </div>
    </div>
</div>
<div class="ui segment">
    <div class="ui header">
        订单状态:
        #if(${order.status} == 'NOT_PAYED')
            未付款
        #elseif(${order.status} == 'PAYED')
            已付款
        #elseif(${order.status} == 'SHIPPED')
            已发货
        #elseif(${order.status} == 'RECEIVED')
            已签收
        #elseif(${order.status} == 'EXCHANGED')
            已换货
        #elseif(${order.status} == 'REFUNDING')
            退款中
        #elseif(${order.status} == 'REFUNDED')
            已退款
        #end
    </div>
    <div class="ui three top attached steps">
        <div class="#if(${order.status} == 'NOT_PAYED' || ${order.status} == 'REFUNDING' || ${order.status} ==
            'REFUNDED') disabled #end step">
            <i class="payment icon"></i>

            <div class="content">
                <div class="title">付款状态</div>
                <div class="description">
                    #if(${order.status} == 'NOT_PAYED')
                        未付款
                    #elseif(${order.status} == 'REFUNDING')
                        退款处理中
                    #elseif(${order.status} == 'REFUNDED')
                        已退款
                    #else
                        已付款
                    #end
                </div>
            </div>
        </div>
        <div class="#if(${order.status} == 'NOT_PAYED' || ${order.status} == 'REFUNDING' || ${order.status} ==
            'REFUNDED' || ${order.status} == 'PAYED') disabled #end step">
            <i class="truck icon"></i>

            <div class="content">
                <div class="title">物流状态</div>
                <div class="description">
                    #if(${order.status} == 'NOT_PAYED' || ${order.status} == 'REFUNDING' || ${order.status} ==
                        'REFUNDED' || ${order.status} == 'PAYED')
                        无物流信息
                    #else
                        快递单详情
                    #end
                </div>
            </div>
        </div>
        <div class="#if(${order.status} != 'RECEIVED') disabled #end step">
            <i class="write icon"></i>

            <div class="content">
                <div class="title">签收状态</div>
                <div class="description">
                    #if(${order.status} == 'RECEIVED')
                        订单已签收
                    #else
                        订单尚未签收
                    #end
                </div>
            </div>
        </div>
    </div>
    #if(${order.status} == 'SHIPPED' || ${order.status} == 'RECEIVED')
        <div id="deliver_detail" class="ui attached segment" style="display:none;">

        </div>
    #end
</div>
#if(${order.status} != 'REFUNDED')
<div class="ui segment">
    <div class="ui header">
        订单操作
    </div>
    <div class="column">
        #if(${order.status} == 'NOT_PAYED' && ${order.orderItemId})
            <button class="ui green button" id="pay_btn">确认付款</button>
        #end
        #if(${order.status} == 'PAYED' && ${order.orderId})
            <button class="ui green button" id="cancel_btn">取消订单</button>
        #end
        #if(${order.status} == 'PAYED' || ${order.status} == 'SHIPPED')
            <button class="ui green button" id="receive_btn">确认签收</button>
        #end
        #if(${order.status} == 'RECEIVED')
            <button class="ui green button">退换订单</button>
        #end
    </div>
</div>
#end
#parse("/backend/order/component/reimburse_order_modal.vm")
#parse("/backend/order/component/receive_order_modal.vm")
#parse("/backend/order/component/pay_order_modal.vm")
#if(${order.status} == 'PAYED' && ${order.orderId})
    #parse("/backend/order/component/reimburse_order_modal.vm")
#end
#if(${order.status} == 'PAYED' && ${order.orderId})
<script>
    $("#cancel_btn").on('click', function () {
        reimburse_inform();
        $("#reimburse_modal").modal('show');
    });
</script>
#end
#if(${order.status} == 'PAYED' || ${order.status} == 'SHIPPED')
    #parse("/backend/order/component/receive_order_modal.vm")
#end
#if(${order.status} == 'PAYED' || ${order.status} == 'SHIPPED')
<script>
    $("#receive_btn").on('click', function () {
        receive_inform();
        $("#receive_modal").modal('show');
    });
</script>
#end
#if(${order.status} == 'NOT_PAYED' && ${order.orderItemId})
    #parse("/backend/order/component/pay_order_modal.vm")
#end
#if(${order.status} == 'NOT_PAYED' && ${order.orderItemId})
<script>
    $("#pay_btn").on('click', function () {
        pay_inform();
        $("#pay_modal").modal('show');
    });
</script>
#end
<script>
    var order = eval(${order});
    var order_id = '';
    if (order.orderId != null && order.orderId != '') {
        order_id = order.orderId;
    } else if (order.orderItemId != null && order.orderItemId != '') {
        order_id = order.orderItemId;
    }

    $(document).ready(function () {
        if (order.status == 'RECEIVED' || order.status == 'SHIPPED') {
            if (order_id == '') return;
            var url = "${path.concat('/express/')}" + order_id + "/query";
            $.get(url, function (result) {
                if (result.responseCode != "RESPONSE_OK") {
                    $("#deliver_detail").hide();
                } else {
                    var content = eval('(' + result.data + ')');
                    if (content.data == null || content.data[0] == null || content.data[0].traces == null) {
                        $("#deliver_detail").hide();
                        return;
                    }
                    var traces = content.data[0].traces;
                    var list = $("<ol class='ui list'></ol>");
                    var item = "<li value='*'>物流单号: " + result.description + "</li>";
                    list.append(item);
                    for (var i = 0; i < traces.length; i++) {
                        var item = traces[i];
                        var item_component = "<li value='*'>[" + item.scanDate + "] " + item.desc + "</li>";
                        var list_item = $(item_component);
                        list.append(list_item);
                    }
                    $("#deliver_detail").append(list);
                    $("#deliver_detail").show();
                }
            });
        }
    });


    $("#cancel_btn").on('click', function () {
        reimburse_inform();
        $("#reimburse_modal").modal('show');
    });

    $("#receive_btn").on('click', function () {
        receive_inform();
        $("#receive_modal").modal('show');
    });

    $("#pay_btn").on('click', function () {
        pay_inform();
        $("#pay_modal").modal('show');
    });


</script>