<div class="ui modal" id="order_item_modal" style="display:none;">
    <i class="close icon"></i>

    <div class="header">订单详情</div>
    <div class="image content">
        <div class="description">
            <div class="ui segments">
                <div class="ui segment">
                    <div class="inline field">
                        <label>订单编号: </label>
                        <text id="order_no"></text>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="inline field">
                        <label>顾客姓名: </label>
                        <text id="customer_name"></text>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="inline field">
                        <label>代理商: </label>
                        <text id="agent_name"></text>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="inline field">
                        <label>购买商品: </label>
                        <text id="goods"></text>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="inline field">
                        <label>创建时间:</label>
                        <text id="order_time"></text>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="inline field">
                        <label>订单状态</label>
                        <text id="order_status"></text>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button" id="item_close">关闭</div>
    </div>
</div>
<script>
    $("#order_item_modal").modal('hide');

    function clear() {
        $("#order_no").text("");
        $("#customer_name").text("");
        $("#agent_name").text("");
        $("#goods").text("");
        $("#order_time").text("");
        $("#order_status").text("");
    }

    function fill(order_no, customer_name, agent_name, goods_info, order_time, order_status) {
        $("#order_no").text(order_no);
        $("#customer_name").text(customer_name);
        $("#agent_name").text(agent_name);
        $("#goods").text(goods_info);
        $("#order_time").text(order_time);
        $("#order_status").text(order_status);
    }

    $("#item_close").on('click', function () {
        $("#order_item_modal").modal('hide');
        clear();
    })
</script>