<div class="ui stackable padded grid" name="order_list">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">
                订单管理
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">订单管理</a>

                        <div class="divider">/</div>

                        <a class="active section">订单列表</a>
                    </div>
                </div>
            </div>

        </h1>
    </div>
    <div class="row">
        <div class="column">
            <button class="ui button primary order_status" target-value="PAYED">已付款</button>
            <button class="ui button order_status" target-value="NOT_PAYED">未付款</button>
            <button class="ui button order_status" target-value="SENT">已发货</button>
            <button class="ui button order_status" target-value="RECEIVED">已签收</button>
            <button class="ui button order_status" target-value="REFUNDING">退款中</button>
            <button class="ui button order_status" target-value="REFUNDED">已退款</button>
        </div>
    </div>
    <div class="row">
        <div class="column">
            #parse("/backend/order/component/overview_table.vm")
        </div>
    </div>
</div>
#parse("/backend/order/component/order_item_modal.vm")
<script>
    var value = "PAYED";
</script>