<div class="ui modal" id="receive_modal" style="display:none;">
    <i class="close icon"></i>

    <div class="header">订单签收</div>
    <div class="image content">
        <div class="description">
            <div class="ui icon message" id="receive_info" style="display:none;">
                <i class="inbox icon"></i>

                <div class="content">
                    <div class="header">订单签收</div>
                    <p>点击确认后，该订单将变为已签收订单。</p>
                </div>
            </div>
            <div class="ui icon message" id="receive_process" style="display:none;">
                <i class="notched circle loading icon"></i>

                <div class="content">
                    <div class="header">
                        订单处理中
                    </div>
                    <p>系统正在将此订单设置为签收状态</p>
                </div>
            </div>
            <div class="ui icon message" id="receive_success" style="display:none;">
                <i class="checkmark icon"></i>

                <div class="content">
                    <div class="header">
                        操作成功
                    </div>
                    <p>该订单状态已更新为已签收</p>
                </div>
            </div>
            <div class="ui icon message" id="receive_failure" style="display:none;">
                <i class="remove icon"></i>

                <div class="content">
                    <div class="header">
                        操作失败
                    </div>
                    <p>该订单状态未成功设置为签收状态，请重新尝试</p>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green button" id="receive_confirm" style="display:none;">确认</div>
        <div class="ui button" id="receive_cancel" style="display:none;">关闭</div>
        <div class="ui green button" id="receive_complete" style="display:none;">完成</div>
    </div>
</div>
<script>
    $("#receive_modal").modal('hide');

    $("#receive_cancel").on('click', function () {
        $("#receive_modal").modal('hide');
        $("#receive_info").hide();
        $("#receive_process").hide();
        $("#receive_success").hide();
        $("#receive_failure").hide();
    });

    $("#receive_confirm").on('click', function () {
        receive_process();
        receive();
    });

    function receive() {
        var receive_url = "${path.concat('/order/receive')}";
        $.post(receive_url, {'orderId': order_id}, function (result) {
            $("#receive_process").hide();
            if (result.responseCode == "RESPONSE_OK") {
                receive_success();
            } else {
                console.debug(result.description);
                receive_failure();
            }
        });
    }

    function receive_inform() {
        $("#receive_info").show();
        $("#receive_process").hide();
        $("#receive_success").hide();
        $("#receive_confirm").show();
        $("#receive_cancel").show();
    }

    function receive_process() {
        $("#receive_info").hide();
        $("#receive_process").show();
        $("#receive_confirm").hide();
        $("#receive_cancel").hide();
    }

    function receive_success() {
        $("#receive_process").hide();
        $("#receive_success").show();
        $("#receive_complete").show();
    }

    function receive_failure() {
        $("#receive_process").hide();
        $("#receive_failure").show();
        $("#receive_cancel").show();
    }

    $("#receive_complete").on('click', function () {
        window.location.reload();
    })
</script>
