<div class="ui stackable padded grid" name="order_summary">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">
                订单概览
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">订单管理</a>

                        <div class="divider">/</div>
                        <a class="active section">订单概览</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui labeled button" tabindex="0">
                <div class="ui green button" id="upload_express" href="${path.concat('/express/upload')}">
                    <i class="cloud upload icon"></i> 上传快递单
                </div>
                <a class="ui basic green left pointing label" href="${path.concat('/order/check')}">
                    待审核订单
                    <div class="detail" id="to_check_num"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            #parse("/backend/charts/order/last_twelve_charts.vm")
        </div>
    </div>
</div>
#parse("/backend/order/component/upload_express_modal.vm")
<script>
    var status = 'PAYED';

    $("#upload_express").on('click', function () {
        $("#upload_express_modal").modal('show');
    });

    $(document).ready(function () {
        var url = "${path.concat('/order/count')}";
        $.post(url, {status: status}, function (result) {
            if (result.responseCode == 'RESPONSE_OK') {
                var data = result.data;
                $("#to_check_num").text(data + "单");
            } else {
                $("#to_check_num").text("0" + "单");
            }
        })
    });
</script>