<div class="ui stackable padded grid" name="order_summary">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">
                订单概览
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">订单管理</a>

                        <div class="divider">/</div>
                        <a class="active section">订单概览</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui labeled button" tabindex="0">
                <a class="ui green button" href="${path.concat('/express/upload')}">
                    <i class="cloud upload icon"></i> 上传快递单
                </a>
                <a class="ui basic green left pointing label" href="${path.concat('/order/check')}">
                    待审核订单
                    <div class="detail">5</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            #parse("/backend/charts/order/last_twelve_charts.vm")
        </div>
    </div>
</div>