<div class="ui stackable padded grid" name="order_summary">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>

            <div class="content">
                订单概览
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">订单管理</a>

                        <div class="divider">/</div>
                        <a class="active section">订单概览</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
        <div class="column">
            #parse("/backend/charts/order/last_twelve_charts.vm")
        </div>
    </div>
</div>