<div id="sales_area" class="container-fluid" style="width: 100%; height: 800px;"></div>
<script src="${path.concat('/plugins/echarts/js/china.js')}"></script>
<script>
    var customer_distribution = "${path.concat('/statistic/sales/area')}";

    $.get(customer_distribution, function (result) {
        if (result.responseCode != "RESPONSE_ERROR") {
            var data = result.data;

            var map_chart = echarts.init(document.getElementById('sales_area'), 'macarons');

            var min_value = 0;
            var max_value = 0;

            for (var i = 0; i < data.length; i++) {
                if (i == 0) {
                    min_value = data[i].value;
                    continue;
                }
                min_value = (min_value > data[i].value) ? data[i].value : min_value;
                max_value = (max_value < data[i].value) ? data[i].value : max_value;
            }

            option = {
                title: {
                    text: '全国客户区域分布图',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                visualMap: {
                    min: min_value,
                    max: max_value,
                    x: 'left',
                    y: 'bottom',
                    text: ['高', '低'],           // 文本，默认为数值文本
                    calculable: true
                },
                series: [
                    {
                        name: '全国客户区域分布',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        label: {
                            normal: {
                                show: true
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        data: data
                    }
                ]
            };

            map_chart.setOption(option);
        } else if (result.responseCode == "RESPONSE_ERROR") {
            console.error(result.description);
        }
    });
</script>