#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    #parse("/backend/component/init_datetimepicker.vm")
    <title>订货单</title>
    #parse("/backend/finance/component/datetime_picker.vm")
</head>
<body>
</body>
</html>