#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    #parse("/backend/component/init_log.vm")
    <title>系统日志</title>
</head>
<body>
    #parse("/backend/component/navigate_with_login.vm")
    <div class="container-fluid">
        #parse("/backend/component/sidebar.vm")
        #parse("/backend/system/component/log_detail.vm")
    </div>
</body>
</html>