<div id="goods_sales_volume" class="ui segment" style="height: 350px;"></div>
<script>
    var goods_sales_volume = "${path.concat('/statistic/goods/purchaseRecord/month')}";

    $(document).ready(function () {
        $.get(goods_sales_volume, function (result) {
            if (result.responseCode != "RESPONSE_ERROR") {
                var data = result.data;
                var volume_chart = echarts.init(document.getElementById('goods_sales_volume'), 'macarons');
                var goods_list=[];
                var months;
                var series=[];
                var length=data.length;
                var max_month_length=0;
                for(var i=0;i<length;i++){
                    goods_list.push(data[i].name);
                    if(data[i].categories.length>max_month_length){
                        months=data[i].categories;
                        max_month_length=data[i].categories.length;
                    }
                }
                for(var i=0;i<length;i++){
                    var goods_sale_monthly=[];
                    for(var j=0;j<months.length;j++){
                        var position=jQuery.inArray(months[j],data[i].categories);
                        if(position==-1){
                            goods_sale_monthly[j]=0;
                        }else{
                            goods_sale_monthly[j]=data[i].quantitySeriesData[position];
                        }
                    }
                    var line={};
                    line.name=data[i].name;
                    line.type="line";
                    line.data=goods_sale_monthly;
                    series.push(line);
                }
                option = {
                    title: {
                        text: '商品销售统计'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: goods_list
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap : false,
                            data: months
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            axisLabel : {
                                formatter: '{value} 盒'
                            }
                        }
                    ],
                    series: series
                };
                volume_chart.setOption(option);
                window.addEventListener('resize', function () {
                    volume_chart.resize();
                });
            } else if (result.responseCode == "RESPONSE_ERROR") {
                console.error(result.description);
            }
        });
    });
</script>
