.rank{
	text-align:right;
	margin-bottom:-3.5em;
}

.table .table{
	background-color:transparent;
}

.basic_info,.basic_info>tbody>tr,.basic_info>tbody>tr>td{
	border:none;
}

img{
	width:100%;
}

ul.jqtree-tree ul.jqtree_common {
	margin-left:30px;
}