.file-preview-frame {
  float: left;
  position: relative; }

.file-live-thumbs {
  width: 160px;
  height: 160px; }

.kv-file-content {
  width: 160px;
  height: 160px; }

.file-preview-image {
  width: 100%;
  height: 100%; }
