div .info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px; }

div .info-box-icon {
  border-radius: 2px 0;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2); }

div .info-box-content {
  padding: 5px 10px;
  margin-left: 90px; }

div .info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px; }

div .alert {
  padding: 0; }

div span .icon-item {
  text-align: center;
  box-sizing: border-box;
  line-height: 90px; }
