body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin, .form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading, .form-register .form-register-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox, .form-register .checkbox {
    font-weight: normal;
}

.form-signin .form-control, .form-register .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus, .form-register .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"], .form-register input[type="email"] {
    margin-bottom: -1px;
}

.form-signin input[type="password"], .form-register input[type="password"] {
    margin-bottom: 10px;
}

.form-signin .login-field-icon, .form-register .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: relative;
    right: 20px;
    top: 35px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.form-control-feedback {
    width: 44px;
    height: 44px;
    line-height: 44px;
}

.col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.input-group {
    display: block;
}