<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <div class="wrapper">
            <hr class="line-left">
            <hr class="line-right">
            <div class="main-container">
                <div class="main-content">
                    <h1 class="title">系统日志</h1>
                    <div class="year">
                        <h2><a href="#">2016年<i></i></a></h2>
                        <div class="list">
                            <ul>
                                #foreach( $log in ${logs} )
                                <li class="cls">
                                    <p class="date">$!date.format('yyyy-MM-dd HH:mm:ss ',$!{log.creatAt})</p>
                                    <p class="intro">${log.adminInfo}:${log.operationEvent}</p>
                                </li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
       var length=$('.cls').width()-$('.date').width();
       $('.intro').css('width',length-1);
       
    });
    
    $(".main .year .list").each(function (e, target) {
	    var $target=  $(target);
	    var $ul = $target.find("ul");
	    $target.height($ul.outerHeight()), $ul.css("position", "absolute");
	}); 
	$(".main .year>h2>a").click(function (e) {
	    e.preventDefault();
	    $(this).parents(".year").toggleClass("log_close");
	});
    
</script>