#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="${path.concat('/plugins/unslider/css/unslider.css')}"/>
    <link rel="stylesheet" href="${path.concat('/plugins/weui/weui.css')}"/>
    <link rel="stylesheet" href="${path.concat('/material/css/customer/goods_detail.css')}"/>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/jquery-1.12.3.min.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.event.move.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.event.swipe.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.provincesCity.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.provincesData.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/unslider/js/unslider-min.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/pingxx/pingpp_one.js')}"></script>
    <title>商品详情</title>
</head>
<body>
    <div class="fading-slider">
        <ul>
            <li><img src="${path.concat('/material/goods_img/1.jpg')}" alt="详情图1"></li>
            <li><img src="${path.concat('/material/goods_img/2.jpg')}" alt="详情图2"></li>
            <li><img src="${path.concat('/material/goods_img/3.jpg')}" alt="详情图3"></li>
        </ul>
    </div>
    <div class="goods_information">
        <div class="goods_name">
            <h2>${goods.name}</h2>
        </div>
        <div id="agent_price" class="price">
            <div class="pre_price">￥${goods.price}</div>
            <div class="now_price">${goods.benefit}</div>
        </div>
        <div id="customer_price" class="price">
            <div class="common_price">￥{goods.price}</div>
        </div>
    </div>
    <div class="agent_information">
        #if(${agent})
        <div class="agent">由<p>${agent.name}</p>推广</div>
        #end
        <div class="agent_id">
            <table>
                <tr>
                    <td class="hd">
                        <label class="id_label">
                        	 代理商编号：
                        </label>
                    </td>
                    <td class="bd">
                        #if(${agent})
                        <input id="agent_id" class="id_input" type="text" value="${agent.agentId}"/>
                        #else
                        <input id="agent_id" class="id_input" type="text" value=""/>
                        #end
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buy_area">
        <button id="purchase" class="btn_area">立即购买</button>
    </div>
    <div id="actionSheet_wrap">
        <div class="weui_mask_transition" id="number_div" style="display: none;"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div class="weui_actionsheet_menu">
         	    <div class="number_area">
                    <p>数量</p>
                    <div class="number_choose">
                        <button id="min_btn" class="min">—</button> 
                        <input id="goods_num" class="num_box" name="" type="text" value="1" /> 
                        <button id="add_btn" class="add">+</button>
                    </div>
                </div>
                <div class="address_area">
                    <div class="address_information">
                        <h2>填写地址</h2>
                        <div class="weui_cells">
                             <div class="weui_cell">
                                 <div class="weui_cell_hd">
                                     <label class="weui_label">姓名</label>
                                 </div>
                                 <div class="weui_cell_bd weui_cell_primary">
                                     <input id="customer_name" name="customerName" class="weui_input" type="text" placeholder="请填写收货人姓名"
                                         autocomplete="off"/>
                                 </div>
                             </div>
                             <div class="weui_cell">
                                 <div class="weui_cell_hd">
                                     <label class="weui_label">手机号</label>
                                 </div>
                                 <div class="weui_cell_bd weui_cell_primary">
                                     <input id="customer_phone" name="phone" class="weui_input" type="tel" placeholder="请填写手机号"
                                         autocomplete="off"/>
                                 </div>
                             </div>
                             <div class="weui_cell">
                                 <div class="weui_cell_hd">
                                     <label class="weui_label">地区</label>
                                 </div>
                                 <div class="weui_cell_bd weui_cell_primary">
                                     <div id="province" class="area_select"></div>
                                 </div>
                             </div>
                             <div class="weui_cell">
                                 <div class="weui_cell_hd">
                                     <label class="weui_label">地址</label>
                                 </div>
                                 <div class="weui_cell_bd weui_cell_primary">
                                     <input id="customer_address" name="address" class="weui_input" type="text" placeholder="请填写详细地址"
                                         autocomplete="off"/>
                                 </div>
                             </div>
                             <div class="weui_cell">
                                 <div class="weui_cell_hd">
                                     <label class="weui_label">邮政编码</label>
                                 </div>
                                 <div class="weui_cell_bd weui_cell_primary">
                                     <input id="postcode" name="postcode" class="weui_input" type="tel" placeholder="请填写邮政编码"
                                         autocomplete="off"/>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="confirm_area">
                    <div class="total_info">
                        <div class="total_money">
                            <p class="sum">合计：</p>
                            <p id="total_price" class="sum_price">元</p>
                        </div>
                        <div class="total_num">
                            <p>共<p id="total_num">1</p>件</p>
                        </div>
                    </div>
                    <div class="to_pay">
                        <button id="confirm" class="weui_btn weui_btn_disabled weui_btn_default" disabled="disabled">去结算</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_dialog_alert" id="dialog" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">消息</strong></div>
            <div class="weui_dialog_bd"></div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
</body>
<script>
    var goods_price;
    $(function() {
        var slidey=$('.fading-slider').unslider({
            animation: 'fade', 
            autoplay: true, 
            arrows: false,
            fluid: false
        });
        var data = slidey.data('unslider');
        $('.fading-slider').on('swipeleft', function(e) {
            data.next();
        }).on('swiperight', function(e) {
            data.prev();
        });
        
        check_agent();
        
        $('#agent_id').blur(function(){
            var agentId=$('#agent_id').val();
            if(agentId!=""){
                var url='${path.concat('/agent/agentValidate/')}'+agentId;
                var param = {agentId:agentId};
                $.post(url, param, function(result) {
                    if (result.responseCode != "RESPONSE_OK") {
                        $("#dialog").find(".weui_dialog_bd").html("该代理商不存在！");
                        $("#dialog").fadeIn();
                        $("#agent_id").val("");
                    }
                    check_agent();
                });   
            }
            check_agent();
        });
        
        $('#total_price').text(goods_price+'元');
        
        check_num();
                    
        $('#province').ProvinceCity();
        
        $('#customer_name').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $('#customer_phone').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $("#province").children(":first").change(function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $('#customer_address').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $('#postcode').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
    });

    $('#purchase').click(function(){
        $.toggleNumModifySheet();
    });
    
    $.toggleNumModifySheet = function(){
   		var number_div = $('#number_div');
        var weuiActionsheet = $('#weui_actionsheet');
        weuiActionsheet.addClass('weui_actionsheet_toggle');
        number_div.show()
            .focus()
            .addClass('weui_fade_toggle').one('click', function () {
                hideActionSheet(weuiActionsheet, number_div);
            });
        number_div.unbind('transitionend').unbind('webkitTransitionEnd');

        function hideActionSheet(weuiActionsheet, number_div) {
            weuiActionsheet.removeClass('weui_actionsheet_toggle');
            number_div.removeClass('weui_fade_toggle');
            number_div.on('transitionend', function () {
                number_div.hide();
            }).on('webkitTransitionEnd', function () {
                number_div.hide();
            })
        }
    }
    
    $('#min_btn').click(function(){
        var num=$('#goods_num').val();
        num--;
        $('#goods_num').attr('value',num);
        check_num();
        $('#total_num').text(num);
        $('#total_price').text(num*goods_price+'元');
    });
    
    $('#add_btn').click(function(){
        var num=$('#goods_num').val();
        num++;
        $('#goods_num').attr('value',num);
        check_num();
        $('#total_num').text(num);
        $('#total_price').text(num*goods_price+'元');
    });
    
    $("#dialog").find(".weui_btn_dialog.primary").click(function () {
        $("#dialog").hide();
    });
    
    function check_agent(){
        var agent=$('#agent_id').val();
        if(agent){
            $('#agent_price').show();
            $('#customer_price').hide();
            goods_price="${goods.benefit}";
        }else{
            $('#customer_price').show();
            $('#agent_price').hide();
            goods_price="${goods.price}";
        }
    }
    
    function check_num(){
        var goodsNum=$('#goods_num').val();
        if(goodsNum==1){
            $('#min_btn').attr("disabled","disabled");
            $('#min_btn').addClass("btn_disabled");
        }else{
            $('#min_btn').removeAttr("disabled");
            $('#min_btn').removeClass("btn_disabled");
        }
    }
    
    function addressInfo_validate(){
        var name=$('#customer_name').val();
        var phone=$('#customer_phone').val();
        var address=$('#customer_address').val();
        var postcode=$('#postcode').val();
        var area=$("#province").children(":first").val();
        if(not_null(name)&&not_null(phone)&&not_null(address)&&not_null(postcode)&&area!=="请选择"){
            return true;
        }else{
            return false;
        }
    }
    
    function active(){
        $("#confirm").removeAttr("disabled");
        $("#confirm").removeClass("weui_btn_disabled");
        $("#confirm").removeClass("weui_btn_default");
        $("#confirm").addClass("weui_btn_primary");
    }
    
    function inactive(){
        $("#confirm").attr("disabled", "disabled");
        $("#confirm").removeClass("weui_btn_primary");
        $("#confirm").addClass("weui_btn_disabled");
        $("#confirm").addClass("weui_btn_default");
    }
    
    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
  document.addEventListener('pingpp_one_ready', function () {
    $('#confirm').click(function(){
        var url='${path.concat('/customer/place')}';
        var goodsId="${goods.goodsId}";
        var agentId=$('#agent_id').val();
        var goodsNum=$('#goods_num').val();
        var customerName=$('#customer_name').val();
        var phone=$('#customer_phone').val();
        var address=$("#province").children(":first").val()+$("#province").children(":first").next().val()+$("#province").children(":last").val()+$("#customer_address").val();
        var param = {goodsId:goodsId , agentId:agentId ,goodsNum:goodsNum,customerName:customerName,phone:phone,address:address};
        $.post(url, param, function(result) {
            if (result.responseCode == "RESPONSE_OK") {
                var data = result.data; 
                pingpp_one.init({
	                app_id: "app_DazjbTLybjHGbv9O",
	                amount: data.totalPrice,
	                channel: ['alipay_wap', 'wx_pub'],
	                charge_url: "${path.concat('/order/customerpay')}",
	                charge_param: {order_id: data.orderId},
	                open_id: 'wxf2c47b5e41605c26',
	                debug: false
	            }, function (result) {
	                //debug 模式下获取 charge_url 的返回结果
	                if (result.debug && result.chargeUrlOutput) {
	                    console.log(result.chargeUrlOutput);
	                }
	                if (!result.status) {
	                    //处理错误
	                    alert(result.msg);
	                }
	                else {
	                    //debug 模式下调用 charge_url 后会暂停，可以调用 pingpp_one.resume 方法继续执行
	                    if (result.debug && !result.wxSuccess) {
	                        if (confirm('当前为 debug 模式，是否继续支付？')) {
	                            pingpp_one.resume();
	                        }
	                    }
	                    //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，
	                    //调用 pingpp_one.success 方法，你也可以自己定义回调函数
	                    //其他渠道的处理方法请见第 2 节
	                    else pingpp_one.success(function (result) {
	                        if (!result.status) {
	                            alert(result.msg);
	                        }
	                    }, function () {
	                        //这里处理支付成功页面点击“继续购物”按钮触发的方法，
	                        //例如：若你需要点击“继续购物”按钮跳转到你的购买页，
	                        //则在该方法内写入 window.location.href = "你的购买页面 url"
	                        window.location.href = 'http://yourdomain.com/payment_succeeded';//示例
	                    });
	                }
	            });
            } else {
                            
            }
        });
    });
    });

</script>
</html>