#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/customer/component/init.vm")
    <link rel="stylesheet" href="${path.concat('/plugins/unslider/css/unslider.css')}"/>
    <link rel="stylesheet" href="${path.concat('/plugins/fancybox/source/jquery.fancybox.css')}" media="screen"/>
    <link rel="stylesheet" href="${path.concat('/material/css/customer/goods_detail.css')}"/>
    <link rel="stylesheet" href="${path.concat('/material/css/common/address_plugin.css')}"/>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.event.move.js')}"></script>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.event.swipe.js')}"></script>
    <script type="text/javascript" src="${path.concat('/plugins/fancybox/source/jquery.fancybox.pack.js')}"></script>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/pinchzoom.min.js')}"></script>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.cityselect.js')}"></script>
    <script type="text/javascript" src="${path.concat('/plugins/unslider/js/unslider-min.js')}"></script>
    <title>商品详情</title>
</head>
<body ontouchstart>
<div class="below">
    #parse("/customer/goods/component/goods_slider.vm")
    <div class="gap"></div>
    #parse("/customer/goods/component/goods_detail.vm")
</div>
    #parse("/customer/goods/component/goods_price.vm")
    #parse("/customer/goods/component/purchase_form.vm")
<div class="weui_dialog_alert" id="dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">消息</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div class="weui_dialog_alert" id="fail_dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">网络环境较差，请重试</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
</body>
<script>
    var t_img; // 定时器
    var isLoad = true; // 控制变量
    var goods_price;
    var alertNum = 0;
    var forbidden = false;
    #if(${history})
   	var second_time_purchase = true;
    #else
    var second_time_purchase = false; 
    #end
    
    $(function () {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "${path.concat('/plugins/pingxx/pingpp_one.js')}";
        document.body.appendChild(script);

        $(document).on('pingpp_one_ready', function () {
            $('#confirm').click(function () {
                var agentId = $('#agent_id').val();
                if (agentId != "") {
                    agentId = "AGT" + agentId;
                    var url = '${path.concat('/agent/agentValidate/')}' + agentId;
                    var param = {agentId: agentId};
                    $.post(url, param, function (result) {
                        if (result.responseCode != "RESPONSE_OK") {
                            $("#dialog").find(".weui_dialog_bd").html("优惠码不存在！");
                            $("#dialog").fadeIn();
                            $("#agent_id").val("");
                            check_agent();
                        } else {
                            pay();
                        }

                    });
                } else {
                    check_agent();
                    pay();
                }
            });
        });

        if (second_time_purchase && addressInfo_validate()) {
            active();
        }
        
        var slidey = $('.fading-slider').unslider({
            animation: 'fade',
            autoplay: true,
            arrows: false,
            fluid: false
        });
        var data = slidey.data('unslider');
        $('.fading-slider').on('swipeleft', function (e) {
            data.next();
        }).on('swiperight', function (e) {
            data.prev();
        });
        
        // 判断图片加载状况，加载完成后回调
        isImgLoad(function(){
            // 加载完成
            $('.unslider-fade').css('height', $('.logo img').height());
        });
        
        $('#detail').show();
        $('#parameters').hide();
        $('#more').hide();

        $(".logo").fancybox({
            padding: 0,
            closeBtn: false,
            closeClick: true,
            afterShow: function () {
                $('.fancybox-outter').addClass('pinch-zoom-container');
                $('.fancybox-inner').addClass('pinch-zoom');
                $('div.pinch-zoom').each(function () {
                    new RTP.PinchZoom($(this), {});
                });
                forbidden = true;
            },
            afterClose: function () {
                forbidden = false;
            }
        });

        $("#feelings").fancybox({
            padding: 0,
            closeBtn: false,
            closeClick: true,
            afterShow: function () {
                $('.fancybox-outter').addClass('pinch-zoom-container');
                $('.fancybox-inner').addClass('pinch-zoom');
                $('div.pinch-zoom').each(function () {
                    new RTP.PinchZoom($(this), {});
                });
                forbidden = true;
            },
            afterClose: function () {
                forbidden = false;
            }
        });

        $("#qrcode").fancybox({
            padding: 0,
            closeBtn: false,
            closeClick: true,
            afterShow: function () {
                $('.fancybox-outter').addClass('pinch-zoom-container');
                $('.fancybox-inner').addClass('pinch-zoom');
                $('div.pinch-zoom').each(function () {
                    new RTP.PinchZoom($(this), {});
                });
                forbidden = true;
            },
            afterClose: function () {
                forbidden = false;
            }
        });

        convert_id();

        check_agent();

        $('#agent_id').blur(function () {
            var agentId = $('#agent_id').val();
            if (agentId != "") {
                agentId = "AGT" + agentId;
                var url = '${path.concat('/agent/agentValidate/')}' + agentId;
                var param = {agentId: agentId};
                $.post(url, param, function (result) {
                    if (result.responseCode != "RESPONSE_OK") {
                        $("#dialog").find(".weui_dialog_bd").html("优惠码不存在！");
                        $("#dialog").fadeIn();
                        $("#agent_id").val("");
                    }
                    check_agent();
                });
            } else {
                check_agent();
            }
        });

        $('#customer_phone').blur(function () {
            var phone = $("#customer_phone").val();
            if (!(/^1[3|4|5|7|8]\d{9}$/.test(phone))) {
                $("#dialog").find(".weui_dialog_bd").html("手机号码有误，请重填！");
                $("#dialog").fadeIn();
                $("#customer_phone").val("");
                inactive();
            }
        });

        check_num();

        $('#province').citySelect({
            url: '${path.concat('/plugins/jquery/city.min.js')}',
            required: false,
            nodata: 'none',//当子集无数据时，隐藏select
        });

        $("#prov").change(function () {
            $("#city").empty();
            $("#dist").empty();
            if (addressInfo_validate()) {
                active();
            } else {
                inactive();
            }
        });

        $("#city").change(function () {
            $("#dist").empty();
            if (addressInfo_validate()) {
                active();
            } else {
                inactive();
            }
        });

        $("#dist").change(function () {
            if (addressInfo_validate()) {
                active();
            } else {
                inactive();
            }
        });
    });
    
    $('#customer_name').on('input propertychange', function () {
        if (addressInfo_validate()) {
            active();
        } else {
            inactive();
        }
    });

    $('#customer_phone').on('input propertychange', function () {
        if (addressInfo_validate()) {
            active();
        } else {
            inactive();
        }
    });

    $('#purchase').click(function () {
        forbidden = true;
        $.toggleNumModifySheet();
    });

    $('#customer_address').on('input propertychange', function () {
        if (addressInfo_validate()) {
            active();
        } else {
            inactive();
        }
    });

    $('#history_address').on('input propertychange', function () {
        if (addressInfo_validate()) {
            active();
        } else {
            inactive();
        }
    });

    $.toggleNumModifySheet = function () {
        var number_div = $('#number_div');
        var weuiActionsheet = $('#weui_actionsheet');
        weuiActionsheet.addClass('weui_actionsheet_toggle');
        number_div.show()
                .focus()
                .addClass('weui_fade_toggle').one('click', function () {
                    forbidden = false;
                    hideActionSheet(weuiActionsheet, number_div);
                });
        number_div.unbind('transitionend').unbind('webkitTransitionEnd');

        function hideActionSheet(weuiActionsheet, number_div) {
            weuiActionsheet.removeClass('weui_actionsheet_toggle');
            number_div.removeClass('weui_fade_toggle');
            number_div.on('transitionend', function () {
                number_div.hide();
            }).on('webkitTransitionEnd', function () {
                number_div.hide();
            })
        }
    }

    $('#min_btn').click(function () {
        var num = $('#goods_num').val();
        num--;
        $('#goods_num').attr('value', num);
        check_num();
        $('#total_num').text(num);
        $('#total_price').text(num * goods_price + '元');
    });

    $('#add_btn').click(function () {
        var num = $('#goods_num').val();
        num++;
        $('#goods_num').attr('value', num);
        check_num();
        $('#total_num').text(num);
        $('#total_price').text(num * goods_price + '元');
    });

    $("#dialog").find(".weui_btn_dialog.primary").click(function () {
        $("#dialog").hide();
    });

    $("#fail_dialog").find(".weui_btn_dialog.primary").click(function () {
        $("#fail_dialog").hide();
    });

    $('#det').click(function () {
        $(this).parent().addClass("chosen");
        $('#par').parent().removeClass("chosen");
        $('#mor').parent().removeClass("chosen");
        $(this).addClass("chosen_btn");
        $('#par').removeClass("chosen_btn");
        $('#mor').removeClass("chosen_btn");
        $('#detail').show();
        $('#parameters').hide();
        $('#more').hide();
    });

    $('#par').click(function () {
        $(this).parent().addClass("chosen");
        $('#det').parent().removeClass("chosen");
        $('#mor').parent().removeClass("chosen");
        $(this).addClass("chosen_btn");
        $('#det').removeClass("chosen_btn");
        $('#mor').removeClass("chosen_btn");
        $('#parameters').show();
        $('#detail').hide();
        $('#more').hide();
    });

    $('#mor').click(function () {
        $(this).parent().addClass("chosen");
        $('#par').parent().removeClass("chosen");
        $('#det').parent().removeClass("chosen");
        $(this).addClass("chosen_btn");
        $('#par').removeClass("chosen_btn");
        $('#det').removeClass("chosen_btn");
        $('#more').show();
        $('#parameters').hide();
        $('#detail').hide();
    });
    
    // 判断图片加载的函数
    function isImgLoad(callback){
        // 查找所有图片，迭代处理
        $('.img').each(function(){
            // 找到为0就将isLoad设为false，并退出each
            if(this.height === 0){
                isLoad = false;
                return false;
            }
        });
        // 为true，没有发现为0的。加载完毕
        if(isLoad){
            clearTimeout(t_img); // 清除定时器
            // 回调函数
            callback();
        // 为false，因为找到了没有加载完成的图，将调用定时器递归
        }else{
            isLoad = true;
            t_img = setTimeout(function(){
                isImgLoad(callback); // 递归扫描
            },100); // 我这里设置的是500毫秒就扫描一次，可以自己调整
        }
    }


    function convert_id() {
        var id = $('#agent_id').val();
        if (id != "") {
            var newId = id.slice(3);
            $('#agent_id').val(newId);
        }
    }

    function check_agent() {
        var agent = $('#agent_id').val();
        var num = $('#goods_num').val();
        if (agent) {
            $('#agent_price').show();
            $('#customer_price').hide();
            goods_price = "${goods.agentPrice}";
        } else {
            $('#customer_price').show();
            $('#agent_price').hide();
            goods_price = "${goods.customerPrice}";
        }
        $('#goods_per_price').text(goods_price + '元');
        $('#total_price').text(num * goods_price + '元');
    }

    function check_num() {
        var goodsNum = $('#goods_num').val();
        if (goodsNum == 1) {
            $('#min_btn').attr("disabled", "disabled");
            $('#min_btn').addClass("btn_disabled");
        } else {
            $('#min_btn').removeAttr("disabled");
            $('#min_btn').removeClass("btn_disabled");
        }
    }

    function addressInfo_validate() {
        var name = $('#customer_name').val();
        var phone = $('#customer_phone').val();
        var address = $('#customer_address').val();
        if (second_time_purchase) {
            address = $('#history_address').val();
        }
        var area;
        if ($("#prov").val() == "北京" || $("#prov").val() == "天津" || $("#prov").val() == "上海" || $("#prov").val() == "重庆" || $("#prov").val() == "香港" || $("#prov").val() == "澳门" || $("#prov").val() == "台湾") {
            area = $("#city").val();
        } else {
            if ($("#prov").val() == "国外") {
                area = $("#prov").val();
            } else {
                area = $("#dist").val();
            }
        }
        if (not_null(name) && not_null(phone) && not_null(address) && (not_null(area) || second_time_purchase)) {
            return true;
        } else {
            return false;
        }
    }

    function active() {
        $("#confirm").removeAttr("disabled");
        $("#confirm").removeClass("weui_btn_disabled");
        $("#confirm").removeClass("weui_btn_default");
        $("#confirm").addClass("weui_btn_primary");
    }

    function inactive() {
        $("#confirm").attr("disabled", "disabled");
        $("#confirm").removeClass("weui_btn_primary");
        $("#confirm").addClass("weui_btn_disabled");
        $("#confirm").addClass("weui_btn_default");
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }

    function pay() {
        var openId = '${wechat}';
        var url = '${path.concat('/customer/place')}';
        var goodsId = "${goods.goodsId}";
        var agentId = "AGT" + $('#agent_id').val();
        var goodsNum = $('#goods_num').val();
        var customerName = $('#customer_name').val();
        var phone = $('#customer_phone').val();
        var address;
        if (second_time_purchase) {
            address = $('#history_address').val();
        } else {
            if ($("#dist").is(":hidden")) {
                if ($("#city").is(":hidden")) {
                    address = $("#prov").val() + $("#customer_address").val();
                } else {
                    address = $("#prov").val() + $("#city").val() + $("#customer_address").val();
                }
            } else {
                address = $("#prov").val() + $("#city").val() + $("#dist").val() + $("#customer_address").val();
            }
        }
        var param = {
            goodsId: goodsId,
            agentId: agentId,
            goodsNum: goodsNum,
            customerName: customerName,
            phone: phone,
            address: address,
            wechat: openId
        };
        $.post(url, param, function (result) {
            if (result.responseCode == "RESPONSE_OK") {
                var data = result.data;
                pingpp_one.init({
                    app_id: "app_K4evXLKq50O8CuL8",
                    amount: data.totalPrice,
                    channel: ['wx_pub'],
                    charge_url: "${path.concat('/order/customerpay')}",
                    charge_param: {order_id: data.orderId},
                    open_id: '${wechat}',
                    debug: false
                }, function (result) {
                    //debug 模式下获取 charge_url 的返回结果
                    if (result.debug && result.chargeUrlOutput) {
                        console.log(result.chargeUrlOutput);
                    }
                    if (!result.status) {
                        //处理错误
                        $("#fail_dialog").show();
                    }
                    else {
                        //debug 模式下调用 charge_url 后会暂停，可以调用 pingpp_one.resume 方法继续执行
                        if (result.debug && !result.wxSuccess) {
                            if (confirm('当前为 debug 模式，是否继续支付？')) {
                                pingpp_one.resume();
                            }
                        }
                        //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，
                        //调用 pingpp_one.success 方法，你也可以自己定义回调函数
                        //其他渠道的处理方法请见第 2 节
                        else {
                            $('.unslider-fade').hide();
                            $('.unslider-nav').hide();
                            $('.weui_actionsheet').hide();
                            $('.weui_mask_transition').hide();
                            pingpp_one.success(function (result) {
                                if (!result.status) {
                                    $("#fail_dialog").show();
                                }
                            }, function () {
                                //这里处理支付成功页面点击“继续购物”按钮触发的方法，
                                //例如：若你需要点击“继续购物”按钮跳转到你的购买页，
                                //则在该方法内写入 window.location.href = "你的购买页面 url"
                                window.location.href = "/commodity/customerorder?" + "orderId=" + data.orderId;
                            });
                        }
                    }
                });
            } else {

            }
        });
    }

    document.addEventListener("touchmove", function (e) {
        if (forbidden) {
            e.preventDefault();
            e.stopPropagation();
        }
    }, false);
</script>
</html>
