#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="${path.concat('/plugins/unslider/css/unslider.css')}"/>
    <link rel="stylesheet" href="${path.concat('/plugins/weui/weui.css')}"/>
    <link rel="stylesheet" href="${path.concat('/material/css/customer/goods_detail.css')}"/>
    <script type="text/javascript" src="${path.concat('/plugins/jquery/jquery-1.12.3.min.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.event.move.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.event.swipe.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.provincesCity.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.provincesData.js')}"></script>
	<script type="text/javascript" src="${path.concat('/plugins/unslider/js/unslider-min.js')}"></script>
    <title>商品详情</title>
</head>
<body>
    <div class="fading-slider">
        <ul>
            <li><img src="${path.concat('/material/goods_img/1.jpg')}" alt="详情图1"></li>
            <li><img src="${path.concat('/material/goods_img/2.jpg')}" alt="详情图2"></li>
            <li><img src="${path.concat('/material/goods_img/3.jpg')}" alt="详情图3"></li>
        </ul>
    </div>
    <div class="goods_information">
        <div class="goods_name">
            <h2>三七粉</h2>
        </div>
        <div class="price">
            <div class="pre_price">￥300</div>
            <div class="now_price">200</div>
        </div>
    </div>
    <div class="agent_information">
        <div class="agent">由<p>刘嘉</p>推广</div>
        <div class="agent_id">
            <table>
                <tr>
                    <td class="hd">
                        <label class="id_label">
                        	 代理商编号：
                        	 #if(${agent})
                        	 	<span>${agent.agentId}</span>
                        	 #end
                        </label>
                    </td>
                    <td class="bd">
                        <input id="agent_id" class="id_input" type="text"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="buy_area">
        <button id="purchase" class="btn_area">立即购买</button>
    </div>
    <div id="actionSheet_wrap">
        <div class="weui_mask_transition" id="number_div" style="display: none;"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div class="weui_actionsheet_menu">
         	    <div class="number_area">
                    <p>数量</p>
                    <div class="number_choose">
                        <button id="min_btn" class="min">—</button> 
                        <input id="goods_num" class="num_box" name="" type="text" value="1" /> 
                        <button id="add_btn" class="add">+</button>
                    </div>
                </div>
                <div class="address_area">
                    <div class="address_information">
                        <h2>填写地址</h2>
                        <div class="weui_cells">
                             <form id="address_form">
                                 <div class="weui_cell">
                                     <div class="weui_cell_hd">
                                         <label class="weui_label">姓名</label>
                                     </div>
                                     <div class="weui_cell_bd weui_cell_primary">
                                         <input id="customer_name" name="customerName" class="weui_input" type="text" placeholder="请填写收货人姓名"
                                         autocomplete="off"/>
                                     </div>
                                 </div>
                                 <div class="weui_cell">
                                     <div class="weui_cell_hd">
                                         <label class="weui_label">手机号</label>
                                     </div>
                                     <div class="weui_cell_bd weui_cell_primary">
                                         <input id="customer_phone" name="phone" class="weui_input" type="tel" placeholder="请填写手机号"
                                         autocomplete="off"/>
                                     </div>
                                 </div>
                                 <div class="weui_cell">
                                     <div class="weui_cell_hd">
                                         <label class="weui_label">地区</label>
                                     </div>
                                     <div class="weui_cell_bd weui_cell_primary">
                                         <div id="province" class="area_select"></div>
                                     </div>
                                 </div>
                                 <div class="weui_cell">
                                     <div class="weui_cell_hd">
                                         <label class="weui_label">地址</label>
                                     </div>
                                     <div class="weui_cell_bd weui_cell_primary">
                                         <input id="customer_address" name="address" class="weui_input" type="text" placeholder="请填写详细地址"
                                         autocomplete="off"/>
                                     </div>
                                 </div>
                                 <div class="weui_cell">
                                     <div class="weui_cell_hd">
                                         <label class="weui_label">邮政编码</label>
                                     </div>
                                     <div class="weui_cell_bd weui_cell_primary">
                                         <input id="postcode" name="postcode" class="weui_input" type="tel" placeholder="请填写邮政编码"
                                         autocomplete="off"/>
                                     </div>
                                 </div>
                             </form>
                        </div>
                    </div>
                </div>
                <div class="confirm_area">
                    <div class="total_info">
                        <div class="total_money">
                            <p class="sum">合计：</p>
                            <p class="sum_price">200元</p>
                        </div>
                        <div class="total_num">
                            <p>共1件</p>
                        </div>
                    </div>
                    <div class="to_pay">
                        <button id="confirm" class="weui_btn weui_btn_disabled weui_btn_default" disabled="disabled">去结算</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function() {
        var slidey=$('.fading-slider').unslider({
            animation: 'fade', 
            autoplay: true, 
            arrows: false,
            fluid: false
        });
        var data = slidey.data('unslider');
        $('.fading-slider').on('swipeleft', function(e) {
            data.next();
        }).on('swiperight', function(e) {
            data.prev();
        });
    });
</script>
<script>
    $(function() {
        var goodsNum=$('#goods_num').val();
        if(goodsNum==1){
            $('#min_btn').attr("disabled","disabled");
        }
                    
        $('#province').ProvinceCity();
        
        $('#customer_name').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $('#customer_phone').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $('#customer_address').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
        $('#postcode').on('input propertychange',function(){
            if(addressInfo_validate()){
                active();
            }else{
                inactive();
            }
        });
        
    });
    
    $('#purchase').click(function(){
        $.toggleNumModifySheet();
    });
    
    $.toggleNumModifySheet = function(){
   		var number_div = $('#number_div');
        var weuiActionsheet = $('#weui_actionsheet');
        weuiActionsheet.addClass('weui_actionsheet_toggle');
        number_div.show()
            .focus()
            .addClass('weui_fade_toggle').one('click', function () {
                hideActionSheet(weuiActionsheet, number_div);
            });
        number_div.unbind('transitionend').unbind('webkitTransitionEnd');

        function hideActionSheet(weuiActionsheet, number_div) {
            weuiActionsheet.removeClass('weui_actionsheet_toggle');
            number_div.removeClass('weui_fade_toggle');
            number_div.on('transitionend', function () {
                number_div.hide();
            }).on('webkitTransitionEnd', function () {
                number_div.hide();
            })
        }
    }
    
    function addressInfo_validate(){
        var name=$('#customer_name').val();
        var phone=$('#customer_phone').val();
        var address=$('#customer_address').val();
        var postcode=$('#postcode').val();
        if(not_null(name)&&not_null(phone)&&not_null(address)&&not_null(postcode)){
            return true;
        }else{
            return false;
        }
    }
    
    function active(){
        $("#confirm").removeAttr("disabled");
        $("#confirm").removeClass("weui_btn_disabled");
        $("#confirm").removeClass("weui_btn_default");
        $("#confirm").addClass("weui_btn_primary");
    }
    
    function inactive(){
        $("#confirm").attr("disabled", "disabled");
        $("#confirm").removeClass("weui_btn_primary");
        $("#confirm").addClass("weui_btn_disabled");
        $("#confirm").addClass("weui_btn_default");
    }
    
    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
    
    $('#confirm').click(function(){
        
    });

</script>
</html>