#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/customer/component/init.vm")
    <link rel="stylesheet" href="${path.concat('/plugins/limarquee/css/liMarquee.css')}"/>
    <link rel="stylesheet" href="${path.concat('/material/css/customer/goods_list.css')}"/>
    <script type="text/javascript" src="${path.concat('/plugins/limarquee/js/jquery.liMarquee.js')}"></script>
    <title>商品列表</title>
</head>
<body ontouchstart>
    #parse("/customer/goods/component/notice.vm")
<header class="head">
    <h4>云草纲目</h4>
</header>
<div class="gap"></div>
<main>
    <div class="list">
        #foreach($goods in ${goodsList})
            <div class="item" id="${goods.goodsId}">
                <div class="upper">
                    <img src="${goods.thumbnails.get(0).path}"/>
                </div>
                <div class="middle">
                    <p>${goods.name}</p>
                </div>
                <div class="down">
                    <p>￥<span>${goods.customerPrice}</span></p>
                </div>
            </div>
        #end
    </div>
</main>
</body>
<script>
    $(document).ready(function () {

    });
    $(".item").each(function () {
        $(this).click(function () {
            window.location.href = "${path.concat('/commodity/')}" + $(this).attr("id");
        });
    });
</script>
</html>