<div class="unslider_div">
    <div class="fading-slider">
        <ul>
            <li>
                <a id="first_img" class="logo" href="${path.concat('/material/goods_img/1_b.jpg')}">
                    <img class="img" src="${path.concat('/material/goods_img/1.jpg')}"/>
                </a>
            </li>
            <li>
                <a class="logo" href="${path.concat('/material/goods_img/2_b.jpg')}">
                    <img class="img" src="${path.concat('/material/goods_img/2.jpg')}"/>
                </a>
            </li>
            <li>
                <a class="logo" href="${path.concat('/material/goods_img/3_b.jpg')}">
                    <img class="img" src="${path.concat('/material/goods_img/3.jpg')}"/>
                </a>
            </li>
            <li>
                <a class="logo" href="${path.concat('/material/goods_img/4_b.jpg')}">
                    <img class="img" src="${path.concat('/material/goods_img/4.jpg')}"/>
                </a>
            </li>
        </ul>
    </div>
</div>