<div class="unslider_div">
    <div class="fading-slider">
        <ul class="logo">
            #foreach($thumbnail in ${goods.thumbnails})
            <li>
                ##<a class="logo" href="${thumbnail.path}">
                    <img class="img" src="${thumbnail.path}"/>
                ##</a>
            </li>
            #end
        </ul>
    </div>
</div>