<div class="notice"></div>
<script>
    $(function () {
        var notice_url = "${path.concat('/notice/list')}";
        $.get(notice_url, function (result) {
            if (result.responseCode == "RESPONSE_OK") {
                var data = eval(result.data);
                for (var i = 0; i < data.length; i++) {
                    var item = $("<a></a>");
                    item.attr("href", data[i].link);
                    item.text(data[i].content);
                    $(".notice").append(item);
                }
                $('.notice').liMarquee({
                    scrollDelay: 10,
                    circular: false
                });
            }
        });
    });
</script>