<script>
    $(document).ready(function () {
        //获取活动id
        var eventUrl = "${path.concat('/event/promotion/current')}";
        $.get(eventUrl, function (result) {
            if (result.responseCode == "RESPONSE_OK") {
                var eventId = result.data.eventId;
                $(".num_btn").on("click", function () {
                    var url = "${path.concat('/event/promotion/')}" + eventId + "/config/${goods.goodsId}";
                    $.get(url, function (result) {
                        if (result.responseCode == "RESPONSE_OK") {
                            var criterion = result.data[0].criterion;
                            var full = result.data[0].full;
                            var give = result.data[0].give;
                            var num = $("#goods_num").val();
                            if (num >= criterion) {
                                $("#purchase").text("买" + num + "赠" + num / (full * give));
                            } else {
                                $("#purchase").text("立即购买");
                            }
                        }
                    });
                });
            }
        });
    });
</script>