<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="finance-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 平台订货单 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#finance-management">报表下载</a></li>
                <li class="active">订货单</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                #parse("/backend/finance/component/datetime_picker.vm")
            </div>
        </div>
    </div>
</div>
<script>
    var tempFileName;
    var fileName;
    var date = new Date();
    var today = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
    #if(${start})
    var startDate="${start}";
    #else
    var startDate="2016-01-01";
    #end
    $('#date_start').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        startDate: startDate
    }).on('show', function (e) {
        if ($('#dtp_end').val()) {
            $('#date_start').datetimepicker('setEndDate', $('#dtp_end').val());
        } else {
            $('#date_start').datetimepicker('setEndDate', today);
        }

    });

    $('#date_end').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        endDate: today
    }).on('show', function (e) {
        if ($('#dtp_start').val()) {
            $('#date_end').datetimepicker('setStartDate', $('#dtp_start').val());
        } else {
            $('#date_end').datetimepicker('setStartDate', startDate);
        }
    });

    $('#consult').click(function () {
        var startTime = $('#dtp_start').val();
        var endTime = $('#dtp_end').val()
        if (startTime && endTime) {
            $('#download_modal').modal('show');
            var url = '${path.concat('/indent/overview')}';
            var param = {
                start: startTime,
                end: endTime
            };
            $.post(url, param, function (result) {
                if (result.responseCode != "RESPONSE_OK") {
                    $('.download_loading').hide();
                    $('.download_success').hide();
                    $('.download_failed').show();
                } else {
                    tempFileName = result.data;
                    fileName = startTime + "_" + endTime;
                    $('.download_loading').hide();
                    $('.download_failed').hide();
                    $('.download_success').show();

                }

            });
        } else {
            alert("开始时间与结束时间均不能为空！");
        }
    });

    $('#download').click(function () {
        var url = "${path.concat('/indent/download/')}" + fileName + "/" + tempFileName;
        window.location.href = url;
    });
</script>