<div class="ui stackable padded grid">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">
            当月预期返现
                <div class="sub header">
                        <div class="ui breadcrumb">
                            <a class="section">返现管理</a>

                            <div class="divider">/</div>

                            <a class="active section">当月预期返现</a>
                        </div>
                 </div>
            </div>
          </h1>
    </div>
    #if(${total})
    <div class="row">
         本月预期返现总额：${total}元&nbsp;
         <a type="button" id="produce" class="btn btn-primary btn-success" href="${path.concat('/cashback/produce')}">本月返现报表下载</a>
    </div>
    <br>
    #end
    <div class="row">
            <table id="refund_record_month_table" class="ui striped table" cellspacing="0"
                   width="100%">
            </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#refund_record_month_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": true,
            "bLengthChange": true,
            "bAutoWidth": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/cashback/month')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
                return nRow;
            },
            "fnInitComplete": function () {
                $("#config_overview_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "代理商", "mData": "agent.name"},
                {title: "月份", "mData": "month"},
                {title: "返现金额(元)", "mData": "amount"},
                {
                    title: "明细(自销/直接/间接)", "mRender": function (data, type, full) {
                    var detail = full.self + "/" + full.direct + "/" + full.indirect;
                    return detail;
                }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                    var operation = "";
                    var url = "${path.concat('/cashback')}" + "/" + full.agent.agentId + "/month"
                    var detail_btn = "<a type='button' class='btn btn-primary btn-success' href='" + url + "'>详情</a>&nbsp;"
                    operation += detail_btn;
                    return operation;
                }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "暂无需要处理的预期返现",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
    });
    
</script>