.prov,.city,.dist{
	color:#000040;
	height:2em;
	padding-right:1.1em;
	font-size:0.7em;
    border: solid 0.0625em #c0c0c0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../../images/arrow.png") no-repeat scroll right center transparent;
    select::-ms-expand { display: none; }
}

.prov,.city{
	margin-right:0.3em;
}

.dist{
	margin-right:0;
}