<div style="display: none;" id="add_order_item">
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" id="customer">
            <div class="weui_cell_bd weui_cell_primary">
                <p>客户姓名</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" id="phone">
            <div class="weui_cell_bd weui_cell_primary">
                <p>手机号</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" id="goods">
            <div class="weui_cell_bd weui_cell_primary">
                <p>商品名称</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" id="quantity">
            <div class="weui_cell_hd">
                <p>数量:&nbsp</p>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
            	<input class="weui_input" id="goods_quantity" type="number" pattern="[0-9]*" placeholder="请输入数量" value="1">
            </div>
        </a>

        <div id="price" class="weui_cell weui_cells_tips clear-margin-top">
            金额:元
        </div>
    </div>
    <div class="weui_btn_area">
        <button type="button" class="weui_btn weui_btn_primary" id="add_confirm_btn">确认添加</button>
        <button type="button" class="weui_btn weui_btn_default" id="add_cancel_btn">取消</button>
    </div>
    <div class="weui_dialog_alert" id="dialog" style="display: none;">
	    <div class="weui_mask"></div>
	    <div class="weui_dialog">
	        <div class="weui_dialog_hd"><strong class="weui_dialog_title">消息</strong></div>
	        <div class="weui_dialog_bd"></div>
	        <div class="weui_dialog_ft">
	            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
	        </div>
	    </div>
	</div>
</div>
#parse("/agent/component/customer_list.vm")
#parse("/agent/component/good_list.vm")
#parse("/agent/component/navigate.vm")
<script>
    
    $("#add_confirm_btn").click(function () {
    	if(!$.check()){
    		return;
    	}
        $("#add_order_item").hide();
        var place_order_item = 
        	"<div class='weui_cells weui_cells_access'>" +
        	"<a class='weui_cell'>" + 
	       	"<div class='weui_cell_bd weui_cell_primary'>" +
	        "<p>客户姓名</p>" + 
	        "</div>" +
	        "<div class='weui_cell_ft'>" + customer_name + "</div>" +
	    	"</a>" +
	        "<a class='weui_cell'>" + 
	        "<div class='weui_cell_bd weui_cell_primary'>" + 
	        "<p>商品名称</p>" + 
	        "</div>" +
	        "<div class='weui_cell_ft'>" + goods_name + "</div>" + 
	    	"</a>" +
	    	"<a class='weui_cell'>" + 
	        "<div class='weui_cell_bd weui_cell_primary'>" + 
	        "<p>数量</p>" + 
	        "</div>" + 
	        "<div class='weui_cell_ft'>" + $("#goods_quantity").val() + "</div>" + 
	        "</a>" +
	    	"<div class='weui_cell weui_cells_tips clear-margin-top'>" + 
	        "金额:" + goods_price * $("#goods_quantity").val() + "元" + 
	    	"</div>" + 
	    	"<input class='goods_quantity' type='hidden' name='goodsQuantity' value='" + $("#goods_quantity").val() + "'/>" + 
	    	"<input class='goods_id' type='hidden' name='goodsId' value='" + goods_id + "'/>" + 
	    	"<input class='order_item_price' type='hidden' name='orderItemPrice' value='" + goods_price + "'/>" + 
	    	"<input type='hidden' name='customerId' value='" + customer_id + "'/>" + 
			"</div>";
        $("#order_item_list").append(place_order_item);
        var order_info_list = new Object();
        var order_item_list = $("#order_item_list").children();
 		
 		//计算总价
        $.each(order_item_list, function(i, val){
        	var name = $(val).children().eq(1).find(".weui_cell_ft").text();
        	var quantity = $(val).children().eq(2).find(".weui_cell_ft").text();
        	var price = $(val).children().eq(6).val();
        	if(order_info_list[name] == undefined) {
        		order_info_list[name] = new Object();
        		order_info_list[name]['quantity'] = parseInt(quantity);
        		order_info_list[name]['order_item_price'] = parseFloat(price) * quantity ;
        	} else {
        		order_info_list[name]['quantity'] += parseInt(quantity);
        		order_info_list[name]['order_item_price'] += parseInt(price) * quantity;
        	}
        });
        $("#total_goods").empty();
        var total_price = 0;
        for(var order_info in order_info_list) {
        	total_price += order_info_list[order_info]['order_item_price'];
        	$("#total_goods").append("<p class='weui_media_text'>" 
        		+ order_info + ": " + order_info_list[order_info]['quantity'] +
 				"件, 共" + order_info_list[order_info]['order_item_price'] + "元</p>")
        }
        $("#total_goods").append(" <p class='weui_media_text'>共计" + total_price + "元</p>")
        $("#place_order_panel").fadeIn();  
    });

    $("#add_cancel_btn").click(function () {
        $("#add_order_item").hide();
        $("#place_order_panel").fadeIn();
    });
    
    $("#customer").click(function(){
    	$("#add_order_item").hide();
    	$("#customer_option").fadeIn();
    });
    
    $("#goods").click(function(){
    	$("#add_order_item").hide();
    	$("#goods_option").fadeIn();
    });
    
    $.check = function(){
    	if(typeof customer_name == undefined) {
    		return false;
    	}
    	if(typeof goods_name == undefined) {
    		return false;
    	}
    	if(!$("#goods_quantity").val().isNaN() || $("#goods_quantity").val() <= 0) {
    		return false;
    	}
    	return true;
    }
</script>
