<div style="display: none;" id="add_order_item">
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" id="customer">
            <div class="weui_cell_bd weui_cell_primary">
                <p>客户姓名</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" id="phone">
            <div class="weui_cell_bd weui_cell_primary">
                <p>手机号</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" id="goods">
            <div class="weui_cell_bd weui_cell_primary">
                <p>商品名称</p>
            </div>
            <div class="weui_cell_ft"></div>
        </a>
        <a class="weui_cell" id="quantity">
            <div class="weui_cell_hd">
                <p>数量:&nbsp</p>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
            	<input class="weui_input" id="goods_quantity" type="tel" pattern="[0-9]*" placeholder="请输入数量" value="1">
            </div>
        </a>

        <div id="price" class="weui_cell weui_cells_tips clear-margin-top">
            金额:元
        </div>
    </div>
    <div class="weui_btn_area">
        <button type="button" class="weui_btn weui_btn_primary" id="add_confirm_btn">确认添加</button>
        <button type="button" class="weui_btn weui_btn_default" id="add_cancel_btn">取消</button>
    </div>
</div>
#parse("/agent/component/customer_list.vm")
#parse("/agent/component/good_list.vm")
#parse("/agent/component/num.vm")
#parse("/agent/component/navigate.vm")
<div class="weui_dialog_alert" id="dialog" style="display: none;">
	    <div class="weui_mask"></div>
	    <div class="weui_dialog">
	        <div class="weui_dialog_hd"><strong class="weui_dialog_title">消息</strong></div>
	        <div class="weui_dialog_bd"></div>
	        <div class="weui_dialog_ft">
	            <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
	        </div>
	    </div>
</div>
<script>
    $("#add_confirm_btn").click(function () {
    	if(!$.check()){
    		return;
    	}
    	
    	//添加一栏
        $("#add_order_item").hide();
        var place_order_item = 
        	"<div class='weui_cells weui_cells_access'> \
        		<div class='weui_cell order_item_head'> \
        			<div class='weui_cell_bd weui_cell_primary'>" + customer_name + "</div> \
        			<div class='weui_cell_ft'><span>" + goods_name + "</span>&nbsp;x<span>" + $("#goods_quantity").val() + "</span></div> \
        		</div> \
        		<div class='order_item_body' style='display:none;'> \
		        	<a class='weui_cell'> \
				       	<div class='weui_cell_bd weui_cell_primary'> \
				        <p>客户信息</p> \
				        </div> \
				        <div class='weui_cell_ft'><span>" + customer_name + "</span>(<span>" + customer_phone + "</span>)</div> \
			    	</a> \
			    	<a class='weui_cell'> \
				       	<div class='weui_cell_bd weui_cell_primary'> \
				        <p>收货地址</p> \
				        </div> \
				        <div class='weui_cell_ft address'>" + customer_address + "</div> \
			    	</a> \
			        <a class='weui_cell'> \
				        <div class='weui_cell_bd weui_cell_primary'> \
				        <p>商品名称</p> \
			    	    </div> \
			        	<div class='weui_cell_ft'>" + goods_name + "</div> \
			    	</a> \
			    	<a class='weui_cell'> \
				        <div class='weui_cell_bd weui_cell_primary quantity'> \
				        <p>数量</p> \
				        </div> \
				        <div class='weui_cell_ft quantity'>" + $("#goods_quantity").val() + "</div> \
			        </a> \
			    	<div class='weui_cell weui_cells_tips clear-margin-top'> \
			     	金额:" + goods_price * $("#goods_quantity").val() + "元 \
			    	</div> \
			    	<div class='weui_cells_tips delete'>删除</div> \
			    	<input class='goods_quantity' type='hidden' name='goodsQuantity' value='" + $("#goods_quantity").val() + "'/> \
			    	<input class='goods_id' type='hidden' name='goodsId' value='" + goods_id + "'/> \
			    	<input class='order_item_price' type='hidden' name='orderItemPrice' value='" + goods_price + "'/> \
			    	<input class='customer_id' type='hidden' name='customerId' value='" + customer_id + "'/> \
			    	<input class='order_item_id' type='hidden' name='orderItemId' value='0'/> \
		    	</div> \
			</div>";
        $("#order_item_list").prepend(place_order_item);
        //添加修改事件
        var order_item_list = $("#order_item_list").children();
        //添加窗口滑动事件
        $(order_item_list).eq(0).children(".order_item_head").on("click",function(){
        	$(order_item_list).eq(0).children(".order_item_body").slideToggle();
        });
         
        //客户修改事件
    	$(order_item_list).eq(0).children(".order_item_body").children().eq(0).on("click", function(){
    		isAdd = false;
    		current_modify_dom = this;
    		customer_id = $(this).parent(".order_item_body").find(".customer_id").val();
    		customer_name = $(this).find(".weui_cell_ft span").eq(0).html();
    		customer_phone = $(this).find(".weui_cell_ft span").eq(1).html();
    		$.init_customer_list();
    		$("#place_order_panel").hide();
    		$("#customer_option").fadeIn();
    	});
    	//商品修改事件
    	$(order_item_list).eq(0).children(".order_item_body").children().eq(2).on("click", function(){
    		isAdd = false;
    		current_modify_dom = this;
    		goods_id = $(this).parent(".order_item_body").find(".goods_id").val();
    		goods_name = $(this).find(".weui_cell_ft").html();
			goods_price = parseFloat($(this).parent(".order_item_body").find(".order_item_price").val());
			$.init_goods_list();
    		$("#place_order_panel").hide();
    		$("#goods_option").fadeIn();
    	});
    	//数量修改事件
    	$(order_item_list).eq(0).children(".order_item_body").children().eq(3).on("click",function(){
    		current_modify_dom = this;
    		goods_id = $(this).parent(".order_item_body").find(".goods_id").val();
    		goods_name = $(this).find(".weui_cell_ft").html();
			goods_price = parseFloat($(this).parent(".order_item_body").find(".order_item_price").val());
			var goods_quantity = $(this).find(".weui_cell_ft").html();
    		$("#quantity_modify").find(".weui_input").val(goods_quantity);
    		$("#place_order_panel").hide();
    		$("#quantity_modify").fadeIn();
    	});
        
        //添加删除事件
        $(order_item_list).eq(0).find(".weui_cells_tips.delete").on("click",function(){
    		$(this).closest(".weui_cells.weui_cells_access").remove();
    		$.calculate();
        });
        
        //将地址数据存入dom节点中,并添加显示函数，必须放在地址字符串截取前
        var address_cell = $(order_item_list).eq(0).find(".address").parent(".weui_cell");
		address_cell.data("address", address_cell.find(".address").html());
		address_cell.bind("click",$.showAddress);
		
        //地址字符串截取长度
        $.addressBeautify();
        
        //计算总价
        $.calculate();
        
        //切换页面
        $("#add_order_item").hide();
        $("#place_order_panel").fadeIn();  
        
        //重置本页面
        $("#customer").find(".weui_cell_bd.weui_cell_primary").html("客户姓名");
        $("#phone").find(".weui_cell_bd.weui_cell_primary").html("手机号");
        customer_name = "";
    });

    $("#add_cancel_btn").click(function () {
        $("#add_order_item").hide();
        $("#place_order_panel").fadeIn();
    });
    $("#customer").click(function(){
    	$.init_customer_list();
    	$("#add_order_item").hide();
    	$("#customer_option").fadeIn();
    });
    
    $("#goods").click(function(){
    	$.init_goods_list();
    	$("#add_order_item").hide();
    	$("#goods_option").fadeIn();
    });
    $.check = function(){
    	if(typeof customer_name == "undefined" || customer_name == "" || typeof customer_id == "undefined") {
    		$("#dialog").find(".weui_dialog_bd").html("没有选择客户");
    		$("#dialog").fadeIn();
    		return false;
    	}
    	if(typeof goods_name == "undefined" || customer_name == "" || typeof goods_id == "undefined") {
    		$("#dialog").find(".weui_dialog_bd").html("没有选择商品");
    		$("#dialog").fadeIn();
    		return false;
    	}
    	var reNum =/^[0-9]*$/;
      	if(!reNum.test($("#goods_quantity").val()) || $("#goods_quantity").val() == ""){
    		$("#dialog").find(".weui_dialog_bd").html("数量格式不正确");
    		$("#dialog").fadeIn();
    		return false;
    	}
    	return true;
    }
    
    $("#dialog").find(".weui_btn_dialog.primary").click(function(){
    	$("#dialog").hide();
    });
</script>
