<form id="pay_form">
<div class="hd">
    <h1 class="page_title">订单付款</h1>
</div>
<div class="weui_panel">
	<div class="weui_cells_title" id="orderId"></div>
    <div class="weui_panel_bd">
        <div id="total_goods" class="weui_media_box">
            总计:
            <p class="weui_media_text">共计0元</p>
        </div>
    </div>
</div>
<div class="bd">
    #parse("/agent/account/rebate.vm")
</div>
<button type="button" class="weui_btn weui_btn_plain_primary" id="coffer_pay">账户余额付款</a>
<button type="button" class="weui_btn weui_btn_primary" id="other_pay">其他支付方式</a>
<input type="hidden" name="orderId" id="orderIdForm" value="">
</form>
<script type="text/javascript" src="${path.concat('/plugins/pingxx/pingpp_one.js')}"></script>
<script>
	agent_coffer = parseFloat(${agent.coffer});
	total_price = 0.0;
	order_id = "";
	$(document).ready(function(){
		var order = eval('('+'${order}'+')');
		order_id = order.orderId;
		//显示订单号
		$("#orderId").html("订单号：" + order.orderId);
		$("#orderIdForm").val(order.orderId);
		//显示订单各项金额
		var order_info_list = new Object();
		$.each(order.orderItems, function(i, val){
			var name = val.goods.name;
			var quantity = parseInt(val.goodsQuantity);
			var price = parseFloat(val.orderItemPrice);
			if(order_info_list[name] == undefined){
				order_info_list[name] = new Object();
				order_info_list[name]['quantity'] = quantity;
				order_info_list[name]['order_item_price'] = price;
			} else {
				order_info_list[name]['quantity'] += quantity;
				order_info_list[name]['order_item_price'] += price;
			}
		});
		$("#total_goods").empty();
        for(var order_info in order_info_list) {
        	total_price += order_info_list[order_info]['order_item_price'];
        	$("#total_goods").append("<p class='weui_media_text'>" 
        		+ order_info + ": " + order_info_list[order_info]['quantity'] +
 				"件, 共" + order_info_list[order_info]['order_item_price'] + "元</p>")
        }
        $("#total_goods").append(" <p class='weui_media_text'>共计" + total_price + "元</p>");
        
        //判断账户余额是否充足
        $.cofferCheck();
	});
	
	$("#coffer_pay").click(function(){
		$("#pay_form").attr("action", "${path.concat('/order/cofferpay')}");
    	$("#pay_form").attr("method","post");
    	$("#pay_form").submit();
	});
	
	$.cofferCheck = function(){
		if(total_price > agent_coffer){
			$.inactive();
		} else {
			$.active();
		}
	}
	
	$.active = function(){
        $("#coffer_pay").removeAttr("disabled");
        $("#coffer_pay").removeClass("weui_btn_disabled");
        $("#coffer_pay").removeClass("weui_btn_default");
        $("#coffer_pay").addClass("weui_btn_primary");
    	$("#coffer_pay").html("账户余额付款");
    }

    $.inactive = function(){
        $("#coffer_pay").attr("disabled", "disabled");
        $("#coffer_pay").removeClass("weui_btn_primary");
        $("#coffer_pay").addClass("weui_btn_default");
        $("#coffer_pay").addClass("weui_btn_disabled");
        $("#coffer_pay").html("账户余额不足");
    }
    document.addEventListener('pingpp_one_ready', function () {
	    $("#other_pay").click(function(){
	        pingpp_one.init({
	            app_id: "app_DazjbTLybjHGbv9O",
	            amount: total_price,
	            channel: ['alipay_wap', 'wx_pub'],
	            charge_url: "${path.concat('/order/otherpay')}",
	            charge_param: {order_id: order_id},
	            open_id: 'wxf2c47b5e41605c26',
	            debug: false
	        }, function (result) {
	            //debug 模式下获取 charge_url 的返回结果
	            if (result.debug && result.chargeUrlOutput) {
	                console.log(result.chargeUrlOutput);
	            }
	            if (!result.status) {
	                //处理错误
	                alert(result.msg);
	            }
	            else {
	                //debug 模式下调用 charge_url 后会暂停，可以调用 pingpp_one.resume 方法继续执行
	                if (result.debug && !result.wxSuccess) {
	                    if (confirm('当前为 debug 模式，是否继续支付？')) {
	                        pingpp_one.resume();
	                    }
	                }
	                //若微信公众号渠道需要使用壹收款的支付成功页面，则在这里进行成功回调，
	                //调用 pingpp_one.success 方法，你也可以自己定义回调函数
	                //其他渠道的处理方法请见第 2 节
	                else pingpp_one.success(function (result) {
	                    if (!result.status) {
	                        alert(result.msg);
	                    }
	                }, function () {
	                    //这里处理支付成功页面点击“继续购物”按钮触发的方法，
	                    //例如：若你需要点击“继续购物”按钮跳转到你的购买页，
	                    //则在该方法内写入 window.location.href = "你的购买页面 url"
	                    window.location.href = 'http://yourdomain.com/payment_succeeded';//示例
	                });
	            }
	        });
	    });
    });
</script>