<form id="pay_form">
<div class="hd">
    <h1 class="page_title">订单付款</h1>
</div>
<div class="weui_panel">
	<div class="weui_cells_title" id="orderId"></div>
    <div class="weui_panel_bd">
        <div id="total_goods" class="weui_media_box">
            总计:
            <p class="weui_media_text">共计0元</p>
        </div>
    </div>
</div>
<div class="bd">
    #parse("/agent/account/rebate.vm")
</div>
<button type="button" class="weui_btn weui_btn_plain_primary" id="coffer_pay">账户余额付款</button>
<button type="button" class="weui_btn weui_btn_primary" id="other_pay">其他支付方式</button>
<input type="hidden" name="orderId" id="orderIdForm" value="">
</form>
<div class="weui_dialog_confirm" id="coffer_pay_dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">账户余额付款</strong></div>
        <div class="weui_dialog_bd"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">暂不付款</a>
        	<a href="javascript:;" class="weui_btn_dialog primary">立即支付</a>
        </div>
    </div>
</div>
<div class="weui_dialog_confirm" id="bind_dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">您还没有绑定微信</strong></div>
        <div class="weui_dialog_bd" style="text-align:center;">微信支付</div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">返回</a>
        	<a href="javascript:;" class="weui_btn_dialog primary">绑定</a>
        </div>
    </div>
</div>
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">加载中</p>
    </div>
</div>
<script>
	agent_coffer = parseFloat(${agent.coffer});
	total_price = 0.0;
	order_id = "";
	$(document).ready(function(){
		var order = eval('('+'${order}'+')');
		order_id = order.orderId;
		//显示订单号
		$("#orderId").html("订单号：" + order.orderId);
		$("#orderIdForm").val(order.orderId);
		//显示订单各项金额
		var order_info_list = new Object();
		$.each(order.orderItems, function(i, val){
			var name = val.goods.name;
			var quantity = parseInt(val.goodsQuantity);
			var price = parseFloat(val.orderItemPrice);
			if(order_info_list[name] == undefined){
				order_info_list[name] = new Object();
				order_info_list[name]['quantity'] = quantity;
				order_info_list[name]['order_item_price'] = price;
			} else {
				order_info_list[name]['quantity'] += quantity;
				order_info_list[name]['order_item_price'] += price;
			}
		});
		$("#total_goods").empty();
        for(var order_info in order_info_list) {
        	total_price += order_info_list[order_info]['order_item_price'];
        	$("#total_goods").append("<p class='weui_media_text'>" 
        		+ order_info + ": " + order_info_list[order_info]['quantity'] +
 				"件, 共" + order_info_list[order_info]['order_item_price'] + "元</p>")
        }
        $("#total_goods").append(" <p class='weui_media_text'>共计" + total_price + "元</p>");
        
        //判断账户余额是否充足
        $.cofferCheck();
	});
	
	$("#coffer_pay").click(function(){
		$("#coffer_pay_dialog").fadeIn();
	});
	
	$.cofferCheck = function(){
		if(total_price > agent_coffer){
			$.inactive();
		} else {
			$.active();
		}
	}
	
	$.active = function(){
        $("#coffer_pay").removeAttr("disabled");
        $("#coffer_pay").removeClass("weui_btn_disabled");
        $("#coffer_pay").removeClass("weui_btn_default");
        $("#coffer_pay").addClass("weui_btn_primary");
    	$("#coffer_pay").html("账户余额付款");
    }

    $.inactive = function(){
        $("#coffer_pay").attr("disabled", "disabled");
        $("#coffer_pay").removeClass("weui_btn_primary");
        $("#coffer_pay").addClass("weui_btn_default");
        $("#coffer_pay").addClass("weui_btn_disabled");
        $("#coffer_pay").html("账户余额不足");
    }
    
    $("#coffer_pay_dialog").find(".weui_btn_dialog.default").click(function(){
    	$("#coffer_pay_dialog").hide();
    });
    
    $("#coffer_pay_dialog").find(".weui_btn_dialog.primary").click(function(){
    	$("#pay_form").attr("action", "${path.concat('/order/cofferpay')}");
    	$("#pay_form").attr("method","post");
    	$("#pay_form").submit();
    });
    
    $("#bind_dialog").find(".weui_btn_dialog.default").click(function(){
    	$("#bind_dialog").hide();
    });
    
    $("#bind_dialog").find(".weui_btn_dialog.primary").click(function(){
    	$("#bind_dialog").hide();
    	$("#loadingToast").show();
    	window.location = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx67fcdc4fa58f7578&redirect_uri=http%3a%2f%2fwww.yuncaogangmu.com%2fagent%2fbind&response_type=code&scope=snsapi_base&state=view#wechat_redirect";
    });
    
    function is_weixin() {
        var ua = navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            return true;
        } else {
            return false;
        }
    }
</script>