<div class="tabbar">
<div class="weui_tab_bd">
<div class="hd">
    <h1 class="page_title">订单管理</h1>
    <p id="refund_condition" class="page_desc">更多关于订单的操作</p>
</div>
<div class="bd">
    <div class="weui_btn_area clear-margin-top">
        <a id="not_pay_btn" class="weui_btn weui_btn_plain_primary" style="width:49%;display:inline-block;">未付款</a>
        <a id="payed_btn" class="weui_btn weui_btn_plain_primary" style="width:49%;display:inline-block;">已付款</a>
    </div>
    <div class="weui_tab" id="order_not_pay" style="display:none;">
        <div class="weui_navbar">
            <div class="weui_navbar_item" id="saved">
                已保存           
            </div>
            <div class="weui_navbar_item" id="submitted">
                待付款
            </div>
        </div>
        <div class="weui_tab_bd" >
            <div id="order_list_not_pay" class="weui_cells weui_cells_access clear-margin-top">
            </div>
        </div>
    </div>
    <div class="weui_tab" id="order_payed">
        <div class="weui_navbar">
            <div class="weui_navbar_item" id="paid">
                未发货
            </div>
            <div class="weui_navbar_item" id="shipped">
                已发货
            </div>
            <div class="weui_navbar_item" id="closed">
                已结束
            </div>
        </div>
        <div class="weui_tab_bd" id="scroller">
            <div id="order_list_payed" class="weui_cells weui_cells_access clear-margin-top">
            </div>
        </div>
    </div>
</div>
#parse("/agent/loading.vm")
</div>
#parse("/agent/component/navigate.vm")
</div>
<script>
	$(document).ready(function(){
		var url = "${path.concat('/refund/calculateRefund')}";
		$.get(url, function(result){
			console.debug(result);
			if(result.responseCode != "RESPONSE_OK"){
				return;
			}
			var data = result.data;
			var config = data[0];
			if($.isEmptyObject(config)){
				return;
			}
			var num = 0;
			for(var i = 0; i < data.length; i++){
				num += data[i]['quantity'];
			} 
			$("#refund_condition").html("社群奖励进度： " + num + "件");		
		});
		
		//判断是否需要动态下拉加载
		isScroll = false;
		type = ${type};
		$.get_order(${type});
		switch(type){
		case 0:
			$("#saved").css("font-weight","bold");
            $("#saved").addClass("weui_bar_item_on");
            break;
        case 1:
        	$("#submitted").css("font-weight","bold");
            $("#submitted").addClass("weui_bar_item_on");
            break;
		case 2:
			$("#paid").css("font-weight","bold");
            $("#paid").addClass("weui_bar_item_on");
            break;
		case 3:
			$("#shipped").css("font-weight","bold");
            $("#shipped").addClass("weui_bar_item_on");
            break;
		case 4:
			$("#closed").css("font-weight","bold");
            $("#closed").addClass("weui_bar_item_on");
            break;
		default:
		}
	});

    $(".weui_navbar_item").click(function () {
        var current = $(".weui_navbar").find(".weui_bar_item_on");
        var current_id = current.attr("id");
        var target_id = $(this).attr("id");
        if (current_id != target_id) {
            current.removeClass("weui_bar_item_on");
            current.css("font-weight","normal");
            if(target_id == "saved"){
            	type = 0;
            	$.get_order();
            } else if (target_id == "submitted") {
            	type = 1;
				$.get_order();
            } else if (target_id == "paid") {
            	type = 2;
				$.get_order();
            } else if (target_id == "shipped") {
            	type = 3;
				$.get_order();
            } else if (target_id == "closed") {
            	type = 4;
				$.get_order();
            }
            $(this).css("font-weight","bold");
            $(this).addClass("weui_bar_item_on")
        }
    });
    
    $("#scroller").scroll(function(){
    	viewH = $(this).height();
    	contentH = $(this).get(0).scrollHeight;
    	scrollTop = $(this).scrollTop();
    	bottomTop = $("#bottom_tabbar").height();
    	if(contentH - viewH - scrollTop - bottomTop < 10){
    		console.debug("I reach bottom");
    		if(isScroll){
    			offset += limit;
    			$.get_order_payed();
    			return true;
    		}
    	}
    	return false;
    });
    
    
    //异步获取订单
    $.get_order = function(){
    	if(type == 0 || type == 1){
    		isScroll = false;
    		$("#order_payed").hide();
    		$("#order_not_pay").show();
    		$("#loadingToast").show();
    		$("#order_list_not_pay").empty();
    		$.get_order_not_pay();
    	}else{
    		isScroll = true;
    		offset = 0;
    		limit = 10;
    		$("#order_not_pay").hide();
    		$("#order_payed").show();
    		$("#loadingToast").show();
    		$("#order_list_payed").empty();
    		$.get_order_payed();
    	}
    }
    
    $.get_order_not_pay = function(){
		var url = "${path.concat('/agent/order/listnotpay')}/" + type;
		$.getJSON(url, function(data){
    		if(data.description == "您需要重新登录"){
    			window.location="${path.concat('/agent/login')}"; 
    			return;
    		}
    		var list = data.data;
    		$.each(list, function(i, val){
    			var	timeString = (new Date(val.createAt)).format("yyyy MM dd");
    			var time = timeString.split(" ");
    			var html = 
    				"<a class='weui_cell' id='" + val.orderId+ "'>" + 
    				"<div class='weui_cell_hd'>" + 
    				"<i class='icon icon_article'></i>" + 
    				"</div>" + 
    				"<div class='weui_cell_bd weui_cell_primary'>" +
    				"<p>" + time[0] + "年" + parseInt(time[1]) + "月" + time[2] + "日<span style='color:#888;'></span></p>" +
    				"</div>" + 
    				"<div class='weui_cell_ft'>含" + val.orderItems.length + "个订单项</div>" + 
    				"</a>";
    			$("#order_list_not_pay").append(html);
    			$("#" + val.orderId).on("click", function(){
    				window.location =  "${path.concat('/agent/order/detail/" + val.orderId + "')}";
    			});
    		});
    		$("#loadingToast").hide();
    	});
    }
    
    $.get_order_payed = function(){
    	var url = "${path.concat('/agent/order/listpayed')}/" + type + "/" + offset + "/" + limit;
    	$.getJSON(url, function(data){
    		if(data.description == "您需要重新登录"){
    			window.location="${path.concat('/agent/login')}"; 
    			return;
    		}
    		var list = data.data;
    		if(list.length == 0){
    			isScroll = false;
    		}
    		$.each(list, function(i, val){
    			console.debug(val);
    			var typeString = "";
    			switch(val.orderType){
    			case "ORDINARY":
    				break;
    			case "GIFT":
    				typeString = "(赠送)";
    				break;
    			case "CUSTOMER":
    				typeString = "(分享)";
    				break;
    			default:
    			}
    			var	timeString = (new Date(val.createAt)).format("yyyy MM dd");
    			var time = timeString.split(" ");
    			var html = 
    				"<a class='weui_cell' id='" + val.orderId+ "'>" + 
    				"<div class='weui_cell_hd'>" + 
    				"<i class='icon icon_article'></i>" + 
    				"</div>" + 
    				"<div class='weui_cell_bd weui_cell_primary'>" +
    				"<p>" + time[0] + "年" + parseInt(time[1]) + "月" + time[2] + "日<span style='color:#888;'>" + typeString + "</span></p>" +
    				"</div>" + 
    				"<div class='weui_cell_ft'>" + val.customerName + "(" + val.goodsQuantity + "瓶)</div>" + 
    				"</a>";
    			$("#order_list_payed").append(html);
    			$("#" + val.orderId).on("click", function(){
    				window.location =  "${path.concat('/agent/orderitem/detail/" + val.orderId + "')}";
    			});
    		});
    		$("#loadingToast").hide();
    	});
    }
    
    $("#not_pay_btn").on("click", function(){
      	var current = $(".weui_navbar").find(".weui_bar_item_on");
        current.removeClass("weui_bar_item_on");
        current.css("font-weight","normal");
        $("#saved").css("font-weight","bold");
        $("#saved").addClass("weui_bar_item_on");
        type = 0;
        $.get_order();
    	$("#order_payed").hide();
    	$("#order_not_pay").show();
    });
    
    $("#payed_btn").on("click", function(){
    	var current = $(".weui_navbar").find(".weui_bar_item_on");
        current.removeClass("weui_bar_item_on");
        current.css("font-weight","normal");
        $("#paid").css("font-weight","bold");
        $("#paid").addClass("weui_bar_item_on");
        type = 2;
        $.get_order();
    	$("#order_not_pay").hide();
    	$("#order_payed").show();
    });
    
    Date.prototype.format = function (format) {
    var o = {
        "M+": this.getMonth() + 1,
        // month
        "d+": this.getDate(),
        // day
        "h+": this.getHours(),
        // hour
        "m+": this.getMinutes(),
        // minute
        "s+": this.getSeconds(),
        // second
        "q+": Math.floor((this.getMonth() + 3) / 3),
        // quarter
        "S": this.getMilliseconds()
        // millisecond
    };
    if (/(y+)/.test(format) || /(Y+)/.test(format)) {
        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }
    for (var k in o) {
        if (new RegExp("(" + k + ")").test(format)) {
            format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
        }
    }
    return format;
};
</script>