<div class="tabbar">
<div class="weui_tab_bd">
<div class="hd">
    <h1 class="page_title">订单管理</h1>

    <p class="page_desc">更多关于订单(创建,查询)的操作</p>
</div>
<div class="bd">
    <div class="weui_btn_area clear-margin-top">
        <a href="${path.concat('/agent/order/place')}" class="weui_btn weui_btn_plain_primary">新建订单</a>
    </div>
    <div class="weui_tab">
        <div class="weui_navbar">
            <div class="weui_navbar_item " id="saved">
                已保存 
            </div>
            <div class="weui_navbar_item" id="submit">
                未付款
            </div>
            <div class="weui_navbar_item" id="paid">
                已付款
            </div>
            <div class="weui_navbar_item" id="closed">
                已结束
            </div>
        </div>
        <div class="weui_tab_bd">
            <div id="order_list" class="weui_cells weui_cells_access clear-margin-top">
            </div>
        </div>
    </div>
</div>
#parse("/agent/loading.vm")
</div>
#parse("/agent/component/navigate.vm")
</div>
<script>
	$(document).ready(function(){
		$.get_order(${type});
		switch(${type}){
		case 0:
			$("#saved").css("font-weight","bold");
            $("#saved").addClass("weui_bar_item_on");
            break;
		case 1:
			$("#submit").css("font-weight","bold");
            $("#submit").addClass("weui_bar_item_on");
            break;
		case 2:
			$("#paid").css("font-weight","bold");
            $("#paid").addClass("weui_bar_item_on");
            break;
		case 3:
			$("#closed").css("font-weight","bold");
            $("#closed").addClass("weui_bar_item_on");
            break;
		default:
		}
	});

    $(".weui_navbar_item").click(function () {
        var current = $(".weui_navbar").find(".weui_bar_item_on");
        var current_id = current.attr("id");
        var target_id = $(this).attr("id");
        if (current_id != target_id) {
            current.removeClass("weui_bar_item_on");
            current.css("font-weight","normal");
            if (target_id == "saved") {
            	$.get_order(0);
            } else if (target_id == "submit") {
				$.get_order(1);
            } else if (target_id == "paid") {
				$.get_order(2);
            } else if (target_id == "closed") {
				$.get_order(3);
            }
            $(this).css("font-weight","bold");
            $(this).addClass("weui_bar_item_on")
        }
    });
    
    //异步获取已保存
    $.get_order = function(type){
    	$("#loadingToast").show();
    	$("#order_list").empty();
    	var url = "${path.concat('/agent/order/list')}/" + type;
    	$.getJSON(url, function(data){
    		if(data.description == "您需要重新登录"){
    			window.location="${path.concat('/agent/login')}"; 
    			return;
    		}
    		var list = data.data;
    		$.each(list, function(i, val){
    			var	timeString = (new Date(val.createAt)).format("yyyy MM dd");
    			var time = timeString.split(" ");
    			var html = 
    				"<a class='weui_cell' id='" + val.orderId + "'>" + 
    				"<div class='weui_cell_hd'>" + 
    				"<i class='icon icon_article'></i>" + 
    				"</div>" + 
    				"<div class='weui_cell_bd weui_cell_primary'>" +
    				"<p>" + time[0] + "年" + parseInt(time[1]) + "月" + time[2] + "日</p>" + 
    				"</div>" + 
    				"<div class='weui_cell_ft'>含" + val.orderItems.length + "个订单项</div>" + 
    				"</a>";
    			$("#order_list").append(html);
    			$("#" + val.orderId).on("click", function(){
    				window.location =  "${path.concat('/agent/order/detail/" + val.orderId + "')}";
    			});
    		});
    		$("#loadingToast").hide();
    	});
    }
        
    Date.prototype.format = function (format) {
    var o = {
        "M+": this.getMonth() + 1,
        // month
        "d+": this.getDate(),
        // day
        "h+": this.getHours(),
        // hour
        "m+": this.getMinutes(),
        // minute
        "s+": this.getSeconds(),
        // second
        "q+": Math.floor((this.getMonth() + 3) / 3),
        // quarter
        "S": this.getMilliseconds()
        // millisecond
    };
    if (/(y+)/.test(format) || /(Y+)/.test(format)) {
        format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    }
    for (var k in o) {
        if (new RegExp("(" + k + ")").test(format)) {
            format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
        }
    }
    return format;
};
</script>