#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>订单付款</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="tabbar">
        <div class="weui_tab_bd">
            <div id="order_pay">
                #parse("/agent/order/order_pay_form.vm")
            </div>
        </div>
        #parse("/agent/component/navigate.vm")
    </div>
</div>
</body>
<script>
    $("#fail_dialog").find(".weui_btn_dialog.primary").click(function () {
        $("#fail_dialog").hide();
    });
    
    $("#other_pay").click(function(){
    	#if(!$vouchersUsed)
    	if(typeof vouchers_id != "undefined" && vouchers_id != ""){
	    	var url = "${path.concat('/order/usevouchers/')}" + order_id + "/" + vouchers_id;
			$.getJSON(url, function(data){
				if(data.responseCode != "RESPONSE_OK"){
					window.location = "${path.concat('/payment/bill/')}" + order_id;
					return;
				}
	    		if(data.description == "您需要重新登录"){
	    			window.location="${path.concat('/agent/login')}"; 
	    			return;
	    		}
	    		window.location = "${path.concat('/payment/bill/')}" + order_id;
	    	});
    	} else {
    		window.location = "${path.concat('/payment/bill/')}" + order_id;
    	}
    	#else
    		window.location = "${path.concat('/payment/bill/')}" + order_id;
    	#end
    });

</script>
</html>
