#parse("/common/util.vm")
<html lang="zh_CN">
<head>
#parse("/agent/component/init.vm")
<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.provincesCity.js')}"></script>
<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.provincesData.js')}"></script>
<title>群员订单</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="tabbar">
        <div class="weui_tab_bd">
            <div class="order" id="order">
                   #parse("/agent/component/place_order_form.vm")
            </div>
        </div>
        #parse("/agent/component/navigate.vm")
    </div>
</div>
</body>
</html>
<script>
	$("#place_order").addClass("weui_bar_item_on");
</script>