#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>代客下单</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="tabbar">
        <div class="weui_tab_bd">
            <div class="order" id="order">
               #if(${agent.granted})
                   #parse("/agent/component/place_order_form.vm")
               #else
                  #parse("/agent/component/place_order_prompt.vm")
               #end
            </div>
        </div>
        #parse("/agent/component/navigate.vm")
    </div>
</div>
</body>
</html>
<script>
　  
    $("#place_order").addClass("weui_bar_item_on");
</script>