<div class="ui stackable padded grid" name="event_list">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">
                活动详情
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">活动管理</a>
                        <div class="divider">/</div>
                        <a class="active">活动列表</a>
                        <div class="divider">/</div>
                        <a class="active section">活动详情</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
       <a class="ui primary basic button" href="${path.concat('/event/application/')}${giftEvent.eventId}">申请列表</a>
       <a class="ui blue basic button" href="${path.concat('/event/present/')}${giftEvent.eventId}">赠送订单</a>
       #if(${giftEvent.blockFlag})
       <button class="ui positive basic button" id="informApplication">通知申请人</button>
       <button class="ui teal basic button" id="informAll">通知所有人</button>
       #end
    </div>
    <div class="sixteen wide column">
             #if(${giftEvent})
             <div class="ui segments">
                <div class="ui segments">
                 <div class="ui segment">
                     	<div class="inline field">
							<label>活动标题： </label>
							<text>${giftEvent.title}</text>
						</div>
                 </div>
                 <div class="ui segment">
                     	<div class="inline field">
							<label>活动链接： </label>
							<text>${giftEvent.nickname}</text>
						</div>
                 </div>
                 <div class="ui segment">
                     	<div class="inline field">
							<label>当前状态： </label>
							<text>
							      #if(${giftEvent.blockFlag})
                                    已结束
                                  #else
                                    正在进行
                                  #end
                            </text>
						</div>
                 </div>
               </div>
               #if(${giftEvent.questions})
                 #foreach( $eventQuestion in ${giftEvent.questions})
                 <div class="ui segments">
                     <div class="ui segment">
                         <label>问题： </label>
					     <text>$eventQuestion.content</text>
                     </div>
                     <div class="ui segment">
                         <label>答案选项： </label>
                         #foreach( $questionOption in $eventQuestion.options)
					     <text>$questionOption.value</text>&nbsp;&nbsp;&nbsp;&nbsp;
					     #end
                     </div>
                 </div>
                 #end
               #end
             </div>
             #end
    </div>
</div>
<div class="ui modal" id="inform_application_modal">
    <i class="close icon"></i>

    <div class="header">发送短信给赠送人</div>
    <div class="image content">
        <div class="description">
            点击确定之后就将发送短信给赠送人，是否确定？（注意不要重复发送）
        </div>
    </div>
    <div class="actions">
        <div class="ui cancer button" id="inform_application_cancel">取消</div>
        <div class="ui button" id="inform_application_confirm">确定</div>
    </div>
</div>
<div class="ui modal" id="inform_all_modal">
    <i class="close icon"></i>

    <div class="header">发送短信给赠送人和受赠人</div>
    <div class="image content">
        <div class="description">
            点击确定之后就将发送短信给赠送人和受赠人，是否确定？（注意不要重复发送）
        </div>
    </div>
    <div class="actions">
        <div class="ui cancer button" id="inform_all_cancel">取消</div>
        <div class="ui button" id="inform_all_confirm">确定</div>
    </div>
</div>
<div class="ui modal" id="dialog_modal">
    <i class="close icon"></i>

    <div class="header">提示</div>
    <div class="image content">
        <div class="description">
            发送短信成功！
        </div>
    </div>
    <div class="actions">
        <div class="ui cancer button" id="confirm">确认</div>
    </div>
</div>
<script>
$('#inform_application_modal').modal('hide');
$('#inform_all_modal').modal('hide');
$('#dialog_modal').modal('hide');
$("#informApplication").on('click', function () {
	$('#inform_application_modal').modal('show');
});
$("#informAll").on('click', function () {
	$('#inform_all_modal').modal('show');
});
$("#inform_application_confirm").on('click', function () {
	$.post("${path.concat('/event/sendMessage/')}${giftEvent.eventId}",function(result){
		if(result.responseCode=='RESPONSE_OK'){
			$('#inform_application_modal').modal('hide');
			$('#dialog_modal').modal('show');
		}else{
			alert("发送失败！");
		}
	});
});
$("#inform_all_confirm").on('click', function () {
	$.post("${path.concat('/event/sendMessageAll/')}${giftEvent.eventId}",function(result){
		if(result.responseCode=='RESPONSE_OK'){
			$('#inform_all_modal').modal('hide');
			$('#dialog_modal').modal('show');
		}else{
			alert("发送失败！");
		}
	});
});
$("#inform_application_cancel").on('click', function () {
	$('#inform_application_modal').modal('hide');
});
$("#inform_all_cancel").on('click', function () {
	$('#inform_all_modal').modal('hide');
});
$("#confirm").on('click', function () {
	$('#dialog_modal').modal('hide');
});
</script>