<div class="ui stackable padded grid" name="event_list">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">
                活动列表
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">活动管理</a>
                        <div class="divider">/</div>
                        <a class="active section">活动列表</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
        <button type="button" class="ui positive basic button" id="create">发布活动</button> 
    </div>
    <div class="row">
            <table id="event_overview_table" class="ui tablet stackable table" cellspacing="0" width="100%">
            </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#event_overview_table").DataTable({
            searching: false,
            ordering: false,
            paging: true,
            "sPaginationType": "full_numbers",
            "bPaginate": true,
            "bLengthChange": true,
            "bAutoWidth": true,
            "bSort": false,
            "bDeferRender": true,
            "bProcessing": true,
            "bServerSide": true,
            "bInfoFiltered": false,
            "sAjaxSource": '${path.concat('/event/overview')}',
            "infoFiltered": false,
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).removeClass('dataTable');
                $(nRow).css("text-align", "left");
            },
            "fnInitComplete": function () {
                $("#overview_agent_table").removeClass('no-footer');
            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": "json",
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                })
            },
            columns: [
                {title: "活动标题", "mData": "title"},
                {
                    title: "开始时间", "mRender": function (data, type, full) {
                    return ((new Date(full.start)).format("yyyy/MM/dd hh:mm"));
                }
                },
                {
                    title: "结束时间", "mRender": function (data, type, full) {
                    return ((new Date(full.end)).format("yyyy/MM/dd hh:mm"));
                }
                },
                {
                    title: "活动状态", "mRender": function (data, type, full) {
                       if(full.blockFlag){
                    	  return "已结束";
                       }else{
                    	   return "正在进行";
                       }
                }
                },
                {
                    title: "操作", "mRender": function (data, type, full) {
                    var operation = "";
                    var url="${path.concat('/event/')}"+full.eventId;
                    var detail_btn = "<a class='ui green button' href='" + url + "'>详情</a>&nbsp;"
                    operation += detail_btn;
                    return operation;
                }
                }
            ],
            "language": {
                "processing": "正在加载中",
                "lengthMenu": "每页显示 _MENU_ 条记录",
                "zeroRecords": "抱歉， 没有找到",
                "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
                "infoEmpty": "暂无数据",
                "infoFiltered": "数据表中共 _MAX_ 条记录)",
                "zeroRecords": "当前暂无发布的活动",
                "search": "搜索:",
                "paginate": {
                    "first": "首页",
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页"
                }
            }
        });
    });
    
    $("#create").on('click', function () {
    	 var url="${path.concat('/event/create')}";
    	 window.location.href = url;
    });
    
 </script>