<div class="ui stackable padded grid" name="event_list">
	<div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">
                发布赠送活动
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">活动管理</a>
                        <div class="divider">/</div>
                        <a class="active">活动列表</a>
                        <div class="divider">/</div>
                        <a class="active section">发布赠送活动</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
	<div class="row">
        <div class="column">
            <div class="ui tablet stackable two steps">
                <div id="create_event" class="active step">
                    <i class="add to calendar icon"></i>
                    <div class="content">
                        <div class="title">创建活动</div>
                    </div>
                </div>
                <div id="create_question" class="disabled step">
                    <i class="comments outline icon"></i>
                    <div class="content">
                        <div class="title">创建问题</div>
                    </div>
                </div>
            </div>
			<div class="ui segment event_step">
                <div class="ui form">
                    <div class="field">
                        <label for="event_title">活动标题</label>
                        <input type="text" id="event_title" name="title" placeholder="活动标题"  required="required" autocomplete="off"/>
                    </div>
                    <div class="field">
                        <label for="event_nickname">活动链接</label>
                        <input type="text" id="event_nickname" name="nickname" placeholder="活动链接" required="required" autocomplete="off" />
                    </div>
					<div class="two fields">
                        <div class="field">
                            <label for="start_flatpickr">开始时间</label>
                            <div id="start_flatpickr" class="ui action input" data-time_24hr=true data-wrap="true">
                                <input id="start_time" type="text" name="start" placeholder="请选择开始时间" autocomplete="off" required="required" data-input>
                                <button class="ui basic button" data-toggle><i class="calendar outline icon"></i></button>
                                <button class="ui basic button" data-clear><i class="remove icon"></i></button>
                            </div>
                        </div>
                        <div class="field">
                            <label for="end_flatpickr">结束时间</label>
                            <div id="end_flatpickr" class="ui action input" data-time_24hr=true data-wrap="true">
                                <input id="end_time" type="text" name="end" placeholder="请选择结束时间" autocomplete="off" required="required" data-input>
                                <button class="ui basic button" data-toggle><i class="calendar outline icon"></i></button>
                                <button class="ui basic button" data-clear><i class="remove icon"></i></button>
                            </div>
                        </div>
					</div>
                </div>
			</div>
            <div class="ui segment question_step">
				<div id="question_form" class="ui form">
                    <button id="add_question" class="ui blue basic button">
                        <i class="icon plus"></i>
                        新增问题
                    </button>
				</div>
            </div>
            <div class="ui clearing basic segment event_step">
                <div id="next_btn" class="ui right floated teal disabled button" disabled="disabled">下一步</div>
            </div>
            <div class="ui clearing basic segment question_step">
                <div id="publish_btn" class="ui right floated teal button">发布活动</div>
                <div id="last_btn" class="ui right floated button">上一步</div>
            </div>
        </div>
	</div>
</div>
<script>
    var starttime = new Date();
    var start_flatpickr, end_flatpickr;

	$(document).ready(function(){
		$(".question_step").hide();

        start_flatpickr = $("#start_flatpickr").flatpickr({
            "locale": "zh",
			enableTime:true,
			enableSeconds:true,
            minuteIncrement:1,
            minDate: starttime,
            onChange: function (selectedDates, dateStr, instance) {
                end_flatpickr.set("minDate", dateStr);
            },
        });

        end_flatpickr = $("#end_flatpickr").flatpickr({
            "locale": "zh",
            enableTime:true,
            enableSeconds:true,
            minuteIncrement:1,
            minDate: starttime,
            onChange: function (selectedDates, dateStr, instance) {
                start_flatpickr.set("maxDate", dateStr);
            },
        });

		$("#event_title").on("input propertychange",function(){
			if(event_validate()){
				first_active();
			}else{
				first_inactive();
			}
		});

        $("#event_nickname").on("input propertychange",function(){
            if(event_validate()){
                first_active();
            }else{
                first_inactive();
            }
        });

        $("#start_time").on("input propertychange",function(){
            if(event_validate()){
                first_active();
            }else{
                first_inactive();
            }
        });

        $("#end_time").on("input propertychange",function(){
            if(event_validate()){
                first_active();
            }else{
                first_inactive();
            }
        });

        $('.ui.radio.checkbox')
                .checkbox()
        ;
	});

	$("#next_btn").click(function(){
		$(".event_step").hide();
		$(".question_step").show();
		$("#create_event").removeClass("active");
		$("#create_event").addClass("completed");
        $("#create_question").removeClass("disabled");
        $("#create_question").addClass("active");
	});

    $("#last_btn").click(function(){
        $(".question_step").hide();
        $(".event_step").show();
        $("#create_event").removeClass("completed");
        $("#create_event").addClass("active");
        $("#create_question").removeClass("active");
        $("#create_question").addClass("disabled");
    });

    $("#add_question").click(function(){
        var num=$("#question_form").find(".ui.dividing.header").length;
        var index=num+1;
        var h4=$("<h4></h4>");
        h4.addClass("ui dividing header");
        var rank=$("<span></span>");
        rank.html(index);
        h4.html("问题");
        h4.append(rank);
        $("#question_form").append(h4);
        var type_field=$("<div></div>");
        type_field.addClass("inline fields");
        var type="<label for='type'>问题类型：</label><div class='field'><div class='ui radio checkbox'><input type='radio' checked='' value='0'><label>单选</label></div></div><div class='field'><div class='ui radio checkbox'><input type='radio' value='1'><label>多选</label></div></div>";
        type_field.append(type);
        type_field.find("input[type='radio']").attr("name","type"+index);
        $("#question_form").append(type_field);
        var content_field=$("<div></div>");
        content_field.addClass("inline fields");
        var content="<label for='content'>问题内容：</label><div class='twelve wide field'><input type='text' placeholder='请输入问题内容' required='required' autocomplete='off' /></div>";
        content_field.append(content);
        content_field.find("input[type='text']").attr("name","content"+index);
        $("#question_form").append(content_field);
        var answer_field=$("<div></div>");
        answer_field.addClass("inline fields");
        answer_field.attr("title",index);
        var answer="<label for='answer'>问题选项：</label><div class='twelve wide field'><input type='text' placeholder='请输入选项内容' required='required' autocomplete='off' /></div><div class='one wide field'><button class='ui icon basic button' onclick='addAnswer(this)'><i class='icon plus'></i></button></div>";
        answer_field.append(answer);
        $("#question_form").append(answer_field);
    });

    function addAnswer(obj){
        var delete_btn=document.createElement("button");
        delete_btn.setAttribute("class","ui icon basic button");
        delete_btn.setAttribute("onclick","deleteAnswer(this)");
        var delete_div="<i class=\"icon minus\"></i>";
        delete_btn.innerHTML+=delete_div;
        var new_answer=document.createElement("div");
        new_answer.setAttribute("class","inline fields");
        var new_div="<label for='answer'>问题选项：</label><div class='twelve wide field'><input type='text' placeholder='请输入选项内容' required='required' autocomplete='off' /></div><div class='one wide field'><button class='ui icon basic button' onclick='addAnswer(this)'><i class='icon plus'></i></button></div>";
        new_answer.innerHTML+=new_div;
        var field=obj.parentNode;
        obj.remove();
        field.appendChild(delete_btn);
        var inline=field.parentNode;
        var title=inline.getAttribute("title");
        new_answer.setAttribute("title",title);
        insertAfter(new_answer,inline);
    }

    function deleteAnswer(obj){
        obj.parentNode.parentNode.remove();
    }

    function insertAfter(newElement,targetElement){
        var parent=targetElement.parentNode;
        if(parent.lastchild==targetElement){
            parent.appendChild(newElement);
        }else{
            parent.insertBefore(newElement,targetElement.nextSibling);
        }
    }

    function event_validate() {
        var title=$("#event_title").val();
		var nickname=$("#event_nickname").val();
		var starttime=$("#start_time").val();
        var endtime=$("#end_time").val();
        if (not_null(title)&&not_null(nickname)&&not_null(starttime)&&not_null(endtime)) {
            return true;
        }
        return false;
    }

    function first_active() {
        $("#next_btn").removeAttr("disabled");
        $("#next_btn").removeClass("disabled");
    }

    function first_inactive() {
        $("#next_btn").attr("disabled", "disabled");
        $("#next_btn").addClass("disabled");
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
    
    $("#publish_btn").click(function(){
        var title=$("#event_title").val();
        var nickname=$("#event_nickname").val();
        var startTime = $('#start_time').val();
        var endTime = $('#end_time').val();
        var questionList=new Array();
        var questionNum=$("#question_form").find(".ui.dividing.header").length;
        for(var i=1;i<=questionNum;i++){
            var question={};
            question.rank=i;
            question.type=$("input[name='type"+i+"']:checked").val();
            question.content=$("input[name='content"+i+"']").val();;
            var questionOptionList=new Array();
            $("div[title='"+i+"']").each(function(){
                var option=$(this).find("input[type='text']").val();
                questionOptionList.push(option);
            });
            question.questionOptionList=questionOptionList;
            questionList.push(question);
        }
    });
</script>