<div class="ui stackable padded grid" name="event_list">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">
                活动详情
                <div class="sub header">
                    <div class="ui breadcrumb">
                        <a class="section">活动管理</a>
                        <div class="divider">/</div>
                        <a class="active">活动列表</a>
                        <div class="divider">/</div>
                        <a class="active section">活动详情</a>
                    </div>
                </div>
            </div>
        </h1>
    </div>
    <div class="row">
       <a class="ui blue basic button" href="${path.concat('/event/present/')}${promotionEvent.eventId}">赠送订单</a>
    </div>
    <div class="sixteen wide column">
             #if(${promotionEvent})
             <div class="ui segments">
                <div class="ui segments">
                 <div class="ui segment">
                     	<div class="inline field">
							<label>活动标题： </label>
							<text>${promotionEvent.title}</text>
						</div>
                 </div>
                 <div class="ui segment">
                     	<div class="inline field">
							<label>活动链接： </label>
							<text>${promotionEvent.nickname}</text>
						</div>
                 </div>
                 <div class="ui segment">
                     	<div class="inline field">
							<label>当前状态： </label>
							<text>
							      #if(${promotionEvent.blockFlag})
                                    已结束
                                  #else
                                    正在进行
                                  #end
                            </text>
						</div>
                 </div>
               </div>
             </div>
             #end
    </div>
    <div class="row">
        <table id="config_list_table" class="ui tablet stackable table" cellspacing="0" width="100%">
        </table>
    </div>
</div>
<div class="ui modal" id="promotion_config_modal">
    <i class="close icon"></i>

    <div class="header">商品赠送配置修改</div>
    <div class="image content">
        <div class="description">
            <form class="ui form" id="config_form">
                <input type="hidden" id="goods_id"/>

                <div class="inline field">
                    <label>购买商品:</label>
                    <text id="buyGoods"></text>
                </div>
                <div class="inline field">
                    <label>满赠基准:</label>
                    <input type="number" id="criterion" value="0"
                           autocomplete="off"/>&nbsp;<span>件</span>
                </div>
                <div class="inline field">
                    <label>购买数量:</label>
                    <input type="number" id="full" value="0"
                           autocomplete="off"/>&nbsp;<span>件</span>
                </div>
                <div class="inline field">
                    <label>赠送数量:</label>
                    <input type="number" id="give" value="0"
                           autocomplete="off"/>&nbsp;<span>件</span>
                </div>
                <div class="inline field">
                    <label>赠送商品:</label>
                    <select id="gift" class="ui search dropdown">
                         <option value="">请输入赠送商品名</option>
                         #foreach( $elem in ${goodsList})
                         <option value="$elem.goodsId">$elem.name</option>
				         #end
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="actions">
        <div class="ui button" id="cancer">取消</div>
        <div class="ui disabled button" id="confirm" disabled="disabled">确认</div>
    </div>
</div>
<script>



$('#promotion_config_modal').modal('hide');

$("#confirm").on('click', function () {
    $('#promotion_config_modal').modal('hide');
	var criterion=$("#criterion").val();
	var full=$("#full").val();
	var give=$("#give").val();
	var giveGoods=$("#gift").val();
	var buyGoods=$("#goods_id").val();
	var data = {"criterion":criterion, "full": full,"give":give,"giveGoods":giveGoods,"buyGoods":buyGoods};
	$.ajax({
        type: "POST",
        url: "${path.concat('/event/promotionConfig/')}${promotionEvent.eventId}",
        data: JSON.stringify(data),
        processData: false,
        contentType: "application/json",
        success: function (data) {
        	window.location.href="${path.concat('/event/')}${promotionEvent.eventId}";               
        }
        
    });
});
$("#cancer").on('click', function () {
    $('#promotion_config_modal').modal('hide');
});

$(".ui.dropdown").dropdown();

function information_validate() {
    var upper_agent = $("#gift").val();
    if (not_null(upper_agent)) {
        return true;
    }
    return false;
}

function not_null(item) {
    if (item == null || item == "" || item.length <= 0) {
        return false;
    }
    return true;
}

function active() {
    $("#confirm").removeAttr("disabled");
    $("#confirm").removeClass("disabled");
}

function inactive() {
    $("#confirm").attr("disabled", "disabled");
    $("#confirm").addClass("disabled");
}

$("#gift").change(function () {
    if (information_validate()) {
        active();
    } else {
        inactive();
    }
});

$("#config_list_table").DataTable({
    searching: false,
    ordering: false,
    paging: true,
    "sPaginationType": "full_numbers",
    "bPaginate": true,
    "bLengthChange": true,
    "bAutoWidth": true,
    "bSort": false,
    "bDeferRender": true,
    "bProcessing": true,
    "bServerSide": true,
    "bInfoFiltered": false,
    "sAjaxSource": '${path.concat('/commodity/shelve')}',
    "infoFiltered": false,
    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
        $(nRow).removeClass('dataTable');
        $(nRow).css("text-align", "left");
        return nRow;
    },
    "fnInitComplete": function () {
        $("#config_overview_table").removeClass('no-footer');
    },
    "fnServerData": function (sSource, aoData, fnCallback) {
        $.ajax({
            "dataType": "json",
            "type": "POST",
            "url": sSource,
            "data": aoData,
            "success": fnCallback
        })
    },
    columns: [
        {title: "购买商品", "mData": "name"},      
        {
            title: "满赠基准", "mRender": function (data, type, full) {
                var url = "${path.concat('/event/promotionConfig/')}${promotionEvent.eventId}/" + full.goodsId;
                var option = "";
                $.ajax({
                    type: "get",
                    url: url,
                    async: false,
                    success: function (result) {
                        var data = result.data;
                        if (result.responseCode == "RESPONSE_OK") {
                            option += data[0].criterion;
                        } else {
                            option += "暂未配置";
                        }
                    }
                });
                return option;
            }
        },
        {
            title: "购买数量", "mRender": function (data, type, full) {
                var url = "${path.concat('/event/promotionConfig/')}${promotionEvent.eventId}/" + full.goodsId;
                var option = "";
                $.ajax({
                    type: "get",
                    url: url,
                    async: false,
                    success: function (result) {
                        var data = result.data;
                        if (result.responseCode == "RESPONSE_OK") {
                            option += data[0].full;
                        } else {
                            option += "暂未配置";
                        }
                    }
                });
                return option;
            }
        },
        {
            title: "赠送数量", "mRender": function (data, type, full) {
                var url = "${path.concat('/event/promotionConfig/')}${promotionEvent.eventId}/" + full.goodsId;
                var option = "";
                $.ajax({
                    type: "get",
                    url: url,
                    async: false,
                    success: function (result) {
                        var data = result.data;
                        if (result.responseCode == "RESPONSE_OK") {
                            option += data[0].give;
                        } else {
                            option += "暂未配置";
                        }
                    }
                });
                return option;
            }
        },
        {
            title: "赠送商品", "mRender": function (data, type, full) {
                var url = "${path.concat('/event/promotionConfig/')}${promotionEvent.eventId}/" + full.goodsId;
                var option = "";
                $.ajax({
                    type: "get",
                    url: url,
                    async: false,
                    success: function (result) {
                        var data = result.data;
                        if (result.responseCode == "RESPONSE_OK") {
                            option += data[0].giveGoods.name;
                        } else {
                            option += "暂未配置";
                        }
                    }
                });
                return option;
            }
        },
        {
            title: "操作", "mRender": function (data, type, full) {
                var operation = "";
                var update_button = "<button type='button' class='ui positive basic button' id='" + full.goodsId + "'>修改</button>&nbsp;"
                operation += update_button;
                $("#" + full.goodsId).on('click', function () {
                    $('#promotion_config_modal').modal('show');
                    var goodsId = full.goodsId;
                    $("#goods_id").val(goodsId);
                    var goodsname = full.name;
                    $("#buyGoods").text(goodsname);
                    var url = "${path.concat('/event/promotionConfig/')}${promotionEvent.eventId}/" + full.goodsId;
                    $.ajax({
                        type: "get",
                        url: url,
                        async: true,
                        success: function (result) {
                            var data = result.data;
                            if (result.responseCode == "RESPONSE_OK") {
                                $("#full").val(data[0].full);
                                $("#give").val(data[0].give);
                                $("#criterion").val(data[0].criterion);
                                $("#gift").val();
                                /* $("#gift").val(data[0].giveGoods.goodsId);
                                $("#gift").find(".text").text(data[0].giveGoods.name); */
                            }
                        }
                    });
                });
                return operation;
            }
        }
    ],
    "language": {
        "processing": "正在加载中",
        "lengthMenu": "每页显示 _MENU_ 条记录",
        "zeroRecords": "抱歉， 没有找到",
        "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
        "infoEmpty": "暂无数据",
        "infoFiltered": "数据表中共 _MAX_ 条记录)",
        "zeroRecords": "没有商品可供配置",
        "search": "搜索:",
        "paginate": {
            "first": "首页",
            "previous": "上一页",
            "next": "下一页",
            "last": "尾页"
        }
    }
});


</script>