<div class="box info-box bg-macaron-red">
    <span class="info-box-icon">
        <i class="inverted hourglass empty icon"></i>
    </span>

    <div class="info-box-content">
        <span class="info-box-text">当日销售</span>
        <span class="info-box-number" id="daily_sales"></span>
    </div>
</div>
<div class="box info-box bg-macaron-yellow">
    <span class="info-box-icon">
        <i class="inverted hourglass half icon"></i>
    </span>

    <div class="info-box-content">
        <span class="info-box-text">当月销售</span>
        <span class="info-box-number" id="monthly_sales"></span>
    </div>
</div>
<div class="box info-box bg-macaron-blue">
    <span class="info-box-icon">
        <i class="inverted hourglass full icon"></i>
    </span>

    <div class="info-box-content">
        <span class="info-box-text">累计销售</span>
        <span class="info-box-number" id="overall_sales"></span>
    </div>
</div>
<script>
    var daily_url = "${path.concat('/statistic/sales/volume/daily')}";
    var monthly_url = "${path.concat('/statistic/sales/volume/monthly')}";
    var overall_url = "${path.concat('/statistic/sales/volume/overall')}";
    $.get(overall_url, function (result) {
        if (result.responseCode == 'RESPONSE_OK') {
            $("#overall_sales").html(result.data + "元");
        } else {
            $("#overall_sales").html("暂无数据");
        }
    });
    $.get(monthly_url, function (result) {
        if (result.responseCode == 'RESPONSE_OK') {
            $("#monthly_sales").html(result.data + "元");
        } else {
            $("#monthly_sales").html("暂无数据");
        }
    });
    $.get(monthly_url, function (result) {
        if (result.responseCode == 'RESPONSE_OK') {
            $("#daily_sales").html(result.data + "元");
        } else {
            $("#daily_sales").html("暂无数据");
        }
    });
</script>
