<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="order-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 上传快递单 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#order-management">订单管理</a></li>
                <li class="active">上传快递单</li>
            </ol>
        </div>
    </div>
    
    <div class="row">
         <div class="col-md-12 col-lg-12" id="excelFile">
           <hr>
           #*
           <form class="form-horizontal required-validate" enctype="multipart/form-data" action="${path.concat('/express/upload')}" method="post">

             <div class="form-group">
               <label class="col-sm-4 col-md-4 col-lg-4 control-label">上传快递单数据</label>
               <div class="form-group has-feedback col-sm-8 col-md-8 col-lg-8">
                   <input type="file" id="expressFile" name="expressFile" multiple accept=".xls" data-min-file-count="1" data-show-preview="true"/>
            
              </div>             
            </div>  
            <div class="form-group">
                    <input type="submit" name="submit" value="提交">          
            </div>  

          </form>   
          *#       
          
            <form enctype="multipart/form-data" method="post" action="${path.concat('/express/upload')}">
                <label>上传快递单文件</label>
                <input id="uploadInput" name="excelFile" type="file" data-preview-file-type="text" multiple accept=".csv" data-min-file-count="1"
                            data-show-preview="true">
            </form>
        </div>
    </div>
    

<script>


  
 $('#uploadInput').fileinput({
        language: 'zh',
        
    }).on('fileuploaded', function (event, result) {
            alert(JSON.stringify(result));
    });;

                
  
 
</script>