<link rel="stylesheet" href="${path.concat('/material/css/common/address_plugin.css')}">
<link rel="stylesheet" href="${path.concat('/material/css/customer/event/apply.css')}">
<script type="text/javascript" src="${path.concat('/plugins/jquery/jquery.cityselect.js')}"></script>