<div id="wishes">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea id="wishes_content" name="wishes" class="weui_textarea" placeholder="我们会把您的祝福制成心愿卡片，替您转达" rows="3" maxlength="150"></textarea>
            <div class="weui_textarea_counter"><span id="written">0</span>/150</div>
        </div>
    </div>
    <div class="weui_btn_area">
        <button type="button" class="weui_btn weui_btn_plain_primary" id="prev_btn3">上一步</button>
        <button type="button" class="weui_btn weui_btn_primary" id="apply_btn">提交申请</button>
    </div>
</div>