#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>修改密码</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="tabbar">
        <div class="weui_tab_bd">
            <div class="hd">
                <h1 class="page_title">
                    修改密码
                </h1>

                <p class="page_desc">及时修改密码,确保您的账户安全</p>
            </div>
            <form id="modify_password_form">
                <div class="bd">
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">新密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" id="password" name="password" type="password" placeholder="设置账户密码"
                                   autocomplete="off"/>
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd">
                            <label class="weui_label">确认密码</label>
                        </div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" id="password2" name="password2" type="password"
                                   placeholder="再次输入密码"
                                   autocomplete="off"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="weui_btn_area">
                <button type="button" class="weui_btn weui_btn_disabled weui_btn_default" id="modify_password_btn"
                        disabled="disabled">修改
                </button>
            </div>
            <div class="weui_dialog_alert" id="dialog" style="display: none;">
                <div class="weui_mask"></div>
                <div class="weui_dialog">
                    <div class="weui_dialog_hd"><strong class="weui_dialog_title">消息</strong></div>
                    <div class="weui_dialog_bd"></div>
                    <div class="weui_dialog_ft">
                        <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
                    </div>
                </div>
            </div>
        </div>
        #parse("/agent/component/navigate.vm")
    </div>
</div>
</body>
<script>

    $(document).ready(function () {
        $("#password").bind("input propertychange", function () {
            if (change_security_validate()) {
                active();
            } else {
                inactive();
            }
        });
        $("#password2").bind("input propertychange", function () {
            if (change_security_validate()) {
                active();
            } else {
                inactive();
            }
        });
    });

    $.checkMatch = function () {
        var password = $("#password").val();
        var password2 = $("#password2").val();
        if (password == password2) {
            return true;
        }
        return false;
    }
    $("#modify_password_btn").click(function () {
        if (!$.checkMatch()) {
            $("#dialog").find(".weui_dialog_title").html("两次密码输入不一致");
            $("#dialog").fadeIn();
            $("#password").val("");
            $("#password2").val("");
            return;
        }
        $("#modify_password_form").attr("action", "${path.concat('/agent/modifypassword')}");
        $("#modify_password_form").attr("method", "post");
        $("#modify_password_form").submit();
    });

    $("#dialog").find(".weui_btn_dialog.primary").click(function () {
        $("#dialog").hide();
    });

    function active() {
        $("#modify_password_btn").removeAttr("disabled");
        $("#modify_password_btn").removeClass("weui_btn_disabled");
        $("#modify_password_btn").removeClass("weui_btn_default");
        $("#modify_password_btn").addClass("weui_btn_primary");
    }

    function inactive() {
        $("#modify_password_btn").attr("disabled", "disabled");
        $("#modify_password_btn").removeClass("weui_btn_primary");
        $("#modify_password_btn").addClass("weui_btn_default");
        $("#modify_password_btn").addClass("weui_btn_disabled");
    }

    function change_security_validate() {
        var first_password = $("#password").val();
        var confirm_password = $("#password2").val();
        if (not_null(first_password) && not_null(confirm_password)) {
            return true;
        }
        return false;
    }

    function not_null(item) {
        if (item == null || item == "" || item.length <= 0) {
            return false;
        }
        return true;
    }
</script>
</html>
<script>
    $("#info_me").addClass("weui_bar_item_on");
</script>