#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/agent/component/init.vm")
    <title>合作协议</title>
</head>
<body ontouchstart>
<div class="container">
    <div class="hd">
    	<h1 class="page_title">合作协议</h1>
    </div>
    <article class="weui_article">
    		<label class="weui_cell weui_check_label">
                <div class="weui_cell_bd weui_cell_primary problock" style="text-align:center;">
                   <a href="${path.concat('/material/protocol/1.pdf')}">《云草纲目社群营销合作协议书（试行版）》</a>
                </div>
            </label>
            <label class="weui_cell weui_check_label">
                <div class="weui_cell_bd weui_cell_primary problock" style="text-align:center;">
                    <a href="${path.concat('/material/protocol/2.pdf')}">《云草纲目社群拓展合作协议书（试行版）》</a>
                </div>
            </label>
            <label class="weui_cell weui_check_label">
                <div class="weui_cell_bd weui_cell_primary problock" style="text-align:center;">
                    <a href="${path.concat('/material/protocol/3.pdf')}">《社群管理规范》</a>
                </div>
            </label>
    </article>
    #parse("/agent/component/navigate.vm")
</div>
</body>
</html>