<div class="ui modal" id="create_config_modal">
	<i class="close icon"></i>
	<div class="header">新建返现配置</div>
	<div class="image content">
		<div class="description">
			<form class="ui form" role="form" id="create_config_form">
				<div class="inline fields">
					<label for="apply_radio" style="margin-right:2.86em">适用情况:</label>
					<div class="field">
						<div class="ui radio checkbox"  id="partial_apply_radio">
                                                                                                       <input type="radio" name="apply_radio">
                                                                                                       <label>部分适用</label>
                                                                                        </div>
					</div>
					<div class="field">
						<div class="ui radio checkbox" id="apply_radio">
                                                                                                       <input type="radio" name="apply_radio">
                                                                                                       <label>普遍适用</label>
                                                                                        </div>
					</div>
				</div>
				<div class="inline field" id="set_month">
					<label>适用月数选择:</label>
					<span>前</span>&nbsp;<select id="apply_months" class="ui search dropdown" name="applyMonths">
						<option value="">请选择月数</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
					</select>&nbsp;<span>个月适用</span>
				</div>
				<div class="inline field">
					<label>返现标准数量:</label>
					<input type="number" id="config_trigger" name="amountTrigger"
						value="0" autocomplete="off" />&nbsp;<span>件</span>
				</div>
				<div class="inline field">
					<label style="margin-right:2.86em">自己返现:</label>
					<input type="number" name="level1Percent" value="0"
						autocomplete="off" />&nbsp;<span>元/件</span>
				</div>
				<div class="inline field">
					<label>直接关联返现:</label>
					<input type="number" name="level2Percent" value="0"
						autocomplete="off" />&nbsp;<span>元/件</span>
				</div>
				<div class="inline field">
					<label>间接关联返现:</label>
					<input type="number" name="level3Percent" value="0"
						autocomplete="off" />&nbsp;<span>元/件</span>
				</div>
				<div class="inline field">
					<label style="margin-right:2.86em">月份配置:</label>
					<input type="number" name="monthConfig" value="1"
						autocomplete="off" />&nbsp;<span>个月</span>
				</div>

				<div class="field">
					<label>*已经存在某类型的适用情况的返现配置了，则不允许添加同类型的适用情况的返现配置，只能修改</label>
				</div>
			</form>
		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button" id="create_cancel">取消</div>
		<div class="ui positive button" id="create_confirm">确认</div>
	</div>
</div>
<script>
	$(".ui.dropdown").dropdown();
	$('.ui.radio.checkbox').checkbox();
	$("#partial_apply_radio").checkbox({
		onChecked:function(){
			$("#set_month").show();
		}
	});
	$("#apply_radio").checkbox({
		onChecked:function(){
			$("#set_month").hide();
			$("#apply_months").val("");
		}
	});
	$("#create_config_modal").modal('hide');
	$("#set_month").hide();
	$("#apply_months").val("");

	$("#create_confirm").on('click', function() {
		$("#create_config_modal").modal('hide');
		var url = "${path.concat('/cashback/config/create/')}${goodsId}";
		$("#create_config_form").attr("action", url);
		$("#create_config_form").attr("method", "post");
		if (!$("#set_month").is(":hidden")) {
			if ($("#apply_months").val() == "") {

			} else {
				$("#create_config_form").submit();
			}
		} else {
			$("#create_config_form").submit();
		}
	});
	
	$("#create_cancel").on('click', function() {
		$("#create_config_modal").modal('hide');
	});
</script>