<div class="ui modal" id="config_modal">
	<i class="close icon"></i>
	<div class="header">返现配置修改</div>
	<div class="image content">
		<div class="description">
			 <form class="ui form" id="config_form">
                    <input type="hidden" id="config_id"/>
                    <input type="hidden" id="goods_id"/>

                    <div class="inline field">
                        <label>选择的商品名称:</label>
                        <text id="goods_name"></text>
                    </div>
                    <div class="inline field">
                        <label>选择的商品单价:</label>
                        <text id="goods_price"></text>
                    </div>
                    <div class="inline field">
                        <label>返现的购买数量配置:</label>
                        <input type="number" id="config_trigger" name="amountTrigger" value="0" autocomplete="off"/>&nbsp;<span>盒-</span>
                        <input type="number" id="config_top_trigger" name="amountTriggerTop" value="0" autocomplete="off"/>&nbsp;<span>盒&nbsp;&nbsp;</span>
                        <label>*右边为0或空代表上限没有，例如10盒-0盒代表10盒以上</label>
                    </div>
                    <div class="inline field" id="config">
                        <label style="margin-right:3.86em">适用情况:</label>
                            <span>前</span>&nbsp;
                            <select id="apply_months2" class="ui search dropdown" name="applyMonths">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                            </select>&nbsp;
                            <span>个月适用</span>
                    </div>

                    <div class="inline field">
                        <label style="margin-right:3.86em">自己返现:</label>
                        <input type="number" id="config_percent_1" name="level1Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </div>
                    <div class="inline field">
                        <label style="margin-right:1.86em">直接关联返现:</label>
                        <input type="number" id="config_percent_2" name="level2Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </div>
                     <div class="inline field">
                        <label style="margin-right:1.86em">间接关联返现:</label>
                        <input type="number" id="config_percent_3" name="level3Percent" value="0"
                               autocomplete="off"/>&nbsp;<span>元/件</span>
                    </div>
                    <div class="inline field">
                        <label style="margin-right:3.86em">月份配置:</label>
                        <input type="number" id="month_config" name="monthConfig" value="1"
                               autocomplete="off"/>&nbsp;<span>个月</span>
                    </div>
                    <div class="field">
                        <label>*只有当代理每批次达到返现标准数量时,才有资格获得返现机会</label>
                    </div>
                    <div class="field">
                        <label>*并且只有当代理按照月份配置的月数，连续每个月达到返现标准,才有资格获得返现机会</label>
                    </div>
                </form>
		</div>
	</div>
	<div class="actions">
		<div class="ui cancel button" id="config_cancel">取消</div>
		<div class="ui positive button" id="config_confirm">确认</div>
	</div>
</div>
<script>
    $(".ui.dropdown").dropdown();

    $("#config_modal").modal('hide');
    $("#config_confirm").on('click', function () {
    	$("#config_modal").modal('hide');
        if ($("#goods_id").val() == "") {
            return;
        }
        var url = "${path.concat('/cashback/config/goods/')}" + $("#config_id").val()+"/"+$("#goods_id").val();
        $("#config_form").attr("action", url);
        $("#config_form").attr("method", "post");
        $("#config_form").submit();
    });
    
	$("#config_cancel").on('click', function() {
		$("#config_modal").modal('hide');
	});
</script>