<div class="ui stackable padded grid" name="cashback_overview">
    <div class="row">
        <h1 class="ui header">
            <i class="home icon"></i>
            <div class="content">
            返现配置
                <div class="sub header">
                        <div class="ui breadcrumb">
                            <a class="section">返现管理</a>
                            <div class="divider">/</div>
						    <a class="section">返现概览</a>
                            <div class="divider">/</div>
                            <a class="section">返现配置</a>
                            <div class="divider">/</div>
                            <a class="active section">返现配置列表</a>
                        </div>
                 </div>
            </div>
          </h1>
    </div>
        <div class="row">
            <button type="button" class="ui positive basic button" id="create">新建返现配置</button>&nbsp;
            <br>
        </div>
        <div class="row">
            <table id="config_list_table" class="ui striped table" cellspacing="0" width="100%">
            </table>
        </div>
</div>
#parse("/backend/cashback/component/cashback_config_modal.vm")
#parse("/backend/cashback/component/cashback_create_config_modal.vm")
<script>
$(document).ready(function () {
    $("#config_list_table").DataTable({
        searching: false,
        ordering: false,
        paging: true,
        "sPaginationType": "full_numbers",
        "bPaginate": true,
        "bLengthChange": true,
        "bAutoWidth": true,
        "bSort": false,
        "bDeferRender": true,
        "bProcessing": true,
        "bServerSide": true,
        "bInfoFiltered": false,
        "sAjaxSource": '${path.concat('/cashback/config/overview/')}${goodsId}',
        "infoFiltered": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            $(nRow).removeClass('dataTable');
            $(nRow).css("text-align", "left");
            return nRow;
        },
        "fnInitComplete": function () {
            $("#config_overview_table").removeClass('no-footer');
        },
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                "dataType": "json",
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            })
        },
        columns: [
                  {title: "商品名称", "mData": "goods.name"},
            {
                title: "适用情况", "mRender": function (data, type, full) {
                var operation = "";
                if(full.universal){
                	operation = "普遍适用";
                }else{
                	operation = "前"+full.universalMonth+"个月适用";
                }
                return operation;
            }
            },
            {title: "当前配置(件)", "mData": "amountTrigger"},
            {title: "月份配置(个月)", "mData": "monthConfig"},
            {title: "自己返现(元/件)", "mData": "level1Percent"},
            {title: "直接关联返现(元/件)", "mData": "level2Percent"}, 
            {title: "间接关联返现(元/件)", "mData": "level3Percent"},
            {
                title: "操作", "mRender": function (data, type, full) {
                var operation = "";
                var update_button = "<button type='button' class='ui positive basic button' id='" + full.refundConfigId + "'>修改</button>&nbsp;"
                operation += update_button;
                $("#" + full.refundConfigId).on('click', function () {
                	$("#config_modal").modal('show');
                    var configId = full.refundConfigId;
                    $("#config_id").val(configId);
                    $("#goods_id").val(full.goods.goodsId);
                    var goodsname = full.goods.name;
                    $("#goods_name").text(goodsname);
                    var goodsprice = full.goods.agentPrice;
                    $("#goods_price").text(goodsprice + "元");
                    var url = "${path.concat('/cashback/config/goods/')}" + full.refundConfigId;
                    $.ajax({
                        type: "get",
                        url: url,
                        async: true,
                        success: function (result) {
                            var config = result.data;
                            if (result.responseCode == "RESPONSE_OK") { 
                                $("#config_trigger").val(config.amountTrigger);
                                $("#config_percent_1").val(config.level1Percent);
                                $("#config_percent_2").val(config.level2Percent);
                                $("#config_percent_3").val(config.level3Percent);
                                $("#month_config").val(config.monthConfig);
                                if(config.universal){                          
                                     $("#config").empty();
                                     var node = "<label style='margin-right:3.86em'>适用情况:</label><input type='text' id='apply_months2' name='applyMonths' value='普遍适用' autocomplete='off' readonly/>&nbsp;";
                                     $("#config").append(node);
                                }else{
                                	$("#config").empty();
                                    var node="<label style='margin-right:3.86em'>适用情况:</label><select id='apply_months2' name='applyMonths' class='ui search dropdown'><option value='1' id='1'>1</option><option value='2' id='2'>2</option><option value='3' id='3'>3</option>" + 
                                    "<option value='4' id='4'>4</option><option value='5' id='5'>5</option><option value='6' id='6'>6</option><option value='7' id='7'>7</option>"+
                                    "<option value='8' id='8'>8</option><option value='9' id='9'>9</option>"+
                                    "<option value='10' id='10'>10</option><option value='11' id='11'>11</option><option value='12' id='12'>12</option>"+
                                    "<span>个月适用</span></div>";                                              
                                    $("#config").append(node);
                                    var id=config.universalMonth;
                                    $("#"+id).attr("selected","selected");
                                }
                            }else{
                                if($("#set_month2").length&&$("#set_month2").length>0){
                                	$("#set_month2").remove();
                                	var node = "input type='text' id='apply_months2' name='applyMonths' value='普遍适用' autocomplete='off' readonly/>";
                                    $("#config_modal").append(node);
                                }
                            }
                        }
                    });
                });

                return operation;
            }
            }
        ],
        "language": {
            "processing": "正在加载中",
            "lengthMenu": "每页显示 _MENU_ 条记录",
            "zeroRecords": "抱歉， 没有找到",
            "info": "从 _START_ 到 _END_, 共 _TOTAL_ 条数据",
            "infoEmpty": "暂无数据",
            "infoFiltered": "数据表中共 _MAX_ 条记录)",
            "zeroRecords": "暂时没有该商品的返现配置",
            "search": "搜索:",
            "paginate": {
                "first": "首页",
                "previous": "上一页",
                "next": "下一页",
                "last": "尾页"
            }
        }
    });
});

$("#create").on('click',function() {
	$("#create_config_modal").modal('show');
});
	

</script>