body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-x: hidden;
    background-color: #fbf9fe
}

.container {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.container > div {
    background-color: #fbf9fe
}

.hd {
    padding: 2em 0
}

.page_title {
    text-align: center;
    font-size: 2.125em;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%
}

.page_desc {
    text-align: center;
    color: #888;
    font-size: 0.875em;
}

.bd.spacing {
    padding: 0 0.9375em;
}

.home {
    padding-bottom: 1.875em;
}

.button .page_title {
    color: #225fba
}

.button .bd {
    padding: 0 0.9375em;
}

.button .button_sp_area {
    padding: 0.625em 0;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 0
}

.button .button_sp_area:after {
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    content: "."
}

.cell .page_title {
    color: #225fba
}

.cell .bd {
    padding-bottom: 1.875em;
}

.dialog .bd, .toast .bd {
    padding: 7.5em 0.9375em 0
}

.msg {
    background-color: #fff
}

.panel .bd {
    padding-bottom: 1.25em;
}

.article {
    background-color: #fff
}

.article .page_title {
    color: #de7c23
}

.icons {
    background-color: #fff;
    text-align: center
}

.icons .page_title {
    color: #3e24bd
}

.icons .bd {
    padding: 1.875em 0;
    text-align: center
}

.icons .icon_sp_area {
    padding: 0.625em 1.25em;
    text-align: left
}

.icons i {
    margin: 0 0.3125em 0.625em;
}

.tabbar {
    height: 100%
}

.search_show {
    display: none;
    margin-top: 0;
    font-size: 0.875em;
}

.search_show .weui_cell_bd {
    padding: 0.125em 0 0.125em 1.25em;
    color: #666
}

.icon {
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    vertical-align: middle
}

.icon_button {
    background: url(../../images/icon_nav_button.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_cell {
    background: url(../../images/icon_nav_cell.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_toast {
    background: url(../../images/icon_nav_toast.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_dialog {
    background: url(../../images/icon_nav_dialog.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_progress {
    background: url(../../images/icon_nav_progress.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_msg {
    background: url(../../images/icon_nav_msg.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_article {
    background: url(../../images/icon_nav_article.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_actionSheet {
    background: url(../../images/icon_nav_actionSheet.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_icons {
    background: url(../../images/icon_nav_icons.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_panel {
    background: url(../../images/icon_nav_panel.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_tab {
    background: url(../../images/icon_nav_tab.png) no-repeat;
    background-size: 1.75em 1.75em
}

.icon_search_bar {
    background: url(../../images/icon_nav_search_bar.png) no-repeat;
    background-size: 1.75em 1.75em
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes a {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

@keyframes b {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 0
    }
}

.enter, .leave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1
}

.enter {
    -webkit-animation: a .2s forwards;
    animation: a .2s forwards
}

.leave {
    -webkit-animation: b .25s forwards;
    animation: b .25s forwards
}

.clear-padding-left {
    padding-left: 0;
}

.clear-margin-top {
    margin-top: 0;
}

.order {
    height: 100%;
}

.order_content {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding-bottom: 8.125em;
    -webkit-overflow-scrolling: touch;
}

.order_summary:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.0625em;
    border-top: 0.0625em solid #979797;
    color: #979797;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.order_summary {
    position: absolute;
    width: 100%;
    padding-bottom: 3.125em;
    bottom: 0;
    flex: 1;
}

.protocol{
	margin-top:0em;
}

.procheckbox{
	margin-left:0.375em;
	margin-right:0.3em;
}
.problock{
	padding-top:0.2em;
}
.problock p{
	display:inline;
	font-size:0.8em;
}
.problock a{
	font-size:0.73em;
	text-decoration:underline;
}

.weui_uploader_bd{
	margin-bottom:0;
}

.register_hide,.hidden-xs,.kv-upload-progress,.file-zoom-dialog,.fileinput-remove,.file-thumbnail-footer{
	display:none;
}

.weui_uploader_input_wrp{
	display:inline-block;
	float: left;
    position: relative;
    margin-left:5%;
    margin-right:8%;
    margin-bottom: 1em;
    width: 37%;
    height: 17%;
    border: 0;
    text-align:center;
}

.new_weui_uploader_input_wrp{
	display:inline-block;
	float: left;
    position: relative;
    margin-left:5%;
    margin-right:8%;
    margin-bottom: 1em;
    width: 37%;
    height: 17%;
    border: 0;
    text-align:center;
}

.file-input{
    width: 100%;
    height: 100%;
    border: 0;
}

.btn-file{
    width: 100%;
    height: 100%;
    border: 0.0625em solid #D9D9D9;
}


.file-preview{
	padding: 0;
    margin-bottom:1em;
    border: 0;
}

.file-preview-frame{
	display:block;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.file-initial-thumbs{
	width: 100%;
    height: 100%;
}
.kv-file-content{
	width: 100%;
    height: 100%;
}
.file-preview-image{
	width: 100%;
	height: 100%;
}

.draw_border{
	border: 0.0625em solid #D9D9D9;
}

.tips{
	color:#808080;
}

.upload_label{
	margin-left:3%;
}

.upload_example{
	margin-right:5%;
}

.wx_img,.example_img{
	width:100%;
	height:100%;
}

.example{
	display:inline-block;
	float: right;
    position: relative;
    margin-right:6%;
    margin-bottom: 1em;
    width: 37%;
    height: 17%;
    border: 0;
    text-align:center;
}

#identity_verification1{
	border-bottom: 0.05em solid #D9D9D9;
}

#identity_verification3{
	border-bottom: 0.05em solid #D9D9D9;
}
