<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id-target="shipment-management">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1><i class="fa fa-home"></i> 发货配置 </h1>
            <ol class="breadcrumb">
                <li><a href="${path.concat('/dashboard')}">首页</a></li>
                <li><a data-toggle="collapse" data-parent="#accordion" href="#shipment-management">基本配置</a></li>
                <li class="active">发货配置</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-success" style="display: none;">
                恭喜您,配置成功!
            </div>
            <div class="alert alert-danger" style="display: none;">
                对不起,配置失败.
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 col-md-1 col-lg-1 control-label">
                        发货日期
                    </label>

                    <div class="col-sm-10 col-md-10 col-lg-10 btn-toolbar">
                        <div class="btn-group">
                            #foreach($i in [1..10])
                                <button type="button" class="btn btn-default option" option-value="${i}">${i}</button>
                            #end
                        </div>
                        <div class="btn-group">
                            #foreach($i in [11..20])
                                <button type="button" class="btn btn-default option" option-value="${i}">${i}</button>
                            #end
                        </div>
                        <div class="btn-group">
                            #foreach($i in [21..30])
                                <button type="button" class="btn btn-default option" option-value="${i}">${i}</button>
                            #end
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <button type="button" id="save_config_btn"
                        class="btn btn-primary col-sm-offset-1 col-md-offset-1 col-lg-offset-1" data-toggle="modal"
                        data-target="#config_modal">保存配置
                </button>
            </div>
        </div>
    </div>
</div>
#parse("/backend/shipment/component/config_modal.vm")
<script>
    $(document).ready(function () {
        var list = new Array();

        var config = eval('${config}');
        var button_list = $("button[option-value]");
        for (var i = 0; i < config.length; i++) {
            var item = button_list.eq(config[i].date - 1);
            list.push(config[i].date);
            item.removeClass("btn-default");
            item.addClass("btn-info");
        }

        $(".option").on('click', function () {
            var value = parseInt($(this).attr("option-value"));
            var index = list.indexOf((value));
            if (index == -1) {
                $(this).removeClass("btn-default");
                $(this).addClass("btn-info");
                list.push(value);
            } else {
                $(this).removeClass("btn-info");
                $(this).addClass("btn-default");
                list.splice(index, 1);
            }
        });

        $("#save_config_btn").on('click', function () {
            $("#date_setting").text("");
            list.sort(function (a, b) {
                return parseInt(a) > parseInt(b) ? 1 : -1;
            });
            var value = "";
            if (list.length == 0) {
                value += "未选择";
                $("#date_setting").text(value);
            }
            for (var i = 0; i < list.length; i++) {
                value += list[i] + "号";
                if (i == list.length - 1) {
                    $("#date_setting").text(value);
                    return;
                }
                value += ", ";
            }
        });

        $("#config_confirm").on('click', function () {
            var url = "${path.concat('/shipment/config')}";
            $.post(url, {date: JSON.stringify(list)}, function (result) {
                if (result.responseCode == "RESPONSE_OK") {
                    $(".alert-success").show();
                } else {
                    $(".alert-danger").show();
                }
            });
        });
    });
</script>