<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="promotion/sunshine/mapper/event.xml"/>
        <mapper resource="promotion/sunshine/mapper/eventapplication.xml"></mapper>
        <mapper resource="promotion/sunshine/mapper/questionoption.xml"></mapper>
        <mapper resource="promotion/sunshine/mapper/questionanswer.xml"></mapper>
        <mapper resource="promotion/sunshine/mapper/follower.xml"></mapper>
    </mappers>
</configuration>