<div id="agent_rank_charts" class="container-fluid">
</div>
<script>
    var agent_rank_url = "${path.concat('/statistic/agent/rank')}";

    $.get(agent_rank_url, function (result) {
        if (result.responseCode != "RESPONSE_ERROR") {
            var data = result.data;

            for (var i = 0; i < data.length; i++) {
                console.debug(JSON.stringify(data[i]));

                var rank_charts_inner_div = $("<div></div>");
                var id = "rank_charts_" + data[i].goods_id;
                rank_charts_inner_div.attr('id', id);
                rank_charts_inner_div.attr('style', "height: 350px;");
                $("#agent_rank_charts").append(rank_charts_inner_div);

                var rank_chart = echarts.init(document.getElementById(id), 'macarons');

                var name = data[i].name;

                var agents = data[i].agent_info;
                var total = data[i].total_quantity;
                var agent_list = [];
                var chart_data = [];
                var sum = 0;
                for (var i = 0; i < agents.length; i++) {
                    agent_list.push(agents[i].agent_name);
                    chart_data.push({name: agents[i].agent_name, value: agents[i].quantity});
                    sum += agents[i].quantity;
                }
                agent_list.push("其他");
                chart_data.push({name: "其他", value: total - sum});

                option = {
                    title: {
                        text: "代理销售排名",
                        subtext: name,
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: agent_list
                    },
                    series: [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: chart_data,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                }

                rank_chart.setOption(option);
            }
        } else if (result.responseCode == "RESPONSE_ERROR") {
            console.error(result.description);
        }
    });
</script>