<div id="goods_sales_volume" class="container-fluid" style="height: 350px;"></div>
<script>
    var goods_sales_volume = "${path.concat('/commodity/volume')}";

    $(document).ready(function () {
        $.get(goods_sales_volume, function (result) {
            if (result.responseCode != "RESPONSE_ERROR") {
                var data = result.data;
                var volume_chart = echarts.init(document.getElementById('goods_sales_volume'));
                var goods_list = [];
                var goods_sale_monthly = [];
                var goods_sale_overall = [];
                var length = data.length;
                for (var i = 0; i < length; i++) {
                    goods_list.push(data[i].goodsName);
                    goods_sale_monthly.push(data[i].monthQuantity);
                    goods_sale_overall.push(data[i].overallQuantity);
                }
                option = {
                    title: {
                        text: '商品销售统计'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ["当月销量", "累计销量"]
                    },
                    color: [
                        '#2ec7c9', '#b6a2de', '#5ab1ef', '#ffb980', '#d87a80',
                        '#8d98b3', '#e5cf0d', '#97b552', '#95706d', '#dc69aa',
                        '#07a2a4', '#9a7fd1', '#588dd5', '#f5994e', '#c05050',
                        '#59678c', '#c9ab00', '#7eb00a', '#6f5553', '#c14089'
                    ],
                    calculable: true,
                    xAxis: [
                        {
                            type: 'value',
                            boundaryGap: [0, 0.1]
                        }
                    ],
                    yAxis: [
                        {
                            type: 'category',
                            data: goods_list,
                            axisLabel: {
                                interval: 0
                            }
                        }
                    ],
                    series: [
                        {
                            name: '当月销量',
                            type: 'bar',
                            data: goods_sale_monthly
                        },
                        {
                            name: '累计销量',
                            type: 'bar',
                            data: goods_sale_overall
                        }
                    ]
                };
                volume_chart.setOption(option);
                window.addEventListener('resize', function () {
                    volume_chart.resize();
                });
            } else if (result.responseCode == "RESPONSE_ERROR") {
                console.error(result.description);
            }
        });
    });
</script>
