#parse("/common/util.vm")
<html lang="zh_CN">
<head>
    #parse("/backend/component/init.vm")
    #parse("/backend/component/init_datatable.vm")
    <title>提现概览</title>
</head>
<body>
    #parse("/backend/component/navigate_with_login.vm")
<div>
    #parse("/backend/component/sidebar.vm")
    #parse("/backend/withdraw/component/withdraw_overview_table.vm")
</div>
</body>
</html>